.customizer-popup {
  .popup-window {
    max-width: calc(100% - #{$gutter*2});
    max-height: none;
    width: 800px;
    top: 20px;
    bottom: 20px;
    transform: translate(-50%, 0%);
    @include mobile {
      left: 50%;
      width: 90%;
    }
  }
}
.customizer {
  padding: $gutter*2 0;
  width: 500px;
  max-width: calc(100% - #{$gutter*2});
  margin: 0 auto;
  text-align: center;
  @include mobile {
    padding: 25px 0;
  }
  .title {
    margin-top: $gutter;
  }
  .subtitle {
    margin-top: $gutter;
    font-size: $fz-5;
  }
}
.customizer__logo { 
  img, svg {
    height: 30px;
    @include mobile {
      height: 22px;
    }
  }
}
.customizer__form {
  margin-top: $gutter;
  text-align: left;
  .btn, .input, .textarea {
    width: 100%;
  }
  .label {
    margin-bottom: $gutter/2;
    font-size: $fz-5;
  }
  .field {
    margin-top: $gutter*2;
  }
  .btn {
    margin-top: $gutter;
  }
}
.customizer__type {
  display: flex;
  justify-content: center;
  .checkbox {
    margin: 0 $gutter;
    @include mobile {
      margin: 0 10px;
    }
  }
}