.product-options {
  margin-top: $gutter;
  display: flex;
  align-items: center;
}
.product-options__title {
  width: 70px;
  font-size: $fz-6;
  font-family: $ff-3;
  font-weight: bold;
  letter-spacing: $ls-1;
  text-transform: uppercase;
}
.product-options__list {
  margin-left: 50px;
  margin-top: 10px;
  flex: 1;
  .select {
    width: 100%;
    font-size: $fz-5;
  }
}
.product-option {
  margin-left: $gutter;
  input {
    display: none;
    &:checked+.product-option__label {
      border-color: currentColor;
    }
    &:disabled+.product-option__label {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
.product-option__label {
  margin-bottom: 0;
  border-bottom: 1px solid transparent;
  font-size: $fz-5;
  text-align: center;
  cursor: pointer;
}
.product-option__text {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 1.75em;
}
.product-options__low,
.product-options__eta {
  height: 1.25em;
  padding-left: $gutter;
  margin-left: $gutter;
  border-left: 1px solid currentColor;
  color: $color-grey-dark;
  line-height: 1;
}

// Size options
.product-options.m-size {
  .product-options__title {
    position: relative;
    .btn {
      min-width: 0;
      height: 30px;
      padding: 0 $gutter;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      font-size: 10px;
      color: $color-body;
      i {
        margin-right: 10px;
        padding-left: 0.15em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.75em;
        height: 1.75em;
        border-radius: 50%;
        border: 1px solid currentColor;
        font-size: 1.5em;
      }
    }
  }
}

// Colors options
.product-options.m-color {
  .product-option.m-checked {
    .product-option__label {
      border-color: currentColor;
    }
  }
  .product-option__text {
    height: 40px;
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }
}

.product-add-to-cart {
  margin-top: $gutter;
  display: flex;
  justify-content: space-between;
  @include mobile {
    display: block;
    .add-to-cart {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 20px;
    }
    .customize-btn {
      width: 100%;
      margin: 0;
    }
  }
}
.add-to-cart {
  min-width: 200px;
  max-width: 200px;
  text-transform: uppercase;
}
.customize-btn {
  flex: 1;
  margin-left: 30px;
  text-transform: uppercase;
  white-space: nowrap;
}
.product-monogram {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  .input {
    font-size: $fz-5;
  }
  .label {
    font-size: $fz-5;
    @include mobile {
      font-weight: 400;
    }
  }
  .field {
    margin-top: 0;
  }
  .checkbox .label:before {
    @include mobile {
      width: 35px;
    }
  }
}