// Product images:
.product-images {
  position: relative;
  background-size: contain;
  text-align: left;
  img {
    height: calc(100vh - 150px);
    max-height: 700px;
    width: 100%;
    object-fit: cover;
    @include mobile {
      height: calc(75vh - 150px);
    }
  }
}


.product-photos {

  .product-photos-more {
    position: relative;
    margin-top: $gutter*2;
    overflow: hidden;
    a {
      cursor: -moz-zoom-in;
      cursor: -webkit-zoom-in;
      cursor: zoom-in;
    }

    // &:before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   right: 0;
    //   top: 0;
    //   bottom: 0;
    //   background: #666;
    //   opacity: 0.1;
    //   z-index: 1;
    //   -webkit-filter: opacity(0.5);
    //   filter: opacity(0.5);
    // }

    .rimage {
      padding-top: 100%!important;
    }
  }
}

@include mobile {
  .product-slider {
    left: 0;
    .slick-prev {
      left: 0;
    }
    .slick-next {
      right: 0;
    }
  }
  .product-images {
    height: auto;
  }
}