.product-info {
  width: 500px;
  padding-top: 0;
  @include mobile {
    width: 100%;
    margin-top: 30px;
  }
  a {
    text-decoration: underline;
  }
  .pretitle {
    font-size: $fz-3;
  }
  .title {
    margin-top: 0;
  }
  .subtitle {
    font-size: $fz-4;
  }
}

.product-price {
  margin-top: $gutter*2;
  font-size: $fz-2;
  //font-family: $ff-title;
  font-weight: 500;
}
.was-price {
  color: $color-grey-light;
  text-decoration: line-through;
}
.help-info {
  margin-top: 30px;
  font-size: $fz-4;
  @include mobile {
    font-size: 14px;
  }
  p {
    margin-bottom: 0;
  }
  .icon-email {
    font-size: 10px;
  }
  .icon-phone {
    font-size: 15px;
  }
}
.help-info__title {
  margin-bottom: 15px;
  font-family: $ff-3;
  letter-spacing: $ls-1;
  font-weight: bold;
  font-size: $fz-6;
}
.help-info__icon {
  min-width: 30px;
  max-width: 30px;
}
.help-info__text {
  margin-top: 10px;
  display: flex;
  align-items: baseline;
}

