.product-main {
  position: relative;
  .scroll-next {
    bottom: 0
  }
}

.product-main__container {
  display: flex;
  flex-wrap: nowrap;
  @include mobile {
    flex-direction: column;
  }
}

.product-main__left,
.product-main__right {
  position: relative;
}
.product-main__left {
  width: 50%;
  padding-right: $gutter;
  @include mobile {
    width: 100%;
    padding-right: 0;
  }
}
.product-main__right {
  display: flex;
  justify-content: center;
  flex: 1;
}