.size-guide {
  width: 700px;
  margin: 120px;
  .title {
    font-size: 18px;
    letter-spacing: 0.1em;
  }
}

.size-guide__info {
  margin-top: $gutter*2;
  table {
    margin-top: $gutter*3;
    font-size: 13px;
    span {
      color: inherit !important;
      font-size: inherit !important;
      font-family: inherit !important;
      font-weight: inherit !important;
    }
    tr:first-child {
      border-top: 1px solid $color-black;
      border-bottom: 1px solid $color-black;
      td {
        font-weight: bold;
      }
    }
    tr:last-child {
      border-bottom: 1px solid $color-black;
    }
    td {
      padding: 10px 0;
      text-align: center;
    }
  }
}