.product__video-control {
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 20px;
    background: #000;
    border-radius: 30px;
    line-height: 13px;
    margin: auto;
    text-align: center;
    border: 2px solid #000;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    padding: 5px 13px;
    letter-spacing: 2px;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    &:active, &:focus {
        outline: 0;
        border: none;
        -moz-outline-style: none;
    }
}

.product__video-wrapper {
    background: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    &:active, &:focus {
        outline: 0;
        border: none;
        -moz-outline-style: none;
    }
    .product-single__media {
        text-align: center;
        video {
            height: calc(110vh - 150px);
            border: none;
            @include mobile {
                height: calc(75vh - 150px);
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border: 20px solid #fff;
            }
        }
    }
}