<!-- <style>
  #shopify-section-{{ section.id }} {
    padding: {{ set.ptop }}px 0 {{ set.pbottom }}px;
  }
  @media (max-width: 989px) {
    #shopify-section-{{ section.id }} {
      padding: {{ set.ptop_mob }}px 0 {{ set.pbottom_mob }}px;
    }
  }
</style> -->

<header class="article-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8">
        <h1 class="ta-center title not-animated m-black">{{ article.title }}</h1>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <article class="article">
        <div class="article__container">
          <div class="article__content-wrap">
            <div class="article__content rte">{{ article.content }}</div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>