<style>
  #shopify-section-{{ section.id }} {
    padding: {{ set.ptop }}px 0 {{ set.pbottom }}px;
    background-color: {{ set.sectionbg }};
  }
  @media (max-width: 989px) {
    #shopify-section-{{ section.id }} {
      padding: {{ set.ptop_mob }}px 0 {{ set.pbottom_mob }}px;
    }
  }
</style>


<div class="section posts main-blog">
  <div class="container">
    <div class="posts__grid">
      <div class="row">
        {%- capture class -%}
          {%- include 'column-width', { device: 'md', columns: set.posts_per_row  } -%}
          {%- include 'column-width', { columns: set.posts_per_row_mobile  } -%}
        {%- endcapture -%}
        {%- assign i = 100 -%}
        {%- for article in articles -%}
          <div class="{{ class | strip }}" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true" data-aos-delay="{{ i }}">
            {%- include 'post-cell' -%}
          </div>
          {%- assign i = i | plus : 100 -%}
        {%- endfor -%}
      </div>
    </div>
    <div class="posts__pagination">
      {% include 'pagination' %}
    </div>
  </div>
</div>