<style>
  #shopify-section-{{ section.id }} {
    padding: {{ set.ptop }}px 0 {{ set.pbottom }}px;
    background-color: {{ set.sectionbg }};
  }
  @media (max-width: 989px) {
    #shopify-section-{{ section.id }} {
      padding: {{ set.ptop_mob }}px 0 {{ set.pbottom_mob }}px;
    }
  }
</style>

{% if template == 'article.recipes' %}
  {% assign postType = 'featured' %}
{% endif %}

<div class="section posts posts--related">
  {% include 'section-bg-image' %}
  <div class="container">
    {% if set.title != blank %}
      <h3 class="title ta-center h3 m-black mb-5">{{ set.title }}</h3>
    {% endif %}
    <div class="posts__grid">
      <div class="row">
        {%- capture class -%}
          {%- include 'column-width', { device: 'md', columns: set.posts_per_row  } -%}
          {%- include 'column-width', { columns: set.posts_per_row_mobile  } -%}
        {%- endcapture -%}
        {% assign thisArticle = article %}
        {% assign counter = 0 %}
        {%- for article in blog.articles -%}
          {% if article.handle != thisArticle.handle and counter < set.max_posts %}
            <div class="{{ class | strip }}" data-animate-section>
              {%- include 'post-cell', type: postType -%}
            </div>
            {% assign counter = counter | plus: 1 %}
          {% endif %}
        {%- endfor -%}
      </div>
    </div>  <!-- ./ .posts__grid -->
    <div class="ta-center">
      {% include 'button', {
        top: set.btntop,
        id: section.id,
        text: set.btn,
        url: blog.url,
        class: 'm-outline m-animated'
      } %}
    </div>
  </div> <!-- ./ .container -->
</div>