{% if text != blank and text != "" %}
  <style>
    #button-id-{{ id }} {
      margin-top: {{ top }}px;
      color: {{ color }};
      background: {{ bg }};
      border-color: {{ border }};
    }
    #button-id-{{ id }}:hover {
      color: {{ colorH }};
      background: {{ bgH }};
      border-color: {{ borderH }};
    }
  </style>

  {% if type == 'submit' %}
    <button type="submit" id="button-id-{{ id }}" class="btn {{ class }}" {{ data_attr }}>{{ text }}</button>
  {% else %}
    <a href="{{ url }}" id="button-id-{{ id }}" class="btn {{ class }}" {{ data_attr }}>{{ text }}</a>
  {% endif %} 
{% endif %}