<div class="cart-summary">
  <div></div>
  <div class="order-summary-box">
    <div class="order-summary-box__prices">
      <h3 class="prices-summary"> 
        <span>{{ 'cart.general.subtotal' | t }}:</span> 
        <span>{{ cart.items_subtotal_price | money }}</span>
      </h3>
    </div>
  
    <div class="d-flex align-items-start justify-content-end">
      <div class="label">Shipping & Taxes <br>Calculated At Checkout</div>
      <div>
        <button type="submit" name="checkout" class="btn m-black">
          {{ 'cart.general.checkout' | t }}
        </button>
      </div>
    </div>
    <a href="{{ set.continueurl }}" class="link no-hover-link"><i class="icon-arrow-left"></i>{{ set.continuetitle }}</a>
  </div>
</div>