{% render 'section-styles', section: section %}

<div class="collection {% if settings.collection_type == 'layout2' %}m-layout-2{% endif %}">

  <div class="container">
    <h1 class="title not-animated">{{ collection.title }}</h1>
    <div class="subtitle not-animated">
      {% if collection.description != blank %}
        {{ collection.description }}
      {% endif %}
    </div>
    <div class="section__content">
      <div id="gf-products" class="products-grid {% if settings.collection_type == 'layout2' %}m-layout-2{% endif %}">
        {% for product in collection.products %}
          <div class="product-cell-wrap">
            {% render 'product-cell', { product: product } %}
          </div>

        {% endfor %}
      </div> <!-- /.products-grid -->
    </div>
  </div>
</div>

{% unless context == 'product_recommendations' %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "OfferCatalog",
      "itemListElement": [
        {% for product in products limit: for_limit %}
          {
            "@type": "Product",
            "url": "{{ shop.url }}{{ product.url }}",
            "name": "{{ product.title }}"
          } {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      ]
    }
  </script>
{% endunless %}