{% form 'currency', class: "currency-selector" %}
  <div class="currency-selector__input-wrapper select-group">
    <select name="currency" id="CurrencySelector" class="currency-selector__dropdown" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-currency-selector data-custom-select>
      {% for currency in shop.enabled_currencies %}
        <option value="{{currency.iso_code}}"{% if currency == cart.currency %} selected="true"{% endif %} class="currency-icon currency-icon-{{ currency.iso_code | handle }}">{{ currency.iso_code }}</option>
      {% endfor %}
    </select>
  </div>
{% endform %}