
<div class="section section--reviews reviews" style="background-color: {{ set.sectionbg }};">
  <div class="container reviews__container ta-center">
    <h3 class="title">
      <span class="ff-{{ set.titlefont}}" style="color: {{ set.titlecolor }}; font-family: {{ set.titlefont }}">{{ set.title }}</span>
      <span class="ff-{{ set.titlefont2}}" style="color: {{ set.titlecolor2 }}; font-family: {{ set.titlefont2 }}">{{ set.title2 }}</span>
    </h3>
    {{ set.text }}
    <div class="row">
      {% if settings.vidrev1 != "" %}
        <div class="col-md-6">
          <div class="reviews__item">
            {% include 'video', {
              bset_video: settings.vidrev1,
              bset_image: settings.vidrev1img,
              bset_text: settings.vidrev1txt
            } %}
        </div>
      </div>
      {% endif %}
      {% if settings.vidrev2 != "" %}
        <div class="col-md-6">
          <div class="reviews__item">
            {% include 'video', {
              bset_video: settings.vidrev2,
              bset_image: settings.vidrev2img,
              bset_text: settings.vidrev2txt
            } %}
        </div>
      </div>
      {% endif %}      
      {% if settings.vidrev3 != "" %}
        <div class="col-md-6">
          <div class="reviews__item">
            {% include 'video', {
              bset_video: settings.vidrev3,
              bset_image: settings.vidrev3img,
              bset_text: settings.vidrev3txt
            } %}
        </div>
      </div>
      {% endif %}      
      {% if settings.vidrev4 != "" %}
        <div class="col-md-6">
          <div class="reviews__item">
            {% include 'video', {
              bset_video: settings.vidrev4,
              bset_image: settings.vidrev4img,
              bset_text: settings.vidrev4txt
            } %}
        </div>
      </div>
      {% endif %}     
    </div>
    {% if set.btn != '' %}
      <div class="reviews__btn">
        {% include 'button', {
      top: set.btntop,
          color: set.btnc,
          colorH: set.btnc_h,
          bg: set.btnbg,
          bgH: set.btnbg_h,
          border: set.btnb,
          borderH: set.btnb_h,
          id: section.id,
          text: set.btn,
          url: set.btnu,
          class: 'btn--transparent'
        } %}
      </div>
    {% endif %}
  </div>
</div>