{% assign set = section.settings %}
<style>
  #shopify-section-{{ section.id }} {
    padding: {{ set.ptop }}px 0 {{ set.pbottom }}px;
    background-color: {{ set.sectionbg }};
  }
  @media (max-width: 989px) {
    #shopify-section-{{ section.id }} {
      padding: {{ set.ptop_mob }}px 0 {{ set.pbottom_mob }}px;
    }
  }
</style>

<div class="faq {{ class }}">
  {% assign blockString = section.blocks | map: 'type' | join %}
  {% assign sections = 'question, products, order, account, shipping, returns' | split: ', ' %}

  {% if type != 'topbar-disabled' %}
  <div class="faq-topbar">
      <div class="container {% if type != 'topbar-disabled' %}m-short{% endif %}">
        {% for blockType in sections %}
          {% if blockString contains blockType %}
            {% case blockType %}
              {% when 'products' %}
                <div class="faq-topbar__item">
                  <h3 class="faq-topbar__title is-active" data-faq-section-toggle="{{ blockType }}">Our Products</h3>
                </div>
              {% when 'order' %}
                <div class="faq-topbar__item">
                  <h3 class="faq-topbar__title" data-faq-section-toggle="{{ blockType }}">Your Order</h3>
                </div>
              {% when 'account' %}
                <div class="faq-topbar__item">
                  <h3 class="faq-topbar__title" data-faq-section-toggle="{{ blockType }}">Your Account</h3>
                </div>
              {% when 'shipping' %}
                <div class="faq-topbar__item">
                  <h3 class="faq-topbar__title" data-faq-section-toggle="{{ blockType }}">Shipping</h3>
                </div>
              {% when 'returns' %}
                <div class="faq-topbar__item">
                  <h3 class="faq-topbar__title" data-faq-section-toggle="{{ blockType }}">Returns</h3>
                </div>
            {% endcase %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}

  <div class="container faq__wrap {% if type != 'topbar-disabled' %}m-short{% endif %}">
    <div class="section__content">
      <div class="faq-grid">
        {% if set.image %}
          <div class="faq-image">{% render 'rimage', image: set.image, size: '500x' %}</div>
        {% endif %}
        <div class="faq-questions">
          {% if set.pretitle != blank %}
            <h3 class="pretitle">{{ set.pretitle }}</h3>
          {% endif %}
          {% if set.title != blank %}
            <h2 class="title">{{ set.title }}</h2>
          {% endif %}
          {% if set.subtitle != blank %}
            <div class="subtitle">{{ set.subtitle }}</div>
          {% endif %}

          {% for blockType in sections %}
            {% render 'faq-item', section: section, blockType: blockType, blockString: blockString %}
          {% endfor %}

          {%- capture btnClass -%}m-primary {% if type == 'topbar-disabled' %}m-small{% endif %}{%- endcapture -%}
          {% unless type == 'topbar-disabled' %}
            <div class="ta-center">
          {% endunless %}
            {% render 'button', {
              top: set.btntop,
              id: section.id,
              text: set.btn,
              url: set.btnu,
              class: btnClass
            } %}
          {% unless type == 'topbar-disabled' %}
            </div>
          {% endunless %}

        </div> <!-- /.faq-questions -->
      </div> <!-- /.faq-grid -->
    </div>
  </div>
</div>