{% include 'section-styles' %}

<div class="container">
  <div class="row">
    {% for item in section.blocks %}
      <div class="col-md-4">
        <a href="{{ item.settings.url }}" class="featured-item" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true" data-aos-delay="{% cycle "0", "300", "600" %}">
          <div class="featured-item__img">{% include 'rimage', image: item.settings.image %}</div>
          <h2 class="title h2">{{ item.settings.title }}</h2>
        </a>
      </div>
    {% endfor %}
  </div>
</div>

