{% include 'section-styles' %}

<div class="container ta-center">
  {% if set.title != blank %}
    <h2 class="title h2">{{ set.title }}</h2>
  {% endif %}
  {% if set.subtitle != blank %}
    <div class="subtitle">{{ set.subtitle }}</div>
  {% endif %}
  {% include 'button', {
    top: set.btntop,
    id: section.id,
    text: set.btn,
    url: set.btnu,
    class: 'm-underline'
  } %}
  <div class="gallery-items">
    {% for item in section.blocks %}
      <a href="{{ item.settings.url }}" class="gallery-item {% if forloop.index == 1 %}m-large{% endif %}">
        {% include 'rimage', image: item.settings.image, paddingTop: 100 %}
        <div class="gallery-item__overlay"><h3 class="h3 title">{{ item.settings.title }}</h3></div>
      </a>
    {% endfor %}
  </div>
</div>

