<!-- Globo Filter Initialize App -->
<script type="text/javascript">
  {% if request.page_type contains 'collection' or request.page_type contains 'search' %}globofilter.initFilter();{% endif %}
  globofilter.initSearch();</script>
<!-- End Globo Filter Initialize App -->
