{% raw %}
{% assign images_count = product.images | size %}
{% assign variants_count = product.variants | size %}
{% assign options_count   = product.options | size %}
{% assign current_variant = product.first_available_variant %}


{% for variant in product.variants %}

  {% capture colors %}
    <div class="product-cell__variants">
      {% assign colorCounter = 0 %}
      {% for _variant in product.variants %}
        {% assign class = '' %}
        {% if _variant.option1 == variant.option1 %}
          {% if _variant.option2 == variant.option2 %}
            {% assign class = 'is-active' %}
          {% endif %}
          <button 
            class="option m-color color--{{ _variant.option2 | handle }} {{ class }}" 
            title="{{ _variant.option2 }}" 
            data-alt="{{ _variant.image.alt }}"
            data-color-swatch
            data-variant-url="{{ product.url }}?variant={{ _variant.id }}"
            data-variant-price="{{ variant.price | money_without_trailing_zeros }}"
            data-variant-price-compare="{{ variant.compare_at_price | money_without_trailing_zeros }}"></button>
          {% assign colorCounter = colorCounter | plus: 1 %}
        {% endif %}
      {% endfor %}
    </div>
  {% endcapture %}


  <div class="product-cell-wrap" 
    data-product-variant-material="{{ variant.option1 }}" 
    data-product-variant-color="{{ variant.option2 }}" 
    data-product-variant-price="{{ variant.price }}"
    data-product-images='{{ product.images | json | escape }}'>
    <div class="product-cell" data-product-cell>
      <div class="product-cell__img">
        <a href="{{ product.url }}?variant={{ variant.id }}" class="no-hover-link">
          <div class="img has-hover">
            {% assign image = variant.image | default: product.featured_image %}
            <img 
              src="{{ image.src | img_url: '700x' }}" 
              data-sizes="auto" class="lazyload" 
              alt="{{ image.alt | escape }}"
              data-product-image>
            <img 
              src="{{ image.src | img_url: '700x' }}" 
              data-sizes="auto" class="lazyload" 
              alt="{{ image.alt | escape }}"
              data-product-hover-image>
          </div>
        </a>
      </div>
    
      <div class="product-cell__bottom {% if is_top_colors == true %}m-top-colors{% endif %}">
        {% if is_top_colors == true and colorCounter > 1 %}{{ colors }}{% endif %}
        <div class="product-cell__info">
          <h4 class="product-cell__title">
            {% capture title %} {{ product.title }} {% endcapture %}
            <a href="{{ product.url }}?variant={{ variant.id }}" class="no-hover-link">{{ title }}</a>
          </h4>
    
          {% capture productPrice %}
            <span data-product-cell-price style="opacity: 0;">{{ variant.price | money_without_trailing_zeros }}</span>
            {% if variant.compare_at_price > variant.price %}
              <s class="was-price" data-product-cell-price-compare style="opacity: 0;">{{ variant.compare_at_price | money_without_trailing_zeros }}</s> 
            {% endif %}  
          {% endcapture %}
          <h5 class="product-cell__price">{{ productPrice }}</h5>
        </div>
        {% if colorCounter > 1 %}
          {% if is_top_colors == nil or is_top_colors == false %}{{ colors }}{% endif %}
        {% endif %}
      </div>
    </div>
  </div>

{% endfor %}

{% endraw %}
