{% raw %}
<div class="gf-sort-wrap">
  <h3 href="javascript:void(0)" class="gf-refine-toggle-mobile" tabindex="0">
    <span onclick="globofilter.toggleCanvas()"><i class="fa fa-tasks" aria-hidden="true"></i> {{translation.filter.filter_by | default: "Filter by"}}</span>
    <a onclick="clearAllFilter()" href="javascript:;" class="gf-refine-toggle visible-xs">{{translation.filter.clear_all | default: "Clear all"}}</a>
  </h3>
    <div class="sort-by">
    <label for="changeSortBy" class="sort-by-toggle" role="button" tabindex="0" aria-expanded="false">{{translation.sort.sort_by | default: "Sort by"}}</label>
    <select id="changeSortBy" class="sortby-select" onchange="changeSortBy(this.value); return false;">
            <option value="best-selling">{{translation.sort.best_selling | default: "Best Selling"}}</option>      <option value="featured">Featured</option>            <option value="title-ascending">{{translation.sort.alphabetically_a_z | default: "Alphabetically, A-Z"}}</option>      <option value="title-descending">{{translation.sort.alphabetically_z_a | default: "Alphabetically, Z-A"}}</option>      <option value="price-ascending">{{translation.sort.price_low_to_high | default: "Price, low to high"}}</option>      <option value="price-descending">{{translation.sort.price_high_to_low | default: "Price, high to low"}}</option>                      </select>
  </div>
          <div class="sort-by limit-by">
    <label for="setLimit" class="sort-by-toggle" role="button" tabindex="0" aria-expanded="false">{{translation.product.limit | default: "Show"}}</label>
    <select id="setLimit" class="sortby-select" onchange="setLimit(this.value); return false;">
      <option selected value="12">12</option><option  value="24">24</option><option  value="48">48</option>    </select>
  </div>
    </div>
{% endraw %}
