{% assign class = '' %}
{% if template == 'index' or template.suffix == 'brand' or template.suffix == 'sustainability' or template.suffix == 'stores' %}
  {% assign class = 'm-transparent' %}
{% endif %}


<header class="site-header-container {{ class }}" data-site-header>

  <section class="site-header {{ class }}" id="site-header" data-trigger-parent>
    <div class="container">
      <a class="site-header__toggle hide--desktop" data-open-menu>
        <span></span>
        <span></span>
        <span></span>
      </a>

      <div class="site-header__nav">{% section 'nav-desktop' %}</div>

      <nav class="nav site-header__tools">
        <ul class="nav__items">
          <li class="nav__item" data-trigger>
            <a class="nav__link m-icon"  href="/search" data-search-toggle>
              <i class="icon-search"></i>
            </a>
          </li>
          <li class="nav__item" data-trigger>
            <a class="nav__link m-icon"  href="/account/login">
              <i class="icon-account"></i>
            </a>
          </li>
          <li class="nav__item" data-trigger>
            <a class="nav__link m-icon m-cart"  href="/cart" data-minicart-toggle>
              <i class="icon-cart"></i>
              <span class="cart-count" {% if cart.item_count == 0 %}style="display: none"{% endif %} data-cart-count>{{ cart.item_count }}</span>
            </a>
          </li>
          <li class="nav__item">{% render 'currency-switcher' %}</li>
          <!-- <li class="nav__item" data-trigger>
            <a class="nav__link m-icon"  href="/cart">
              <i class="icon-cart"></i>
            </a>
          </li> -->
        </ul>
      </nav> <!-- /.site-header__tools -->
    </div> <!-- /.container -->
  </section> <!-- /.site-header -->
</header> <!-- /.site-header-container -->

{% render 'minicart' %}
{% render 'search-dropdown' %}
{% section 'nav-mobile' %}