<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="{{ settings.color_primary }}">
<link rel="canonical" href="{{ canonical_url }}">
{% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
{% endif %}


{% capture seo_title %}
  {% if page_title == 'empty' %}
    {% if request.page_type == 'blog' %}
      {{ blog.title }}
    {% endif %}
  {% else %}
    {{ page_title }}
  {% endif %}
  {% if current_tags %}
    {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
    &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
    &ndash; {{ shop.name }}
  {% endunless %}
{% endcapture %}

<title>{{ seo_title }}</title>


{% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
{% endif %}

{% include 'social-meta-tags' %}

<script>
  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  window.theme = {
    strings: {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      {% comment %} Check if product is on pre-order {% endcomment %}
      {% assign productTags = product.tags | join: ', ' %}
      {% if productTags contains 'preorder' %}
        reOrder: {{ 'products.product.pre_order' | t | json }},
      {% else %}
        reOrder: {{ 'products.product.re_order' | t | json }},
      {% endif %}
      unavailable: {{ 'products.product.unavailable' | t | json }}
    },
    moneyFormat: {{ shop.money_format | json }}
  };
</script>

{% unless request.path contains '/a/review' %}
  {% if template == blank and page == blank %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  {% endif %}
{% endunless %}

{% if template.directory == 'customers' %}
  <script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
{% endif %}

<link rel="stylesheet" href="https://use.typekit.net/uss2wik.css">
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&display=swap" rel="stylesheet">

<link href="{{ 'theme.css' | asset_url }}" rel="stylesheet">


{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

<!-- Color Swatches: -->
{%- capture swatches -%}
  {% for color in shop.metafields.color.name %}
    .option.color--{{ color | handle }} {
      background-color: {{ shop.metafields.color.hex[forloop.index0] }};
    }
  {% endfor %}
{%- endcapture -%}
<style>
 {{ swatches }}
</style>