{% include 'section-styles' %}

{% assign counter = 0 %}
{% for block in section.blocks %}
  {% if block.settings.visible %}
    {% assign counter = counter | plus: 1 %}
  {% endif %}
{% endfor %}

{%- capture slider -%}
  {%- if section.settings.mode == 'slider' -%}
    data-hor-slider data-slides-to-show="1" data-arrows="false"
  {%- endif -%}
{%- endcapture -%}

{% if section.settings.mode == 'slider' %}{% assign class = 'm-slider m-line-dots' %}{% endif %} 
{% if section.settings.mode == 'grid' %}{% assign class = 'm-grid' %}{% endif %}

{% if section.blocks.size %}
  <div class="hero-container {{ class }}" {{ slider }} data-aos="fade-up" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true">
    {% for block in section.blocks %}
      {% assign set = block.settings %}
      {% if set.visible == false %}{% continue %}{% endif %}
      
      <div
        id="block-{{ block.id }}"
        class="hero {% if counter == 1 %}m-single{% endif %} {% if type == 'blog' %}m-blog {% endif %}" 
        style="background-color: {{ set.sectionbg }};">
        <style>
          #block-{{ block.id }} .hero__info-wrap {
            {% assign pos = set.text_pos | split: '/' %}
            align-items: {{ pos | first }};
            justify-content: {{ pos | last }};
            padding-top: {{ set.ptop }}px;
            padding-bottom: {{ set.pbottom }}px;
          }
          #block-{{ block.id }} .hero__info {
            text-align: {{ set.text_align }};
          }
          #block-{{ block.id }} .hero__overlay {
            background: {{ set.overlay_color }};
            opacity: {{ set.overlay_opacity | divided_by: 100.00 }};
          }
          @media (max-width: 989px) {
            #block-{{ block.id }} .hero__info-wrap {
              {% assign pos = set.text_pos_mob | split: '/' %}
              align-items: {{ pos | first }};
              justify-content: {{ pos | last }};
              padding-top: {{ set.ptop_mob }}px;
              padding-bottom: {{ set.pbottom_mob }}px;
            }
            #block-{{ block.id }} .hero__info {
              text-align: {{ set.text_align_mobile }};
            }
          }
        </style>
        <div class="hero__container {% if type == 'blog' %}container{% endif %}">
          <div class="hero__overlay"></div>
          <div class="hero__info-wrap container m-index-{{ forloop.index }} {% if counter == 2 %}m-half{% endif %} ">
            <div class="hero__info {% if set.white_text %}m-white{% endif %}" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true" data-aos-delay="100">
              {% if set.pretitle != blank %}
                <h3 class="pretitle not-animated h3">{{ set.pretitle }}</h3>
              {% endif %}
              {% if title != blank %}
                <h1 class="hero__title title not-animated {% if set.title_large %}m-large{% endif %}">{{ title }}</h1>
              {% elsif set.title != blank %}
                <h1 class="hero__title title not-animated {% if set.title_large %}m-large{% endif %}">{{ set.title }}</h1>
              {% endif %}
              
              {% if subtitle != blank %}
                <div class="subtitle not-animated {% if set.subtitle_large %}h3{% endif %}">{{ subtitle }}</div>
              {% elsif set.subtitle != blank %}
                <div class="subtitle not-animated {% if set.subtitle_large %}h3{% endif %}">{{ set.subtitle }}</div>
              {% endif %}

              {% if set.btn != blank and set.btnu != blank %}
                <div class="hero__btn">
                  {%- capture btn_class -%}
                    {%- if set.white_btn %}m-underline m-white{%- else -%}m-underline m-black{%- endif -%}
                    {%- if set.large_btn %} m-large{% endif -%}
                  {%- endcapture -%}
                  {% include 'button', {
                    top: set.btntop,
                    id: block.id,
                    text: set.btn,
                    url: set.btnu,
                    class: btn_class
                  } %}
                </div>
              {% endif %}
            </div> <!-- /.hero-info -->
          </div>

          {% if set.hero_image != blank or set.hero_image_mobile != blank %}
            {% if set.hero_image != blank %}
              <div class="hero__img hide--mobile" style="margin-top: {{ set.image_top_desktop }}px; background-image: url({{ set.hero_image | img_url: '2000x' }})"></div>
            {% endif %}
            {% assign image = set.hero_image_mobile | default: set.hero_image %}
            <div class="hero__img hide--desktop" style="margin-top: {{ set.image_top_mobile }}px; background-image: url({{ image | img_url: '400x' }})"></div>
          {% endif %}
      
        </div> <!-- /.hero__container -->
      </div> <!-- /.hero -->
    {% endfor %}
  </div> <!-- /.hero-container -->
{% endif %}

