<svg xmlns="http://www.w3.org/2000/svg" width="9.349" height="15.583" viewBox="0 0 9.349 15.583">
  <path id="Path_69" d="M52.933 79.467l-5.142 5.143-5.142-5.142a1.543 1.543 0 0 0-2.182 2.182l6.233 6.232a1.506 1.506 0 0 0 2.182 0l6.233-6.233a1.543 1.543 0 0 0-2.182-2.182z" data-name="Path 69" transform="rotate(-90 -11.708 67.292)"/>
</svg>
