{% include 'section-styles' %}

{% assign text_pos = 'left' %}
{% if set.image_pos == 'left' %}
  {% assign text_pos = 'right' %}
{% endif %}

{% if set.text_align == 'left' %}{% assign text_align = 'ta-left' %}{% endif %}
{% if set.text_align == 'center' %}{% assign text_align = 'ta-center' %}{% endif %}
{% if set.text_align == 'right' %}{% assign text_align = 'ta-right' %}{% endif %}

{% if set.text_valign == 'top' %}{% assign text_valign = 'align-items-start' %}{% endif %}
{% if set.text_valign == 'middle' %}{% assign text_valign = 'align-items-center' %}{% endif %}
{% if set.text_valign == 'bottom' %}{% assign text_valign = 'align-items-end' %}{% endif %}

{%- capture text -%}
  <div class="block-text m-{{ text_pos }} {{ text_align }}">
    {% if set.title != blank %}
      <h2 class="title h2">{{ set.title }}</h2>
    {% endif %}
    {% if set.subtitle != blank %}
      <div class="subtitle">{{ set.subtitle }}</div>
    {% endif %}
    {% include 'button', {
      top: set.btntop,
      id: section.id,
      text: set.btn,
      url: set.btnu,
      class: 'm-underline'
    } %}
  </div>
{%- endcapture -%}

{%- capture image -%} 
  {% if set.image != blank %}
    <div class="block-image">{% include 'rimage', image: set.image %}</div> 
  {% endif %}
{%- endcapture -%}

<div class="container">
  <div class="row">
    {% if set.image_pos == 'right' %}
      <div class="col-md-5 d-flex {{ text_valign }}">{{ text }}</div>
      <div class="col-md-7">{{ image }}</div>
    {% endif %}
    {% if set.image_pos == 'left' %}
      <div class="col-md-7">{{ image }}</div>
      <div class="col-md-5 d-flex {{ text_valign }}">{{ text }}</div>
    {% endif %}
  </div>
</div>