

{%- for i in (1..2) -%}
  {%- capture image -%}banner{{ i }}_image{%- endcapture -%}
  {%- capture white_text -%}banner{{ i }}_white_text{%- endcapture -%}
  {%- capture pretitle -%}banner{{ i }}_pretitle{%- endcapture -%}
  {%- capture title -%}banner{{ i }}_title{%- endcapture -%}
  {%- capture button_url -%}banner{{ i }}_btnu{%- endcapture -%}
  {%- capture button_text -%}banner{{ i }}_btn{%- endcapture -%}

  {% if block.settings[image] != blank %}
    <a class="banner no-hover-link {% if block.settings[white_text] %}m-white{% endif %} lazyload" href="{{ block.settings[button_url] }}" {{ block.shopify_attributes }}>
      {% render 'rimage', image: block.settings[image] %}
      <div class="banner__content">
        <h4 class="pretitle not-animated h2"> {{ block.settings[pretitle] }}</h4>
        <h2 class="title not-animated h1-07"> {{ block.settings[title] }}</h2>
        <span class="btn m-transparent {% if block.settings[white_text] %}m-white {% else %} m-black{% endif %}" aria-hidden="true">{{ block.settings[button_text] }}</span>
      </div>
    </a>
  {% endif %}

{%- endfor -%}