<div class="products-grid m-layout-2">
  {%- for i in (1..4) -%}
    {%- capture product_id -%}product{{ i }}{%- endcapture -%}
    {%- assign handle = block.settings[product_id] -%}
    {%- assign product = all_products[handle] -%}
    {%- if product.handle != blank -%}
      <div class="product-cell-wrap">
        {% render 'product-cell', product: product, showInfo: true, showDescr: false, showPrice: true, showBtn: false %}
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>