<div class="posts__grid">
  {%- for i in (1..4) -%}
    {%- capture article_id -%}product{{ i }}{%- endcapture -%}
    {%- assign handle = block.settings[article_id] -%}
    {%- assign article = articles[handle] -%}
    {%- if article.handle != blank -%}
      <div class="product-cell-wrap">
        {% render 'post-cell', article: article %}
      </div>
    {%- endif -%}
  {%- endfor -%}
</div>