<nav class="nav-dropdown" data-dropdown-parent id="{{ block.id }}">
  {% if block.settings.menu != blank %}
    <ul class="nav__items">
      {% for childlink in linklists[block.settings.menu].links %}
        <li class="nav__item">
          {% assign _title = childlink.title | downcase %}
          {% if forloop.last %}
            {% assign class = 'btn m-underline m-bold m-large' %}
          {% else %}
            {% assign class = 'nav__link m-level-2' %}
          {% endif %}
          <a href="{{ childlink.url }}" class="{{ class }}">
            <span class="nav__label">{{ childlink.title | escape }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav> <!-- /.nav-dropdown -->


