<div class="section page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <h1 class="title mb-5">{{ page.title }}</h1>
        <div class="page-content rte">
          
          {% comment %} Page Content Here {% endcomment %}
          <div data-accordions-container="" class="mt-3 mt-md-5">
            {% for block in section.blocks %}
              <div class="accordion" data-accordion="">
                <h4 class="accordion__title" data-accordion-button="">{{ block.settings.title }} <i class="icon-plus"></i><i class="icon-minus"></i></h4> 
                <div class="accordion__content" data-accordion-content="">
                  {{ block.settings.content }}
                  {% if block.settings.content1 != blank or block.settings.content2 != blank or block.settings.content3 != blank %}
                    <div class="skim_stor_addres">
                      <!-- col 1 -->
                      {% if block.settings.content1 != blank %}
                        <div class="skim_stor_add_part">
                          {% if block.settings.title1 != blank %}
                            <h3>{{ block.settings.title1 }}</h3>
                            <div class="skim_stor_add_text">{{ block.settings.content1 }}</div>
                          {% endif %}
                        </div>
                      {% endif %}
                      <!-- col 2 -->
                      {% if block.settings.content2 != blank %}
                        <div class="skim_stor_add_part">
                          {% if block.settings.title2 != blank %}
                            <h3>{{ block.settings.title2 }}</h3>
                            <div class="skim_stor_add_text">{{ block.settings.content2 }}</div>
                          {% endif %}
                        </div>
                      {% endif %}
                      <!-- col 3 -->
                      {% if block.settings.content3 != blank %}
                        <div class="skim_stor_add_part">
                          {% if block.settings.title3 != blank %}
                            <h3>{{ block.settings.title3 }}</h3>
                            <div class="skim_stor_add_text">{{ block.settings.content3 }}</div>
                          {% endif %}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}

                  {% if block.settings.content_bottom != blank %}
                    {{ block.settings.content_bottom }}
                  {% endif %}
                </div>
              </div> <!-- /.accordion -->
            {% endfor %}          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

