<div class="section page-header">
    {% comment %} PAGE TITLE {% endcomment %}
    <h1 class="title">{{ page.title }}</h1>

    {% comment %} BACKGROUND IMAGES (DESKTOP/MOBILE) {% endcomment %}
    {% if set.header_image_desktop != blank or set.header_image_mobile != blank %}
        <img src="{{ set.header_image_desktop | img_url: "master" }}" class="hide--mobile" alt="{{ page.title }}"/>
        {% assign image = set.header_image_mobile | default: set.header_image_desktop %}
        <img src="{{ image | img_url: "master" }}" class="hide--desktop" alt="{{ page.title }}"/>
    {% endif %}
</div>

<style>
    .page-header .title {
        color: {{ set.page_title_colour }};
    }
    .page-header::after {
        background: #000;
        opacity: {{ set.overlay_opacity | times: 0.01 }};
    }
</style>