{% for block in section.blocks %}
{% assign bset = block.settings %}
    {% comment %} Text/image block {% endcomment %}
    {% if block.type == 'image-text-block' %}
    <div class="section page-text-image-blocks no-border {% if bset.image_position == 'image_left' %}reverse-blocks{% endif %}" {{ block.shopify_attributes }}>
        <div class="text-side">
            <div class="text-wrapper">
                {% if bset.title != blank %}
                    <h2 class="title h4">{{ bset.title }}</h2>
                {% endif %}
                {% if bset.title != blank %}
                    <h3 class="subtitle h4">{{ bset.subtitle }}</h3>
                {% endif %}
                {% if bset.block_text != blank %}
                    <div class="block-text">
                        {{ bset.block_text | replace: '<p>_</p>', '<hr/>'}}
                    </div>
                {% endif %}
                {% if bset.link_text != blank %}
                    <div class="block-text">
                        <a href="{{ bset.link_url }}" class="btn m-underline">{{ bset.link_text }}</a>
                    </div>
                {% endif %}
            </div>  
        </div>
        <div class="image-side">
            <img src="{{ bset.block_image | img_url: 'master' }}" alt="{{ bset.block_title }}"/>
        </div>
    </div>
    {% comment %} Video block {% endcomment %}
    {% elsif block.type == 'video-block' %}
    <div class="container my-5" {{ block.shopify_attributes }}>
        {% if bset.video_section_title != blank %}
        <div class="row">
            <div class="col-sm-12">
                <h2 class="title ta-center h4 my-5 not-animated">{{ bset.video_section_title }}</h2>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {% if bset.video_one_url != blank %}
            <div class="{% if bset.video_one_url != blank and bset.video_two_url == blank %}col-sm-12{% else %}col-sm-6{% endif %} mb-2">
                <video width="100%" controls poster="{{ bset.video_one_poster | img_url: 'master' }}">
                    <source src="{{ bset.video_one_url }}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>  
            </div>
            {% endif %}
            {% if bset.video_two_url != blank %}
            <div class="col-sm-6">
                <video width="100%" controls poster="{{ bset.video_two_poster | img_url: 'master' }}">
                    <source src="{{ bset.video_two_url }}" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>  
            </div>
            {% endif %}
        </div>
    </div>    
    {% comment %} Text block {% endcomment %}
    {% elsif block.type == 'text-block' %}
        <div class="container my-5 full-width-text-block" {{ block.shopify_attributes }}>
            <div class="row justify-content-center">
                <div class="col-sm-8 ">
                    {% if bset.text_block_title != blank %}
                        <h2 class="ta-center title h4 my-5 not-animated">{{ bset.text_block_title }}</h2>
                    {% endif %}
                    <div class="not-animated {% if bset.text_alignment == 'text_center' %}ta-center{% endif %} {% if bset.text_style == 'italic_copy' %}pretitle{% endif %}">
                        {% if bset.text_block_content != blank %}
                            {{ bset.text_block_content }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% comment %} Шьфпу block {% endcomment %}
    {% elsif block.type == 'image-block' %}
        <div class="image-block-wrapper mt-5" {{ block.shopify_attributes }}>
            <img src="{{ bset.image_block_image | img_url: 'master' }}" alt="{{ page.title }}"/>
        </div>
    {% elsif block.type == 'button-block' %}
        <div class="button-block-wrapper my-5" {{ block.shopify_attributes }}>
            {% if bset.button_url != blank %}
                <a href="{{ bset.button_url }}" class="btn m-primary">{{ bset.button_text }}</a>
            {% else %}
                <button type="button" name="customize" class="btn m-outline customize-btn" data-popup-open="customizer">{{ bset.button_text }}</button>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
