{% comment %}

  This snippet renders a custom widget based on the current 'paginate' context,
  defined in { % paginate XXXX by 5 % } tags wrapping the content.

  Replace Text Example:
    <div class="pagination">
      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
    </div>

  More information:
  - http://docs.shopify.com/themes/liquid-variables/paginate
______________
Optional values
pagination_type: <string>
context: <string>
{% endcomment %}

{% if paginate.pages > 1 %}
  <div class="paginate" data-current-page="{{ paginate.current_page }}" data-paginate-pages="{{ paginate.pages }}">
    {%  if pagination_type == 'load_more'
        or pagination_type == 'infinite_scroll'
        or pagination_type == 'infinite_load_more' %}

        {% if load_more_text == blank %}
          {% assign load_more_text = 'general.pagination.pagination_button' | t %}
        {% endif %}

      {% if paginate.next.url %}
        {% assign next_url = paginate.next.url %}
        {% if pagination_type == 'load_more' %}
          {% comment %} Incremental load more button {% endcomment %}
          {% include 'button', label: load_more_text, type: "link", href: next_url, attribute: 'data-load-more data-custom-pagination', class: 'pagination-button__load-more', style: 'button--primary'  %}
        {% elsif pagination_type == 'infinite_scroll' %}
          {% comment %} Button turned into loading icon {% endcomment %}
          {% include 'button', label: load_more_text, type: "link", href: next_url, attribute: 'data-load-infinite-scroll data-load-infinite data-custom-pagination', class: 'is-loading is-loading--icon-only', style: 'button--primary'  %}
        {% elsif pagination_type == 'infinite_load_more' %}
          {% comment %} Infinite load more button {% endcomment %}
          {% include 'button', label: load_more_text, type: "link", href: next_url, attribute: 'data-load-more-infinite', class: 'pagination-button__load-more-infinite', style: 'button--primary'  %}
          {% comment %} Button turned into loading icon {% endcomment %}
          {% include 'button', label: load_more_text, type: "link", href: next_url, attribute: 'data-load-infinite data-custom-pagination', class: 'is-loading is-loading--icon-only is-hidden', style: 'button--primary'  %}
        {% endif %}

      {% endif %}

    {% else %}
      <nav class="pagination {% if paginate.previous and paginate.next %}paginate--both{% endif %}" role="navigation" aria-label="pagination">
        {%- if paginate.previous-%}
          <a href="{{ paginate.previous.url }}" class="pagination-previous btn m-icon-only"><i class="icon-arrow-left"></i> PREVIOUS</a>
        {% else %}
          <button disabled="disabled" class="pagination-previous btn m-icon-only"><i class="icon-arrow-left"></i> PREVIOUS</button>
        {% endif %}
        <div>{{ paginate.current_page }} <span class="pagination__of">OF</span> {{ paginate.pages }}</div>
        {%- if paginate.next-%}
          <a href="{{ paginate.next.url }}" class="pagination-next btn m-icon-only">NEXT PAGE <i class="icon-arrow-left"></i></a>
        {% else %}
          <button disabled="disabled" class="pagination-next btn m-icon-only">NEXT PAGE <i class="icon-arrow-left"></i></button>
        {% endif %}
      </nav>
    {% endif %}
  </div>
{% endif %}

