<article class="post-cell {% if type == 'featured' %} post-cell--featured {% endif %} ">
  
  <a href="{{ article.url }}" class="post-cell__image no-hover-link">{% render 'rimage', image: article.image %}</a>
  <!-- /.image -->

  <div class="post-cell__content">
    <h3 class="post-cell__title title h5 m-black not-animated"><a href="{{ article.url }}" class="no-hover-link">{{ article.title }}</a></h3>
    <div class="post-cell__bottom">
      <p>{{ article.excerpt_or_content | strip_html | truncatewords: 20 }}</p>
      <a href="{{ article.url }}" class="btn m-underline post-cell__more no-hover-link">Read More</a>
    </div>
  </div> <!-- /.post-cell__content -->

  {%- unless article.tags.size == 0 -%}
  <span class="post-cell__tags">
    {%- for tag in article.tags -%}
      {{ tag }} {%- unless forloop.last -%}+{%- endunless -%}
    {%- endfor -%}
  </span>
  {%- endunless -%} <!-- /.post-cell__tags -->

</article>
