{% include 'section-styles' %}

<div class="container">
  {% if set.title != blank %}
    <h3 class="title h2 ta-center">{{ set.title }}</h3>
  {% endif %}
  <div class="section__content">
    <div class="slider press__slider" 
      data-hor-slider 
      data-slides-to-show="4" 
      data-slides-to-show-mob="3" 
      data-dots="false" 
      data-arrows="false" 
      data-centerMode="true"
      data-infinite="false">
      {% for block in section.blocks %}
        {% assign bset = block.settings %}
        <div class="press__item">
          <img alt="{{ bset.alt }}" src="{{ bset.img | img_url: 'master' }}">
        </div>
      {% endfor %}
    </div>
    {% if set.text != blank %}
      <div class="subtitle ta-center">{{ set.text }}</div>
    {% endif %}
  </div>
</div>