{% assign set = section.settings %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign isDefault = false %}
{% if product.variants.size == 1 and product.variants[0].title == "Default Title" %}
  {% assign isDefault = true %}
{% endif %}

<form id="addToCartForm" action="/cart/add" method="post" enctype="multipart/form-data" data-productid="{{product.id}}" data-variantid="{{ current_variant.id }}" data-discountid="{{ current_variant.metafields.subscriptions.discount_variant_id }}">

  {% comment %} All variants js selector {% endcomment %}
  <select class="no-js" data-all-variants name="all-variants">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}" 
        data-variant-price="{{ variant.price }}" 
        data-variant-compare-price="{{ variant.compare_at_price }}"
        data-available="{{ variant.available }}"
        data-inventory-policy="{{ variant.inventory_policy }}"
        data-inventory-quantity="{{ variant.inventory_quantity }}"
        data-variant-image="{{ variant.image | img_url: '1000x' }}"
        data-option1="{{ variant.option1 | handle | default: '_BLANK_' }}" 
        data-option2="{{ variant.option2 | handle | default: '_BLANK_' }}" 
        data-option3="{{ variant.option3 | handle | default: '_BLANK_' }}" 
        {% if current_variant == variant %}selected{% endif %} >
        {{ variant.title }}
      </option>
    {% endfor %}
  </select> <!-- / data-all-variants -->
  

  {% comment %} Links to products in other colors {% endcomment %}
  {% if product.metafields.color != blank %}
    <div class="product-options m-color">
      <div class="product-options__title">Color</div>
      <div class="product-options__list">
        {% for productColor in product.metafields.color.name %}
          {% assign idx1 = forloop.index0 %}
          {% for shopColor in shop.metafields.color.name %}
            {% assign idx2 = forloop.index0 %}
            {% if productColor == shopColor %}
              {% assign p = product.metafields.color.url[idx1] %}
              {% assign url = all_products[p].url %}
              {%- capture img -%}<img src="{{ shop.metafields.color.image[idx2] }}" alt="">{%- endcapture -%}
              <a href="{{ url | default: 'javascript:void(0)' }}" class="product-option no-hover-link {% if url == blank %}m-checked{% endif %}">
                <div class="product-option__label">
                  <div class="product-option__text">
                    {{ img }}
                  </div>
                </div>
              </a>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    </div> <!-- /.product-options -->
  {% endif %}


  {% comment %} Options {% endcomment %}
  {% unless isDefault %}
    {% assign optionName = product.options[0] %}
    {% if optionName != blank %}
      <div class="product-options m-{{ optionName| handle }}">
        <div class="product-options__title">{{ optionName }}</div>
        <div class="product-options__list" data-options-list>
          <select name="product-option-{{ optionName | handle }}" id="option-{{ optionName| handle }}" class="select m-underline" data-product-option="1">
            {% for option in product.options_by_name[optionName].values %}
              <option value="{{ option | handle }}" {% if current_variant.option1 == option %}selected{% endif %}>{{ option }}</option>
              {%- comment -%}
              <div class="product-option">
                <input id="option-{{ optionName }}-{{ option }}" type="radio" name="product-option-{{ optionName | handle }}"
                  value="{{ option }}"
                  data-product-option="1"
                  {% if current_variant.option1 == option %}checked{% endif %}>
                <label for="option-{{ optionName }}-{{ option }}" class="product-option__label">
                  <div class="product-option__text">{{ option }}</div>
                </label>
              </div>
              {%- endcomment -%}
            {% endfor %}
          </select>
          <div class="product-options__low hide" data-low-stock>Hurry! One Left</div>
          {% if product.metafields.pre_order.message != blank %}
            <div class="product-options__eta hide" data-eta>{{ product.metafields.pre_order.message }}</div>
          {% endif %}
        </div>
      </div> <!-- /.product-options -->
    {% endif %} {% comment %} / option1 {% endcomment %}

    {% assign optionName = product.options[1] %}
    {% if optionName != blank %}
      <div class="product-options m-{{ optionName| handle }}">
        <div class="product-options__title">{{ optionName }}</div>
        <div class="product-options__list" data-options-list>
          <select name="product-option-{{ optionName | handle }}" id="option-{{ optionName| handle }}" class="select m-underline" data-product-option="2">
            {% for option in product.options_by_name[optionName].values %}
              <option value="{{ option | handle }}" {% if current_variant.option2 == option %}selected{% endif %}>{{ option }}</option>
              {%- comment -%}
              <div class="product-option">
                <input id="option-{{ optionName }}-{{ option }}" type="radio" name="product-option-{{ optionName | handle }}"
                  value="{{ option }}"
                  data-product-option="1"
                  {% if current_variant.option1 == option %}checked{% endif %}>
                <label for="option-{{ optionName }}-{{ option }}" class="product-option__label">
                  <div class="product-option__text">{{ option }}</div>
                </label>
              </div>
              {%- endcomment -%}
            {% endfor %}
          </select>
        </div>
      </div> <!-- /.product-options -->
    {% endif %} {% comment %} / option2 {% endcomment %}

    {% assign optionName = product.options[2] %}
    {% if optionName != blank %}
      <div class="product-options m-{{ optionName| handle }}">
        <div class="product-options__title">{{ optionName }}</div>
        <div class="product-options__list" data-options-list>
          <select name="product-option-{{ optionName | handle }}" id="option-{{ optionName| handle }}" class="select m-underline" data-product-option="3">
            {% for option in product.options_by_name[optionName].values %}
              <option value="{{ option | handle }}" {% if current_variant.option3 == option %}selected{% endif %}>{{ option }}</option>
              {%- comment -%}
              <div class="product-option">
                <input id="option-{{ optionName }}-{{ option }}" type="radio" name="product-option-{{ optionName | handle }}"
                  value="{{ option }}"
                  data-product-option="1"
                  {% if current_variant.option1 == option %}checked{% endif %}>
                <label for="option-{{ optionName }}-{{ option }}" class="product-option__label">
                  <div class="product-option__text">{{ option }}</div>
                </label>
              </div>
              {%- endcomment -%}
            {% endfor %}
          </select>
        </div>
      </div> <!-- /.product-options -->
    {% endif %} {% comment %} / option3 {% endcomment %}
  {% endunless %}
 
  <div data-price-wrapper class="product-price">
    <span data-price>
      {{ current_variant.price | money_without_trailing_zeros }}
    </span>
    <s data-price-compare class="was-price">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</s>
  </div>

  <div class="product-add-to-cart">
    <button type="submit" name="add" class="btn m-primary add-to-cart" data-add-to-cart></button>
    <button type="button" name="customize" class="btn m-outline customize-btn" data-popup-open="customizer">Customization request</button>
  </div>
  {% if set.monogramEnable %}
    {% assign monogramProduct = all_products[set.monogramProduct] %}
    <div class="product-monogram">
      <div class="checkbox">
        <input type="checkbox" value="Yes" id="product-monogram" name="product-monogram" data-monogram-product="{{ monogramProduct.variants[0].id }} ">
        <label for="product-monogram" class="label h4">{{ set.monogramText }} (+{{ monogramProduct.variants[0].price | money_without_trailing_zeros }})</label>
      </div>
      <div class="field">
        <input type="text" class="input m-underline" placeholder="{{ set.monogramInputPlaceholder }}" data-monogram-input style="opacity: 0;" maxlength="{{ set.monogramInputLength }}">
      </div>
    </div>
  {% endif %}

</form>