<style>
  #shopify-section-{{ section.id }} {
    padding: {{ set.ptop }}px 0 {{ set.pbottom }}px;
    background-color: {{ set.sectionbg }};
  }
  @media (max-width: 989px) {
    #shopify-section-{{ section.id }} {
      padding: {{ set.ptop_mob }}px 0 {{ set.pbottom_mob }}px;
    }
  }
</style>

<div class="section section--accent section--products" id="section-accent">
  <div class="container ta-center">
    <h3 class="title">{{ set.title }}</h3>
    <div class="subtitle">{{ set.text }}</div>
    <div class="section__content">
      <div class="row">
        {% for block in section.blocks %}
          {% assign product = all_products[block.settings.featured_product] %}
          {%- capture colClass -%}
            {%- case set.products_per_row -%}
              {%- when '2' -%} col-md-6
              {%- when '3' -%} col-md-4
              {%- when '4' -%} col-md-3
            {%- endcase -%}
          {%- endcapture -%}
          {%- capture colMobClass -%}
            {%- case set.products_per_row_mob -%}
              {%- when '1' -%} col-12
              {%- when '2' -%} col-6
            {%- endcase -%}
          {%- endcapture -%}
          <div class="{{ colClass }} {{colMobClass}}">
            {% include 'product-cell', {product: product, showPrice: set.show_product_price, priceView:set.product_price_view} %}
          </div>
        {% endfor %}
      </div>
      
      
      {% if set.display_reviews %}
        <div class="ta-center">
          <div class="stars">
            <div><img alt="stars.png" src="{{ 'stars.png' | asset_img_url: 'master' }}"></div>
            <h4 class="stars__title">1210 reviews</h4>
            <div>
              <a class="link" href="{{ set.reviews_link_url }}">{{ set.reviews_link_text }}</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>