{% capture colors %}
<div class="product-cell__variants">
  {% assign renderedOptions = '' %}
  {% assign colorCounter = 0 %}
  {% for variant in product.variants %}
    {% assign class = '' %}
    {% unless renderedOptions contains variant.option2 %}
      {% if colorCounter == 0 %}
        {% assign class = 'is-active' %}
      {% endif %}
      {%- capture variant_url -%}
        {%- if product.url contains '?' -%}
          {{- product.url -}}&variant={{- variant.id -}}
        {%- else -%}
          {{- product.url -}}?variant={{- variant.id -}}
        {%- endif -%}
      {%- endcapture -%}
      <button 
        class="option m-color color--{{ variant.option2 | handle }} {{ class }}" 
        title="{{ variant.option2 }}" 
        data-alt="{{ variant.image.alt }}"
        data-variant-url="{{ variant_url }}"
        data-color-swatch></button>
      {% assign renderedOptions = renderedOptions | append: ', ' | append: variant.option2 %}
      {% assign colorCounter = colorCounter | plus: 1 %}
    {% endunless %}
  {% endfor %}
</div>
{% endcapture %}

{%- capture images -%}
  [
    {%- for image in product.images -%}
      { "src": "{{ image.src | img_url: 'master' }}", "alt": "{{ image.alt }}" }
    {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
  ]
{%- endcapture -%}

<div class="product-cell" data-product-cell data-product-images='{{ images }}'>
  <div class="product-cell__img">
    <a href="{{ product.url }}" class="no-hover-link">
      <div class="img has-hover">
        <img 
          src="{{ product.images[0].src | img_url: '700x' }}" 
          data-sizes="auto" class="lazyload" 
          alt="{{ product.images[0].alt | escape }}"
          data-product-image>
        <img 
          src="{{ product.images[1].src | img_url: '700x' }}" 
          data-sizes="auto" class="lazyload" 
          alt="{{ product.images[1].alt | escape }}"
          data-product-hover-image>
      </div>
    </a>
  </div>

  <div class="product-cell__bottom {% if is_top_colors == true %}m-top-colors{% endif %}">
    {% if is_top_colors == true and colorCounter > 1 %}{{ colors }}{% endif %}
    <div class="product-cell__info">
      <h4 class="product-cell__title"><a href="{{ product.url }}" class="no-hover-link">{{ product.title }}</a></h4>

      {%- capture productPrice -%}
        {%- if product.price_varies -%}
          From {{ product.price_min | money_without_trailing_zeros }}
        {%- else -%}
          {% assign variant0 = product.variants[0] %}
          {{ variant0.price | money_without_trailing_zeros }}
          {% if variant0.compare_at_price > variant0.price %}
            <s class="was-price">{{ variant0.compare_at_price | money_without_trailing_zeros }}</s> 
          {% endif %}          
        {%- endif -%}
      {%- endcapture -%}
      <h5 class="product-cell__price">{{ productPrice }}</h5>
    </div>
    {% if colorCounter > 1 %}
      {% if is_top_colors == nil or is_top_colors == false %}{{ colors }}{% endif %}
    {% endif %}
  </div>

</div>