{% assign current_variant = product.selected_or_first_available_variant %}
{% assign set = section.settings %}

<div class="product-info">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
    <link itemprop="availability"
      href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

    <h1 class="title not-animated">{{ product.title }}</h1>
    <div class="not-animated">{{ product.description }}</div>

    
    {% render 'product-form', section: section %}

    <div data-accordions-container class="mt-3 mt-md-5">
      {% if product.metafields.product.details != blank %}
        <div class="accordion" data-accordion>
          <h4 class="accordion__title" data-accordion-button>PRODUCT DETAILS <i class="icon-plus"></i><i class="icon-minus"></i></h4>
          <div class="accordion__content" data-accordion-content>{{ product.metafields.product.details }}</div>
        </div> <!-- /.accordion -->
      {% endif %}
      {% if product.metafields.product.features != blank %}
        <div class="accordion" data-accordion>
          <h4 class="accordion__title" data-accordion-button>FEATURES <i class="icon-plus"></i><i class="icon-minus"></i></h4>
          <div class="accordion__content" data-accordion-content>{{ product.metafields.product.features }}</div>
        </div> <!-- /.accordion -->
      {% endif %}
      {% if shop.metafields.product.shipping != blank %}
        <div class="accordion" data-accordion>
          <h4 class="accordion__title" data-accordion-button>Delivery & returns <i class="icon-plus"></i><i class="icon-minus"></i></h4>
          <div class="accordion__content" data-accordion-content>{{ shop.metafields.product.shipping }}</div>
        </div> <!-- /.accordion -->
      {% endif %}
      {% if shop.metafields.product.care != blank %}
        <div class="accordion" data-accordion>
          <h4 class="accordion__title" data-accordion-button>Care guide <i class="icon-plus"></i><i class="icon-minus"></i></h4>
          <div class="accordion__content" data-accordion-content>{{ shop.metafields.product.care }}</div>
        </div> <!-- /.accordion -->
      {% endif %}
    </div> <!-- / accordions -->
    {% if set.help_show %}
      <div class="help-info">
        {% if set.help_title != blank %}<h4 class="help-info__title">{{ set.help_title }}</h4>{% endif %}
        {% if set.help_email != blank %}<div class="help-info__text"><i class="help-info__icon icon-email"></i> {{ set.help_email }}</div>{% endif %}
        {% if set.help_phone != blank %}<div class="help-info__text"><i class="help-info__icon icon-phone"></i> {{ set.help_phone }}</div>{% endif %}
      </div>
    {% endif %}
  </div>
  {% comment %} / product schema {% endcomment %}
</div>