<div class="search__wrapper" data-search>
    <div class="search__wrapper-bar">
        <form method="get" action="/search" role="search">
            <input type="text" name="q" id="Search" class="search__input" value="{{ search.terms | escape }}" placeholder="Search..."/>
            <input type="submit" value="Search" class="hidden" />
            <button class="close" data-close-search><i class="icon-close"></i></button>
        </form>
    </div>
</div>
