<nav class="nav social-links">
  <ul class="nav__items">
    {% if settings.social_instagram_link != blank %}
      <li class="nav__item">
        <a class="nav__link" href="{{ settings.social_instagram_link }}"><i class="icon icon-insta"></i></a>
      </li>
    {% endif %}
    {% if settings.social_twitter_link != blank %}
      <li class="nav__item">
        <a class="nav__link" href="{{ settings.social_twitter_link }}"><i class="icon icon-tw"></i></a>
      </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
      <li class="nav__item">
        <a class="nav__link" href="{{ settings.social_youtube_link }}"><i class="icon icon-youtube"></i></a>
      </li>
    {% endif %}
    {% if settings.social_facebook_link != blank %}
      <li class="nav__item">
        <a class="nav__link" href="{{ settings.social_facebook_link }}"><i class="icon icon-fb"></i></a>
      </li>
    {% endif %}
  </ul>
</nav>