<style>
  #shopify-section-{{ section.id }} {
    padding: {{ set.ptop }}px 0 {{ set.pbottom }}px;
    background-color: {{ set.sectionbg }};
  }
  @media (max-width: 989px) {
    #shopify-section-{{ section.id }} {
      padding: {{ set.ptop_mob }}px 0 {{ set.pbottom_mob }}px;
    }
  }
</style>

<div class="section m-testimonials">
  <div class="container ta-center">
    <div class="section__content">
      <div class="testimonials m-line-dots" data-hor-slider data-slides-to-show="1">
        {% for block in section.blocks %}
          {% assign bset = block.settings %}
          <div class="testimonials__item">
            {% if bset.title != blank %}<h3 class="title testimonials__title">{{ bset.title }}</h3>{% endif %}
            {% if bset.text != blank %}<div class="testimonials__text">{{ bset.text }}</div>{% endif %}
            {% if bset.author != blank %}<div class="testimonials__author">{{ bset.author }}</div>{% endif %}
          </div> <!-- / .benefits__item -->
        {% endfor %}
      </div>
    </div> <!-- / .section__content -->
  </div>
</div>