{% assign set = section.settings %}
{% render 'section-styles', set: set, section: section %}

<div class="container" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true">
  {% if set.title != blank %}
    <h3 class="h2 pretitle">{{ set.title }}</h3>
  {% endif %}
  {% if set.subtitle != blank %}
    <div class="subtitle">{{ set.subtitle }}</div>
  {% endif %}
</div>  <!-- /.container -->