{% if section.settings.video_youtube != blank %}
  {%- capture paddingTop -%}
    {%- if section.settings.aspect_ratio == '16:9' -%}
      56.25%
    {%- else -%}
      75%
    {%- endif -%}
  {%- endcapture -%}
  <div class="video video--youtube" style="padding-top: {{ paddingTop }}">
    <iframe frameborder="0" controls="0" src="https://www.youtube.com/embed/{{ section.settings.video_youtube.id }}?&controls=1&showinfo=0&autoplay=0&loop=0&playlist=0"></iframe>
  </div>
  
{% else %}
  {%- capture source -%}
    {% if section.settings.video_shopify contains '.mp4' %}
      <source src="{{ section.settings.video_shopify }}" type="video/mp4">
    {% elsif  section.settings.video_shopify contains '.ogg' %}
      <source src="{{ section.settings.video_shopify }}" type="video/ogg">
    {% endif %}
  {%- endcapture -%}

  <div class="video">
    <div class="video__player" data-video>
      <button data-video-btn></button>
      <video 
        {% if section.settings.videoimg != blank %} poster="{{ section.settings.videoimg | img_url: '1000x' }}" {% endif %}
        onclick="this.play()">{{ source }}</video>
    </div>
  </div>
{% endif %}