<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ItemList",
    "itemListElement": [
      {% for article in blog.articles %}
        {
          "@type": "ListItem",
          "position": "{{ forloop.index | json }}",
          "url": "{{ shop.url }}{{ article.url }}",
          "name": "{{ article.title }}"
        } {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    ]
  }
</script>

<header class="blog-header">
  <div class="container">
    <h1 class="title not-animated">{{ blog.title }}</h1>
    {% if blog.metafields.blog.description != blank %}
      <div class="subtitle ta-center not-animated">{{ blog.metafields.blog.description }}</div>
    {% endif %}
  </div>
</header>  <!-- /.blog-header -->

{% section 'blog-main' %}