<div class="section page-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12">
          <h1 class="title mb-5">{{ page.title }}</h1>
          <div class="page-content rte">
            {% section 'page-validation-blocks' %}
          </div>
        </div>
      </div>
    </div>
  </div>