<div class="sections-wrapper">
  {% section 'product-main' %}
  {% section 'product-photos' %}
  {% section 'press' %}
  {% section 'video' %}
  {% section 'product-recommendations' %}
  {% section 'maestrooo-instagram' %}
</div>