

{% assign set = section.settings %}

{% paginate blog.articles by set.blog_posts_per_page %}
  {% include 'blog-main-content', articles: blog.articles %}
{% endpaginate %}


{% schema %}
{
  "name": "Blog Main",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },

    
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },


    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "range",
      "id": "posts_per_row",
      "label": "Posts per row [desktop]",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "posts_per_row_mobile",
      "label": "Posts per row [mobile]",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 1
    },
    {
      "type": "range",
      "id": "blog_posts_per_page",
      "label": "Posts per page",
      "min": 1,
      "max": 50,
      "step": 1,
      "default": 12
    }
  ]
}

{% endschema %}