{% assign set = section.settings %}
<style>
  #shopify-section-{{ section.id }} {
    padding: {{ set.ptop }}px 0 {{ set.pbottom }}px;
    background-color: {{ set.sectionbg }};
  }
  @media (max-width: 989px) {
    #shopify-section-{{ section.id }} {
      padding: {{ set.ptop_mob }}px 0 {{ set.pbottom_mob }}px;
    }
  }
</style>


<div class="cart-wrapper" data-cart-page data-items-count="{{ cart.item_count }}">
  
  {% if cart.item_count > 0 %}
    {% if set.title %}
      <div class="container"><h1 class="title">{{ set.title }}</h1></div>
    {% endif %}

    <form action="/cart" method="post" novalidate >
      <div class="container">{% render 'cart-table', set: set %}</div>
      <div class="container">{% render 'cart-summary', set: set %}</div>
    </form>

  {% else %}
    {% comment %} Cart empty state {% endcomment %}
    <div class="container supports-cookies">
      <p>{{ 'cart.general.empty' | t }}</p>
    </div>
  {% endif %}
</div>  


{% schema %}
{
  "name": "Cart",
  "class": "section section-cart",
  "tag": "section",
  "settings": [
  

    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },


    {
      "type": "header",
      "content": "Text"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Shopping Bag"
    },
    {
      "type": "text",
      "id": "continuetitle",
      "label": "Continue text",
      "default": "Continue Shopping"
    },
    {
      "type": "url",
      "id": "continueurl",
      "label": "Continue Url",
      "default": "/"
    }
  ]
}
{% endschema %}