{% assign set = section.settings %}
{% if set.visible %}
  {% include 'cta-content' %}
{% endif %}

{% schema %}

{
  "name": "CTA",
  "class": "cta",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },

    
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "bgimage",
      "label": "Background image"
    },
    {
      "type": "range",
      "id": "bgwidth",
      "label": "Background width",
      "min": 1,
      "unit": "%",
      "max": 100,
      "step": 1,
      "default": 25
    },
    {
      "type": "select",
      "id": "bgpos",
      "label": "Background position",
      "options": [
        { "value": "left", "label": "left" },
        { "value": "right", "label": "right" }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "bgtop",
      "label": "Background top spacing",
      "min": 0,
      "unit": "%",
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "bgedge",
      "label": "Background edge spacing",
      "min": -50,
      "unit": "%",
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "button"
    },
    {
      "type": "range",
      "id": "btntop",
      "label": "Top spacing",
      "min": -200,
      "max": 200,
      "step": 5,
      "default": 45
    },
    {
      "id": "btnu",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "btn",
      "type": "text",
      "label": "Button text",
      "default": "Enter text for button"
    }
  ],
  "presets": [
    {
      "name": "CTA",
      "category": "Promo"
    }
  ]
}

{% endschema %}