{% assign set = section.settings %}

{% if set.visible %}
  {% render 'faq-content', section: section %}
{% endif %}



{% schema %}
{ 
  "name": "FAQ",
  "class": "section",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },


    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },


    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "range",
      "id": "btntop",
      "label": "Top spacing",
      "min": -200,
      "max": 200,
      "step": 5,
      "default": 45
    },
    {
      "id": "btnu",
      "type": "url",
      "label": "Button Url"
    },
    {
      "id": "btn",
      "type": "text",
      "label": "Button text",
      "default": "ORDER NOW"
    }
  ],
  "blocks": [
    {
      "name": "Payments",
      "type": "payments",
      "settings": [
        {
          "type": "header",
          "content": "Payments"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Question"
        },
        {
          "id": "answer",
          "type": "richtext",
          "label": "Answer"
        }
      ]
    },
    {
      "name": "Shipping",
      "type": "shipping",
      "settings": [
        {
          "type": "header",
          "content": "Shipping"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Question"
        },
        {
          "id": "answer",
          "type": "richtext",
          "label": "Answer"
        }
      ]
    },
    {
      "name": "Care & Repair",
      "type": "care",
      "settings": [
        {
          "type": "header",
          "content": "Care & Repair"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Question"
        },
        {
          "id": "answer",
          "type": "richtext",
          "label": "Answer"
        }
      ]
    },
    {
      "name": "Exchanges & Returns",
      "type": "returns",
      "settings": [
        {
          "type": "header",
          "content": "Exchanges & Returns"
        },
        {
          "id": "title",
          "type": "text",
          "label": "Question"
        },
        {
          "id": "answer",
          "type": "richtext",
          "label": "Answer"
        }
      ]
    }
  ]
}
{% endschema %}
