{% assign set = section.settings %}
<footer class="site-footer">
  <div class="container">
    <div class="site-footer__top">
      <div class="row">
        <div class="col-md-2">
          {% if set.logo or set.svglogo %}
            <div class="site-footer__logo">
              {% if section.settings.svglogo != blank %}
                {{ section.settings.svglogo }}
              {% elsif section.settings.logo != blank %}
                <img src="{{ section.settings.logo | img_url: '200x' }}" alt="">
              {% else %}
                {{ shop.name }}
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="col-md-10">
          <nav class="nav m-vertical m-flex site-footer__nav" data-accordions-container data-mobile-only="1">
            {% for block in section.blocks %}
              {% assign menu = linklists[block.settings.menu] %}
              <div class="nav__col">
                <h4 class="title h6 not-animated" data-accordion-button><span>{{ menu.title }}</span> <span class="hide--desktop"><i class="icon-caret-down"></i></span></h4>
                <ul class="nav__items idx-{{forloop.index}}" data-accordion-content>
                  {% for link in menu.links %}
                    <li class="nav__item">
                      <a class="nav__link no-hover-link" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endfor %}
            <div class="nav__col">
              {% form 'customer', class: 'newsletter', id: 'newsletter_form' %}
                <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
                <input type="hidden" name="challenge" value="false" />
                {% if set.ns_title != blank %}
                  <h4 class="title not-animated h6">{{ set.ns_title }}</h4>
                {% endif %}
                {% if set.ns_subtitle != blank %}
                  <div class="subtitle not-animated h6">{{ set.ns_subtitle }}</div>
                {% endif %}
                <div class="form-field">
                  <input type="text" class="input m-underline" name="contact[email]" placeholder="{{ set.ns_placeholder }}">
                  <button type="submit" class="btn"><i class="icon-arrow-right"></i></button>
                </div>
              {% endform %} 

              {% if set.showSocial %}
                <nav class="nav social-links">
                  <ul class="nav__items">
                    {% if settings.social_facebook_link != blank %}
                      <li class="nav__item">
                        <a class="nav__link no-hover-link" href="{{ settings.social_facebook_link }}"><i class="icon icon-facebook"></i></a>
                      </li>
                    {% endif %}
                    {% if settings.social_instagram_link != blank %}
                      <li class="nav__item">
                        <a class="nav__link no-hover-link" href="{{ settings.social_instagram_link }}"><i class="icon icon-instagram"></i></a>
                      </li>
                    {% endif %}
                    {% if settings.social_twitter_link != blank %}
                      <li class="nav__item">
                        <a class="nav__link no-hover-link" href="{{ settings.social_twitter_link }}"><i class="icon icon-twitter"></i></a>
                      </li>
                    {% endif %}
                  </ul>
                </nav>
              {% endif %}
              {%- comment -%} End social {%- endcomment -%}                 
            </div>
          </nav>
        </div>
      </div> <!-- /.row -->
    </div> <!-- /.site-footer__top -->
    <div class="site-footer__bottom">

      <div class="site-footer__copy">
        <p>{{ set.copy }}</p>
      </div>
      {% if set.bottom_menu %}
        <nav class="nav site-footer__bottom-menu">
          <ul class="nav__items">
            {% for link in linklists[set.bottom_menu].links %}
              <li class="nav__item">
                <a class="nav__link no-hover-link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
      {%- comment -%} End bottom menu {%- endcomment -%}
    </div> <!-- /.site-footer__bottom -->
  </div>
</footer>


{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo raster image"
    },
    {
      "type": "textarea",
      "id": "svglogo",
      "label": "Logo vector image",
      "info": "(preferred)"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "ns_title",
      "label": "Newsletter Title"
    },
    {
      "type": "richtext",
      "id": "ns_subtitle",
      "label": "Newsletter Text"
    },
    {
      "type": "text",
      "id": "ns_placeholder",
      "label": "Newsletter Placeholder"
    },
    {
      "type": "checkbox",
      "id": "showSocial",
      "label": "Show links to social networks",
      "default": true
    },
    {
      "type": "text",
      "id": "copy",
      "label": "Copyright"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        }
      ]
    }
  ]
}
{% endschema %}