{% assign set = section.settings %}
{% include 'hero-content' %}

{% schema %}
{
  "name": "Hero section",
  "tag": "section",
  "class": "no-border",
  "settings": [
    {
      "type": "select",
      "id": "mode",
      "label": "Mode",
      "options": [
        { "value": "regular", "label": "Regular" },
        { "value": "grid", "label": "Grid" },
        { "value": "slider", "label": "Slider" }
      ],
      "default": "regular"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 0
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "hero",
      "name": "Hero block",
      "settings": [
        {
          "type": "checkbox",
          "id": "visible",
          "label": "Show block",
          "default": true
        },
        {
          "type": "color",
          "id": "sectionbg",
          "label": "Section background color",
          "default": "#fff"
        },


        {
          "type": "header",
          "content": "Image"
        },
        {
          "id": "hero_image",
          "type": "image_picker",
          "label": "Image desktop",
          "info": "Full Width: 2000 x 1000 px."
        },
        {
          "type": "range",
          "id": "image_top_desktop",
          "label": "Image top spacing on desktop",
          "min": -500,
          "max": 500,
          "step": 10,
          "default": 0
        },
        {
          "id": "hero_image_mobile",
          "type": "image_picker",
          "label": "Image Mobile",
          "info": "Full Width: 400 x 600 px."
        },
        {
          "type": "range",
          "id": "image_top_mobile",
          "label": "Image top spacing on mobile",
          "min": -500,
          "max": 500,
          "step": 10,
          "default": 0
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Overlay opacity",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 50
        },


        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "range",
          "id": "ptop",
          "label": "Top spacing desktop",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 0
        },
        {
          "type": "range",
          "id": "pbottom",
          "label": "Bottom spacing desktop",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 0
        },
        {
          "type": "range",
          "id": "ptop_mob",
          "label": "Top spacing mobile",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 0
        },
        {
          "type": "range",
          "id": "pbottom_mob",
          "label": "Bottom spacing mobile",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 0
        },
        {
          "type": "select",
          "id": "text_align",
          "label": "Text align on desktop",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "text_pos",
          "label": "Text position on desktop",
          "options": [
            { "value": "flex-start/flex-start", "label": "Top left" },
            { "value": "flex-start/center", "label": "Top center" },
            { "value": "flex-start/flex-end", "label": "Top right" },
            { "value": "center/flex-start", "label": "Middle left" },
            { "value": "center/center", "label": "Middle center" },
            { "value": "center/flex-end", "label": "Middle right" },
            { "value": "flex-end/flex-start", "label": "Bottom left" },
            { "value": "flex-end/center",  "label": "Bottom center" },
            { "value": "flex-end/flex-end", "label": "Bottom right" }
          ],
          "default": "center/center"
        },
        {
          "type": "select",
          "id": "text_align_mobile",
          "label": "Text align on mobile",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "center", "label": "Center" },
            { "value": "right", "label": "Right" }
          ],
          "default": "left"
        },
        {
          "type": "select",
          "id": "text_pos_mob",
          "label": "Text position on mobile",
          "options": [
            { "value": "flex-start/flex-start", "label": "Top left" },
            { "value": "flex-start/center", "label": "Top center" },
            { "value": "flex-start/flex-end", "label": "Top right" },
            { "value": "center/flex-start", "label": "Middle left" },
            { "value": "center/center", "label": "Middle center" },
            { "value": "center/flex-end", "label": "Middle right" },
            { "value": "flex-end/flex-start", "label": "Bottom left" },
            { "value": "flex-end/center",  "label": "Bottom center" },
            { "value": "flex-end/flex-end", "label": "Bottom right" }
          ],
          "default": "center/center"
        },
        {
          "id": "pretitle",
          "type": "richtext",
          "label": "Pre-title"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Title"
        },
        {
          "type": "checkbox",
          "id": "title_large",
          "label": "Make Title Large?"
        },
        {
          "id": "subtitle",
          "type": "richtext",
          "label": "Text"
        },
        {
          "type": "checkbox",
          "id": "subtitle_large",
          "label": "Make Text Large?"
        },
        {
          "type": "checkbox",
          "id": "white_text",
          "label": "Make Text White?"
        },
        {
          "type": "header",
          "content": "button"
        },
        {
          "type": "range",
          "id": "btntop",
          "label": "Top spacing",
          "min": -200,
          "max": 200,
          "step": 5,
          "default": 45
        },
        {
          "id": "btnu",
          "type": "url",
          "label": "Link"
        },
        {
          "id": "btn",
          "type": "text",
          "label": "Button text",
          "default": "BUY"
        },
        {
          "type": "checkbox",
          "id": "white_btn",
          "label": "Make Button White?"
        },
        {
          "type": "checkbox",
          "id": "large_btn",
          "label": "Make Button Large?"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero section",
      "category": "Images"
    }
  ]
}

{% endschema %}