
{% assign set = section.settings %}

{% if set.visible %}
  {% include 'image-text-content' %}
{% endif %}

{% schema %}

{
  "name": "Image with text",
  "class": "section image-with-text",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },


    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },    


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },


    {
      "type": "header",
      "content": "Image"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_pos",
      "label": "Image position",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" }
      ],
      "default": "right"
    },


    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text horizontal align",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "text_valign",
      "label": "Text vertical align",
      "options": [
        { "value": "top", "label": "Top" },
        { "value": "middle", "label": "Middle" },
        { "value": "bottom", "label": "Bottom" }
      ],
      "default": "middle"
    },
    {
      "id":"title",
      "type":"text",
      "label":"Title",
      "default":"Title"
    },
    {
      "id": "subtitle",
      "type": "richtext",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "range",
      "id": "btntop",
      "label": "Top spacing",
      "min": -200,
      "max": 200,
      "step": 5,
      "default": 45
    },
    {
      "id": "btnu",
      "type": "url",
      "label": "Button Url"
    },
    {
      "id": "btn",
      "type": "text",
      "label": "Button text"
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "Images"
    }
  ]
}

{% endschema %}





