{% assign set = section.settings %}
{% render 'section-styles', section: section %}
<div class="info-slider" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true">
  <div class="container">
    {% if set.pretitle != blank %}
      <h4 class="pretitle ta-center not-animated">{{ set.pretitle }}</h4>
    {% endif %}
    {% if set.title != blank %}
      <h3 class="title h4 ta-center not-animated">{{ set.title }}</h3>
    {% endif %}
    {% if set.subtitle != blank %}
      <div class="subtitle ta-center not-animated">{{ set.subtitle }}</div>
    {% endif %}
    <div class="section__content">
      <div class="slider m-custom-controls" data-hor-slider data-custom-controls="1" data-slides-to-show="1">
        {% for block in section.blocks %}
          {% assign bset = block.settings %}
          <div class="slider__slide">
            <div class="row">
              <div class="col-md-6">{% render 'rimage', image: bset.image %}</div>
              <div class="col-md-6">
                <div class="info-slider__text">
                  {% if bset.pretitle != blank %}
                    <h4 class="pretitle not-animated">{{ bset.pretitle }}</h4>
                  {% endif %}
                  {% if bset.title != blank %}
                    <h3 class="title h5 not-animated">{{ bset.title }}</h3>
                  {% endif %}
                  {% if bset.subtitle != blank %}
                    <div class="subtitle not-animated">{{ bset.subtitle }}</div>
                  {% endif %}

                  <div class="slider-controls">
                    {% assign pn = forloop.index0 | minus: 1 %}
                    {% assign prev = section.blocks[pn] %}
                    {% assign nn = forloop.index0 | plus: 1 %}
                    {% assign next = section.blocks[nn] %}
                    {% if forloop.index0 != 0 and prev.settings.title != blank %}
                      <button class="slider-arrow slider-prev m-icon" data-hor-slider-prev>
                        <i class="icon-arrow-left"></i><span>{{ prev.settings.title }}</span>
                      </button>
                    {% endif %}
                    {% if next.settings.title != blank %}
                      <button class="slider-arrow slider-next m-icon" data-hor-slider-next>
                        {{ next.settings.title }}<i class="icon-arrow-right"></i>
                      </button>
                    {% endif %}
                  </div> <!-- /.slider-controls -->
                </div> <!-- /.info-slider__text -->
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.slider__slide -->
        {% endfor %}
      </div> <!-- /.slider -->
    </div> <!-- /.section__content -->
  </div> <!-- /.container -->
</div> <!-- /.info-slider -->


{% schema %}
{
  "name": "Info Slider",
  "tag": "section",
  "class": "info-slider-section",
  "settings": [


    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },


    {
      "type": "header",
      "content": "Text"
    },
    {
      "id": "pretitle",
      "type": "richtext",
      "label": "Pre-title"
    },
    {
      "id": "title",
      "type": "richtext",
      "label": "Title"
    },
    {
      "id": "subtitle",
      "type": "richtext",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "id": "pretitle",
          "type": "richtext",
          "label": "Pre-title"
        },
        {
          "id": "title",
          "type": "richtext",
          "label": "Title"
        },
        {
          "id": "subtitle",
          "type": "richtext",
          "label": "Text"
        }
      ]
    }
  ]
}
{% endschema %}