{% assign set = section.settings %}

<style>
  #shopify-section-{{ section.id }} {
    padding: {{ set.ptop }}px 0 {{ set.pbottom }}px;
    background-color: {{ set.sectionbg }};
  }
  @media (max-width: 989px) {
    #shopify-section-{{ section.id }} {
      padding: {{ set.ptop_mob }}px 0 {{ set.pbottom_mob }}px;
    }
  }
</style>

<div class="section login">
  {% include 'section-bg-image' %}
  <div class="container">
    <div class="login__wrap">

      {% if set.image %}
        <div class="login__image">
          <img src="{{ set.image | img_url: '1000x' }}" alt="">
        </div> <!-- /.login__image -->
      {% endif %}

      <div class="login__form">
        <h1 class="title">Reset Password</h1>
        <div class="form">
          {% form 'reset_customer_password' %}
            {% if form.errors %}
              <div class="">
                {% for field in form.errors %}
                  <p class="form__error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                {% endfor %}
              </div>
            {% endif %}
            
            <div class="form__field">
              <label for="customer_email" class="form__label">Password</label>
              <input type="password" class="form__input" name="customer[password]" />
            </div>
  
            <div class="form__field">
              <label for="customer_email" class="form__label">Password Confirmation</label>
              <input type="password" class="form__input" name="customer[password_confirmation]" />
            </div>

            <div class="">
              {% include 'button', {
                id: section.id,
                text: 'RESET',
                class: 'm-black',
                type: 'submit'
              } %}
            </div>
          {% endform %}
        </div> <!-- /.form -->
      </div> <!-- /.login__form -->
    </div> <!-- /.login__wrap -->
  </div> <!-- /.container -->
</div> <!-- /.section -->



{% schema %}
{

}
{% endschema %}
