{% assign set = section.settings %}

<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ set.sectionbg }};
  }
</style>

<div class="section no-border login is-hidden has-image" data-login-forgot>

<div class="container my-3">
  <h2 class="title ta-center not-animated">Forgot your password?</h2>
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="login__wrap m-no-margin">
        {% if set.image %}
          <div class="login__image">
            <img src="{{ set.image | img_url: '1000x' }}" alt="">
          </div> <!-- /.login__image -->
        {% endif %}
    
        <div class="login__form">
          <div class="login__content">
          
            {% if set.title != blank %}
              <h2 class="title not-animated">{{ set.title }}</h2>
            {% endif %}
            {% if set.subtitle != blank %}
              <div class="subtitle not-animated">{{ set.subtitle }}</div>
            {% endif %}
            <div class="form">
              {% form 'recover_customer_password' %}
                {% if form.errors %}
                  <div class="">
                    {% for field in form.errors %}
                      <p class="form__error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
                
                <div class="form__field">
                  <label for="customer_email" class="label">Email *</label>
                  <input id="customer_email" type="email" class="form__input" name="email" />
                </div>
      
                <div>
                  {% include 'button', {
                    top: set.btntop,
                    id: section.id,
                    text: set.btn,
                    class: 'm-black',
                    type: 'submit'
                  } %}
                </div>
                <div>
                  <a href="/account/login" class="btn m-underline" data-login-link>{{ set.loginlink | default: 'Cancel' }}</a>
                </div>
              {% endform %}
            </div> <!-- /.form -->
          
          </div>
        </div> <!-- /.login__form -->
      </div> <!-- /.login__wrap -->
    </div>
  </div>
</div>


</div> <!-- /.section -->



{% schema %}

{
  "name": "Forgot Password",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "title",
      "type": "richtext",
      "label": "Title"
    },
    {
      "id": "subtitle",
      "type": "richtext",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }, 


    {
      "type": "header",
      "content": "Links"
    }, 
    {
      "type": "text",
      "id": "loginlink",
      "label": "Back to login text",
      "default": "Cancel"
    },


    {
      "type": "header",
      "content": "button"
    },
    {
      "id": "btn",
      "type": "text",
      "label": "Button text",
      "default": "SUBMIT"
    }
  ]
}

{% endschema %}
