<nav class="sidenav hide--desktop">
  <ul class="nav__items" data-accordions-container>
    {% for block in section.blocks %}
      {%- if block.type == 'banner_link' -%}
        {%- continue -%}
      {%- endif -%}
      {% if block.settings.menu != blank %}
        <li class="nav__item accordion" data-accordion>
      {% else %}
        <li class="nav__item">  
      {% endif %}
        {% if block.settings.menu != blank %}
          <h5 class="nav__link accordion__title" data-accordion-button>
            <span>{{ block.settings.title }}</span>
            <i class="icon-plus"></i><i class="icon-minus"></i>
          </h5>
          <ul class="accordion__content nav__items" data-accordion-content>
            {% for childlink in linklists[block.settings.menu].links %}
              <li class="nav__item">
                <a href="{{ childlink.url }}" class="nav__link m-level-2">
                  <span class="nav__label">{{ childlink.title | escape }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <a href="{{ block.settings.url }}" class="nav__link">
            <span class="nav__label">{{ block.settings.title }}</span>
          </a>
        {% endif %}
      </li> <!-- /.nav__item -->
    {% endfor %}
  </ul> <!-- /.nav__items -->
  
  {% comment %} BANNERS {% endcomment %}
  {% for block in section.blocks %}
    {% if block.type == 'banner_link' %}
      <li class="sidenav__banners">
        {%- for i in (1..2) -%}
          {%- capture image -%}banner{{ i }}_image{%- endcapture -%}
          {%- capture white_text -%}banner{{ i }}_white_text{%- endcapture -%}
          {%- capture pretitle -%}banner{{ i }}_pretitle{%- endcapture -%}
          {%- capture title -%}banner{{ i }}_title{%- endcapture -%}
          {%- capture button_url -%}banner{{ i }}_btnu{%- endcapture -%}
          {%- capture button_text -%}banner{{ i }}_btn{%- endcapture -%}

          {% if block.settings[image] != blank %}
            <a class="banner no-hover-link {% if block.settings[white_text] %}m-white{% endif %} lazyload" href="{{ block.settings[button_url] }}" {{ block.shopify_attributes }}>
              {% render 'rimage', image: block.settings[image] %}
              <div class="banner__content">
                <h4 class="pretitle not-animated h2"> {{ block.settings[pretitle] }}</h4>
                <h2 class="title not-animated h1-07"> {{ block.settings[title] }}</h2>
                <span class="btn m-transparent {% if block.settings[white_text] %}m-white {% else %} m-black{% endif %}" aria-hidden="true">{{ block.settings[button_text] }}</span>
              </div>
            </a>
          {% endif %}
        {%- endfor -%}
      </li>
    {% endif %}
  {% endfor %}
  {% comment %} END BANNERS {% endcomment %}
</nav> <!-- /.sidenav -->
<div class="sidenav-bg" data-open-menu></div>



{% schema %}
{
  "name": "Menu Mobile",
  "blocks": [
    {
      "type": "link",
      "name": "Regular Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link URL"
        }
      ]
    },
    {
      "type": "accordion_link",
      "name": "Accordion Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Link Text"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Sub-Menu"
        }
      ]
    },
    {
      "type": "banner_link",
      "name": "Banner Link",
      "settings": [
        {
          "type": "header",
          "content": "Banner 1"
        },
        {
          "type": "image_picker",
          "id": "banner1_image",
          "label": "Banner Image"
        },
        {
          "type": "checkbox",
          "id": "banner1_white_text",
          "label": "Make Text White?"
        },
        {
          "type": "text",
          "id": "banner1_pretitle",
          "label": "Pre-title"
        },
        {
          "type": "text",
          "id": "banner1_title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "banner1_btn",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "banner1_btnu",
          "label": "Button Link"
        },

        {
          "type": "header",
          "content": "Banner 2"
        },
        {
          "type": "image_picker",
          "id": "banner2_image",
          "label": "Banner Image"
        },
        {
          "type": "checkbox",
          "id": "banner2_white_text",
          "label": "Make Text White?"
        },
        {
          "type": "text",
          "id": "banner2_pretitle",
          "label": "Pre-title"
        },
        {
          "type": "text",
          "id": "banner2_title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "banner2_btn",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "banner2_btnu",
          "label": "Button Link"
        }
      ]
    }
  ]
}
{% endschema %}