{%- capture logo -%}
  <div class="site-header__logo">
    <a href="/">
      {%- if settings.svglogo != blank -%}
        {{- settings.svglogo -}}
      {%- elsif settings.logo != blank -%}
        <img src="{{ settings.logo | img_url: '200x' }}" alt="">
      {%- else -%}
        {{- shop.name -}}
      {%- endif -%}
    </a>
  </div>
{%- endcapture -%}

{% assign set = section.settings %}


<nav class="nav">
  <ul class="nav__items">
    <li class="nav__item m-level-1" data-trigger>{{ logo }}</li>

    {% for block in section.blocks %}
      {% if block.type contains 'dropdown' %}
        <li class="nav__item m-level-1 m-dropdown hide--mobile" data-trigger="parent" {{ block.shopify_attributes }}>
          <a href="{{ block.settings.url | default: '/' }}" class="nav__link m-level-1">{{ block.settings.title }}</a>
          {% render 'nav-dropdown', block: block %}
        </li>
      {% elsif block.type == 'link' %}
        <li class="nav__item m-level-1 hide--mobile" data-trigger {{ block.shopify_attributes }}>
          <a class="nav__link m-level-1" href="{{ block.settings.url }}">
            {{ block.settings.title }}
          </a>
        </li>      
      {% endif %}
    {% endfor %}
  </ul>
</nav> <!-- /.site-header__nav -->

{% schema %}
{
  "name": "Menu Desktop",
  "settings": [

  ],
  "blocks": [
    {
      "type": "link",
      "name": "Regular Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link URL"
        }
      ]
    },
    {
      "type": "dropdown_products",
      "name": "Dropdown Link",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link URL"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Sub-Menu"
        }
      ]
    }
  ]
}
{% endschema %}