{% assign set = section.settings %}
{% form 'customer', class: 'newsletter', id: 'newsletter_form' %}
  <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
  <input type="hidden" name="challenge" value="false" />
  <div class="container">
    <div>
      {% if set.title != blank %}
        <h2 class="title m-black not-animated h2">{{ set.title }}</h2>
      {% endif %}
      {% if set.pretitle != blank %}
        <h4 class="pretitle not-animated h4">{{ set.pretitle }}</h4>
      {% endif %}
    </div>
    <div class="form-field">
      <input type="text" class="input" name="contact[email]" placeholder="{{ set.placeholder }}">
      <button type="submit" class="btn m-underline">{{ set.btn }}</button>
    </div>
  </div>
{% endform %}


{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "pretitle",
      "label": "Title Secondary"
    },
    {
      "type": "text",
      "id": "placeholder",
      "label": "Input default text",
      "default": "Enter your email"
    },
    {
      "type": "text",
      "id": "btn",
      "label": "Button text",
      "default": "SUBSCRIBE"
    }
  ]
}
{% endschema %}
