{% assign set = section.settings %}

<style>
  #shopify-section-{{ section.id }} {
    background-color: {{ set.sectionbg }};
  }
</style>

<div class="section page-section">
  <div class="container">
    <!-- TITLE -->
    <div class="row justify-content-center">
      <div class="col-sm-12">
        <h1 class="title mb-5">{{ page.title }}</h1>
        <div class="page-content rte">
        </div>
      </div>
    </div>

    <!-- CONTNET -->
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="contact__details">
          <div>Phone:</div>   <div>+39 351 099 2668</div>
          <div>Fax:</div>     <div>+39 02 67 165 266</div>
          <div>Email:</div>   <div>laurus@laurus-online.com</div>
        </div> 

        <p>We are always happy to talk</p>

        <div class="form">
          {%- assign formId = 'ContactForm' -%}
          {% form 'contact', id: formId %}
            {% if form.errors %}
              <div class="">
                {% for field in form.errors %}
                  <p class="form__error">{{ field | capitalize }} - {{ form.errors.messages[field] }}</p>
                {% endfor %}
              </div>
            {% endif %}
            
            <div class="field floating-label">
              <label for="customizer_name" class="label">Name: <span class="label__info">(required)</span></label>
              <input type="text" class="input m-underline" name="contact[name]" id="{{ formId }}-name" required="" data-floating-label="">
            </div>

            <div class="field floating-label mt-4">
              <label for="customizer_name" class="label">Phone: <span class="label__info">(required)</span></label>
              <input type="text" class="input m-underline" name="contact[phone]" id="{{ formId }}-phone" required="" data-floating-label="">
            </div>

            <div class="field floating-label mt-4">
              <label for="customizer_name" class="label">Email: <span class="label__info">(required)</span></label>
              <input 
                  type="email" 
                  class="input m-underline"  
                  name="contact[email]" 
                  id="{{ formId }}-email" 
                  required="" 
                  {%- if form.errors contains 'email' -%}
                    aria-invalid="true"
                    aria-describedby="{{ formId }}-email-error"
                  {%- endif -%}
                  data-floating-label=""
                  value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
            </div>
     

            <div class="form__field">
              <label for="{{ formId }}-message" class="label">{{ 'contact.form.message' | t }}</label>
              <textarea rows="10" id="{{ formId }}-message" class="textarea form__input" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
            </div>
      
            <button type="submit" class="btn mt-3 m-black">{{ set.btn }}</button>
          {% endform %}
        </div> <!-- /.form -->
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="map-responsive">
          <iframe frameborder="0" scrolling="no" width="500" height="700" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=via%20Montenapoleone%208%2020121%20Milano&amp;t=m&amp;z=12&amp;output=embed&amp;iwloc=near" aria-label="via Montenapoleone 8 20121 Milano"></iframe>
        </div>
      </div>
    </div>

  </div>
</div>







{% schema %}

{
  "name": "Contact page",
  "settings": [
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },


    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "title",
      "type": "richtext",
      "label": "Title"
    },
    {
      "id": "subtitle",
      "type": "richtext",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }, 



    {
      "type": "header",
      "content": "button"
    },
    {
      "id": "btn",
      "type": "text",
      "label": "Button text",
      "default": "SEND"
    }
  ]
}

{% endschema %}
