{% assign set = section.settings %}

{% include 'page-image-header' %}

{% schema %}
{
  "name": "Page Header",
  "settings": [
    {
        "type": "header",
        "content": "Images"
    },
    {
        "type": "image_picker",
        "id": "header_image_desktop",
        "label": "Desktop"
    },
    {
        "type": "image_picker",
        "id": "header_image_mobile",
        "label": "Mobile"
    },
    {
        "type":   "range",
        "id":     "overlay_opacity",
        "min":       0,
        "max":       100,
        "step":      10,
        "unit":      "%",
        "label":     "Overlay opacity",
        "default":   0
    },
    {
        "type": "header",
        "content": "Title"
    },
     {
        "type":      "color",
        "id":        "page_title_colour",
        "label":     "Text colour",
        "default":   "#ffffff"
     }
  ]
}
{% endschema %}