<div class="section page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8 text-">
        <div class="page-content rte ta-center">
          {% if section.settings.title != blank %}
            <h2 class="title">{{ section.settings.title }}</h2>
          {% endif %}
          {% if section.settings.content != blank %}
            <div>{{ section.settings.content }}</div>
          {% endif %}
          {% if section.settings.btn_text != blank %}
            <a href="{{ section.settings.btn_url }}" class="btn m-black">{{ section.settings.btn_text }}</a>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Page Content",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    }
  ]
}
{% endschema %}