<div class="section page-section">
    <div class="container">
      <div class="row">
        {%- assign i = 100 -%}
        {% for block in section.blocks %}
        {% assign bset = block.settings %}
        <div class="col-sm-4 lookbook-image-gallery" {{ block.shopify_attributes }} data-aos="fade-up" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true" data-aos-delay="{{ i }}">
            {% comment %} Lookbook cover image {% endcomment %}
            <a class="lookbook-image-wrapper image-cover-block" href="{{ bset.lookbook_img_main | img_url: 'master' }}">
                <div class="text-over">
                    <h2 class="title h4">{{ bset.title }}</h2>
                    <p>View all</p>
                </div>
                <div class="image-overlay" style="opacity: {{ bset.overlay | times: 0.01 }}"></div>
                    <img src="{{ bset.lookbook_img_main | img_url: 'master' }}" />
            </a>
            {% comment %} The rest (hidden) lookbook images {% endcomment %}
            <div class="lookbook-gallery"> 
                {% comment %} Image #1 {% endcomment %}
                {% if bset.lookbook_img_one != blank %}
                    <a href="{{ bset.lookbook_img_one | img_url: 'master'}}"><img src="{{ bset.lookbook_img_one | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #2 {% endcomment %}
                {% if bset.lookbook_img_two != blank %}
                    <a href="{{ bset.lookbook_img_two | img_url: 'master'}}"><img src="{{ bset.lookbook_img_two | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #3 {% endcomment %}
                {% if bset.lookbook_img_three != blank %}
                    <a href="{{ bset.lookbook_img_three | img_url: 'master'}}"><img src="{{ bset.lookbook_img_three | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #4 {% endcomment %}
                {% if bset.lookbook_img_four != blank %}
                    <a href="{{ bset.lookbook_img_four | img_url: 'master'}}"><img src="{{ bset.lookbook_img_four | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #5 {% endcomment %}
                {% if bset.lookbook_img_five != blank %}
                    <a href="{{ bset.lookbook_img_five | img_url: 'master'}}"><img src="{{ bset.lookbook_img_five | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #6 {% endcomment %}
                {% if bset.lookbook_img_six != blank %}
                    <a href="{{ bset.lookbook_img_six | img_url: 'master'}}"><img src="{{ bset.lookbook_img_six | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #7 {% endcomment %}
                {% if bset.lookbook_img_seven != blank %}
                    <a href="{{ bset.lookbook_img_seven | img_url: 'master'}}"><img src="{{ bset.lookbook_img_seven | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #8 {% endcomment %}
                {% if bset.lookbook_img_eight != blank %}
                    <a href="{{ bset.lookbook_img_eight | img_url: 'master'}}"><img src="{{ bset.lookbook_img_eight | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #9 {% endcomment %}
                {% if bset.lookbook_img_nine != blank %}
                    <a href="{{ bset.lookbook_img_nine | img_url: 'master'}}"><img src="{{ bset.lookbook_img_nine | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #10 {% endcomment %}
                {% if bset.lookbook_img_ten != blank %}
                    <a href="{{ bset.lookbook_img_ten | img_url: 'master'}}"><img src="{{ bset.lookbook_img_ten | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #11 {% endcomment %}
                {% if bset.lookbook_img_eleven != blank %}
                    <a href="{{ bset.lookbook_img_eleven | img_url: 'master'}}"><img src="{{ bset.lookbook_img_eleven | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #12 {% endcomment %}
                {% if bset.lookbook_img_twelve != blank %}
                    <a href="{{ bset.lookbook_img_twelve | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twelve | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #13 {% endcomment %}
                {% if bset.lookbook_img_thirteen != blank %}
                    <a href="{{ bset.lookbook_img_thirteen | img_url: 'master'}}"><img src="{{ bset.lookbook_img_thirteen | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #14 {% endcomment %}
                {% if bset.lookbook_img_fourteen != blank %}
                    <a href="{{ bset.lookbook_img_fourteen | img_url: 'master'}}"><img src="{{ bset.lookbook_img_fourteen | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #15 {% endcomment %}
                {% if bset.lookbook_img_fifteen != blank %}
                    <a href="{{ bset.lookbook_img_fifteen | img_url: 'master'}}"><img src="{{ bset.lookbook_img_fifteen | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #16 {% endcomment %}
                {% if bset.lookbook_img_sixteen != blank %}
                    <a href="{{ bset.lookbook_img_sixteen | img_url: 'master'}}"><img src="{{ bset.lookbook_img_sixteen | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #17 {% endcomment %}
                {% if bset.lookbook_img_seventeen != blank %}
                    <a href="{{ bset.lookbook_img_seventeen | img_url: 'master'}}"><img src="{{ bset.lookbook_img_seventeen | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #18 {% endcomment %}
                {% if bset.lookbook_img_eighteen != blank %}
                    <a href="{{ bset.lookbook_img_eighteen | img_url: 'master'}}"><img src="{{ bset.lookbook_img_eighteen | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #19 {% endcomment %}
                {% if bset.lookbook_img_nineteen != blank %}
                    <a href="{{ bset.lookbook_img_nineteen | img_url: 'master'}}"><img src="{{ bset.lookbook_img_nineteen | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #20 {% endcomment %}
                {% if bset.lookbook_img_twenty != blank %}
                    <a href="{{ bset.lookbook_img_twenty | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twenty | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #21 {% endcomment %}
                {% if bset.lookbook_img_twentyone != blank %}
                    <a href="{{ bset.lookbook_img_twentyone | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twentyone | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #22 {% endcomment %}
                {% if bset.lookbook_img_twentytwo != blank %}
                    <a href="{{ bset.lookbook_img_twentytwo | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twentytwo | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #23 {% endcomment %}
                {% if bset.lookbook_img_twentythree != blank %}
                    <a href="{{ bset.lookbook_img_twentythree | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twentythree | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #24 {% endcomment %}
                {% if bset.lookbook_img_twentyfour != blank %}
                    <a href="{{ bset.lookbook_img_twentyfour | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twentyfour | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #25 {% endcomment %}
                {% if bset.lookbook_img_twentyfive != blank %}
                    <a href="{{ bset.lookbook_img_twentyfive | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twentyfive | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #26 {% endcomment %}
                {% if bset.lookbook_img_twentysix != blank %}
                    <a href="{{ bset.lookbook_img_twentysix | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twentysix | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #27 {% endcomment %}
                {% if bset.lookbook_img_twentyseven != blank %}
                    <a href="{{ bset.lookbook_img_twentyseven | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twentyseven | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #28 {% endcomment %}
                {% if bset.lookbook_img_twentyeight != blank %}
                    <a href="{{ bset.lookbook_img_twentyeight | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twentyeight | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #29 {% endcomment %}
                {% if bset.lookbook_img_twentynine != blank %}
                    <a href="{{ bset.lookbook_img_twentynine | img_url: 'master'}}"><img src="{{ bset.lookbook_img_twentynine | img_url: 'master'}}"/></a>
                {% endif %}
                {% comment %} Image #30 {% endcomment %}
                {% if bset.lookbook_img_thirty != blank %}
                    <a href="{{ bset.lookbook_img_thirty | img_url: 'master'}}"><img src="{{ bset.lookbook_img_thirty | img_url: 'master'}}"/></a>
                {% endif %}
            </div>
        </div>
        {%- assign i = i | plus : 100 -%}
        {% endfor %}
      </div>
    </div>
  </div>

{% schema %}
{
  "name": "Lookbooks",
  "blocks": [
  {
    "type": "lookbook",
    "name": "Lookbook",
    "settings": [
        {
            "type":     "header",
            "content":  "Lookbook thumbnail"
        },
        {
            "type":      "text",
            "id":        "title",
            "label":     "Title"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_main",
            "label":    "Cover image"
        },
        {
            "type":     "range",
            "id":       "overlay",
            "label":    "Overlay opacity",
            "min":      0,
            "unit":     "%",
            "max":      100,
            "step":     10,
            "default":  0
        },
        {
            "type":     "header",
            "content":  "Images"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_one",
            "label":    "Image #1"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_two",
            "label":    "Image #2"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_three",
            "label":    "Image #3"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_four",
            "label":    "Image #4"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_five",
            "label":    "Image #5"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_six",
            "label":    "Image #6"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_seven",
            "label":    "Image #7"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_eight",
            "label":    "Image #8"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_nine",
            "label":    "Image #9"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_ten",
            "label":    "Image #10"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_eleven",
            "label":    "Image #11"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twelve",
            "label":    "Image #12"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_thirteen",
            "label":    "Image #13"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_fourteen",
            "label":    "Image #14"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_fifteen",
            "label":    "Image #15"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_sixteen",
            "label":    "Image #16"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_seventeen",
            "label":    "Image #17"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_eighteen",
            "label":    "Image #18"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_nineteen",
            "label":    "Image #19"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twenty",
            "label":    "Image #20"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twentyone",
            "label":    "Image #21"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twentytwo",
            "label":    "Image #22"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twentythree",
            "label":    "Image #23"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twentyfour",
            "label":    "Image #24"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twentyfive",
            "label":    "Image #25"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twentysix",
            "label":    "Image #26"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twentyseven",
            "label":    "Image #27"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twentyeight",
            "label":    "Image #28"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_twentynine",
            "label":    "Image #29"
        },
        {
            "type":     "image_picker",
            "id":       "lookbook_img_thirty",
            "label":    "Image #30"
        }
    ]
  }
  ]
}
{% endschema %}