{% assign set = section.settings %}

{% include 'page-help-content' %}



{% schema %}
{ 
  "name": "Help",
  "class": "section",
  "tag": "section",
  "settings": [

  ],
  "blocks": [
    {
      "name": "Accordion",
      "type": "block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Regular Content"
        }
      ]
    }
  ]
}
{% endschema %}
