<div class="row align-items-center page__validation-wrapper">
    <div class="col-sm-6">
        <div class="p-5 text__block">
            <h2 class="h4 title not-animated">{{ section.settings.title }}</h2>
            {{ section.settings.content }}
            <div class="field">
                <input type="text" class="input m-underline" placeholder="Enter your LAURUS unique product code" style="opacity: 1;" data-validation-input>
            </div>
            <button type="submit" name="add" class="btn mt-3 m-primary add-to-cart" data-validation-btn>Verify</button>
            <div class="validation__message validation__error" style="display: none" data-validation-error>We couldn’t find your bag in our records</div>
            <div class="validation__message validation__success" style="display: none" data-validation-success>Your bag is genuine LAURUS product</div>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="{{ section.settings.block_image | img_url: 'master' }}"/>
    </div>
</div>

<script>
  window.validationCodes = "{{ section.settings.codes }}".split(', ');
</script>

{% schema %}
{
  "name": "Page Validation",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
        "type": "image_picker",
        "id": "block_image",
        "label": "Choose image"
    },
    {
        "type": "header",
        "content": "Codes"
    },
    {
      "type": "textarea",
      "id": "codes",
      "label": "Unique codes"
    }
  ]
}
{% endschema %}