{% include 'page-content-blocks' %}

{% schema %}
{
  "name": "Content Blocks",
  "blocks": [
  {
    "type": "image-text-block",
    "name": "Image with text block",
    "settings": [
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "select",
            "id": "image_position",
            "options": [
               { "value": "image_left", "label": "Image left / text right"},
               { "value": "image_right", "label": "Image right / text left"}
            ],
            "label": "Position"
        },
        {
            "type": "image_picker",
            "id": "block_image",
            "label": "Choose image"
        },
        {
            "type": "header",
            "content": "Content"
        },
        {
            "type":      "text",
            "id":        "title",
            "label":     "Title"
        },
        {
            "type":      "richtext",
            "id":        "block_text",
            "label":     "Text"
        },
        {
            "type":      "text",
            "id":        "title_two",
            "label":     "Title"
        },
        {
            "type":      "richtext",
            "id":        "block_text_two",
            "label":     "Text"
        },
        {
            "type":      "text",
            "id":        "title_three",
            "label":     "Title"
        },
        {
            "type":      "richtext",
            "id":        "block_text_three",
            "label":     "Text"
        }
      ]
    },
    {
        "type": "video-block",
        "name": "Video block",
        "settings": [
            {
                "type":      "text",
                "id":        "video_section_title",
                "label":     "Title"
            },
            {
                "type": "header",
                "content": "Video #1"
            },
            {
                "type":      "text",
                "id":        "video_one_url",
                "label":     "URL",
                "info":      "Upload your video to Settings > Files, copy full URL from there and paste in here"
            },
            {
                "type": "image_picker",
                "id": "video_one_poster",
                "label": "Placeholder image"
            },
            {
                "type": "header",
                "content": "Video #2"
            },
            {
                "type":      "text",
                "id":        "video_two_url",
                "label":     "URL",
                "info":      "Upload your video to Settings > Files, copy full URL from there and paste in here"
            },
            {
                "type": "image_picker",
                "id": "video_two_poster",
                "label": "Placeholder image"
            }
        ]
    },
    {
        "type": "text-block",
        "name": "Text block",
        "settings": [
            {
                "type": "header",
                "content": "Title"
            },
            {
                "type":      "text",
                "id":        "text_block_title",
                "label":     "Title"
            },
            {
                "type": "header",
                "content": "Main content"
            },
            {
                "type": "select",
                "id": "text_style",
                "options": [
                   { "value": "body_copy", "label": "Body copy"},
                   { "value": "italic_copy", "label": "Italic style"}
                ],
                "label": "Text style"
            },
            {
                "type": "select",
                "id": "text_alignment",
                "options": [
                   { "value": "text_left", "label": "Left"},
                   { "value": "text_center", "label": "Center"}
                ],
                "label": "Text alignment"
            },
            {
                "type":      "richtext",
                "id":        "text_block_content",
                "label":     "Text"
            }
        ]
    },
    {
        "type": "image-block",
        "name": "Image block",
        "settings": [
            {
                "type": "image_picker",
                "id": "image_block_image",
                "label": "Image"
            }
        ]
    }
  ]
}
{% endschema %}