{% form 'contact' %}
{% if form.posted_successfully? or form.errors %}
  {% assign openPopup = true %}
{% endif %}
<div class="popup customizer-popup {% unless openPopup %}is-hidden{% endunless %}" data-popup="customizer">
  <div class="popup-window">
    <button class="close" type="button" data-popup-close><i class="icon-close"></i></button>
    <div class="customizer">
      <a href="/" class="customizer__logo">
        {%- if settings.svglogo != blank -%}
          {{- settings.svglogo -}}
        {%- elsif settings.logo != blank -%}
          <img src="{{ settings.logo | img_url: '200x' }}" alt="">
        {%- else -%}
          {{- shop.name -}}
        {%- endif -%}
      </a>
      {% if form.posted_successfully? %}
        <h3 class="title h2 not-animated">{{ section.settings.success }}</h3>
      {% else %}
        {% if form.errors %}
          <div class="form__errors">{{ form.errors | default_errors }}</div>
        {% endif %}

        <h3 class="title h2 not-animated">{{ section.settings.title }}</h3>
        <div class="subtitle not-animated">{{ section.settings.text }}</div>
        <div class="customizer__form">
          <input type="hidden" name="contact[URL]" value="{{ request.host }}{{ request.path }}">
          <div class="customizer__type">
            <div class="checkbox">
              <input type="checkbox" name="contact[Customization Request Color]" value="Yes" id="type_Color">
              <label for="type_Color" class="label">Color</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="contact[Customization Request Hardware]" value="Yes" id="type_Hardware">
              <label for="type_Hardware" class="label">Hardware</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" name="contact[Customization Request Size]" value="Yes" id="type_Size">
              <label for="type_Size" class="label">Size</label>
            </div>
          </div>
          <div class="field">
            <label for="customizer_message" class="label fw-500">Tell us more about what you are dreaming of:</label>
            <textarea name="contact[body]" id="customizer_message" class="textarea">{% if form.body %}{{ form.body }}{% endif %}</textarea>
          </div>
          <div class="field floating-label {% if form.name %}is-focused{% endif %}">
            <label for="customizer_name" class="label">Name: <span class="label__info">(required)</span></label>
            <input type="text" class="input m-underline" name="contact[name]" id="customizer_name" {% if form.name %}value="{{ form.name }}"{% endif %} required data-floating-label>
          </div>
          <div class="field floating-label {% if form.email %}is-focused{% endif %}">
            <label for="customizer_email" class="label">Email: <span class="label__info">(required)</span></label>
            <input type="text" class="input m-underline" name="contact[email]" id="customizer_email" {% if form.email %}value="{{ form.email }}"{% endif %} required data-floating-label>
          </div>
          <div class="field floating-label {% if form.phone %}is-focused{% endif %}">
            <label for="customizer_phone" class="label">Phone: <span class="label__info">(option)</span></label>
            <input type="text" class="input m-underline" name="contact[phone]" id="customizer_phone" {% if form.phone %}value="{{ form.phone }}"{% endif %} data-floating-label>
          </div>
          <button class="btn m-primary">SUBMIT</button>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="popup-bg" data-popup-close></div>
</div>
{% endform %}

{% schema %}
{
  "name": "Pop Up Customization",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Customization Request"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>The perfect daily companion, the effortlessly chic Sascha in crocodile leather is versatility incarnate.</p>"
    },
    {
      "type": "text",
      "id": "success",
      "label": "Success Message",
      "default": "Success"
    }
  ]
}
{% endschema %}