{% assign set = section.settings %}

{% if set.visible %}
  {% include 'press-page-content' %}  
{% endif %}

{% schema %}

{
  "name": "Press Page",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },


    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "bgimage",
      "label": "Background image"
    },
    {
      "type": "range",
      "id": "bgwidth",
      "label": "Background width",
      "min": 1,
      "unit": "%",
      "max": 100,
      "step": 1,
      "default": 25
    },
    {
      "type": "select",
      "id": "bgpos",
      "label": "Background position",
      "options": [
        { "value": "left", "label": "left" },
        { "value": "right", "label": "right" }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "bgtop",
      "label": "Background top spacing",
      "min": 0,
      "unit": "%",
      "max": 100,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "bgedge",
      "label": "Background edge spacing",
      "min": -50,
      "unit": "%",
      "max": 50,
      "step": 1,
      "default": 0
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "press",
      "name": "Press item",
      "settings":[
        {
          "id": "image",
          "type": "image_picker",
          "label": "Press Image"
        },
        {
          "id": "title",
          "type": "textarea",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "date",
          "label": "Date"
        },
        {
          "id": "link",
          "type": "text",
          "label": "Read More",
          "default": "Read More"
        },
        {
          "id": "linku",
          "type": "url",
          "label": "Read More Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Press page section",
      "category": "Page",
      "blocks":[
        {
          "type": "press"
        },
        {
          "type": "press"
        },
        {
          "type": "press"
        }
      ]
    }
  ]
}

{% endschema %}





