{% assign set = section.settings %}
{% render 'section-styles', section: section %}
<div class="product-photos">
  <div class="container">
    <div class="row">
      {%- assign i = 100 -%}
      {% for image in product.images %}
        <div class="col-md-6" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true" data-aos-delay="{{ i }}" data-product-photo="{{ image.alt }}">
          <div class="product-photos-more">
            {% render 'rimage', image: image %}
          </div>
        </div>
        {%- assign i = i | plus : 100 -%}
      {% endfor %}
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Product Photos",
  "tag": "section",
  "class": "product-photos-section",
  "settings": [


    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}