<div
  class="product-recommendations"
  data-base-url="{{ routes.product_recommendations_url }}"
  data-product-id="{{ product.id }}"
  data-limit="3"
>
  {%- if recommendations.products_count > 0 or product.metafields.recommend.product.size != blank -%}
    {% assign set = section.settings %}
    {% render 'section-styles', section: section %}
    <div class="container collection"   data-aos="fade-up" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true">
      <div class="section__content">
        <div>
          {% if set.pretitle != blank %}
            <h4 class="pretitle not-animated">{{ set.pretitle }}</h4>
          {% endif %}
          {% if set.title != blank %}
            <h3 class="title h2 not-animated">{{ set.title }}</h3>
          {% endif %}
          {% if set.subtitle != blank %}
            <div class="subtitle not-animated">{{ set.subtitle }}</div>
          {% endif %}
          {% include 'button', {
            top: set.btntop,
            id: section.id,
            text: set.btn,
            url: set.btnu,
            class: 'm-underline'
          } %}
        </div>
        <div class="products-grid">
          {% if product.metafields.recommend.product.size == blank  %}
            <!-- case 1 -->
            {%- for product in recommendations.products -%}
              <div class="product-cell-wrap">
                {% render 'product-cell', product: product, is_top_colors: true %}
              </div>
            {%- endfor -%}
          {% else %}
            <!-- case 2 -->
            {%- for productHandle in product.metafields.recommend.product -%}
              {% assign _product = all_products[productHandle] %}
              <div class="product-cell-wrap">
                {% render 'product-cell', product: _product, is_top_colors: true %}
              </div>
            {%- endfor -%}
          {% endif %}
        </div>
      </div>
    </div>
  {%- endif -%}
</div>

{% if product.metafields.recommend.product.size == blank  %}
<script>
var loadProductRecommendationsIntoSection = function() {
  // Look for an element with class 'product-recommendations'
  var productRecommendationsSection = document.querySelector(".product-recommendations");
  if (productRecommendationsSection === null) { return; }
  // Read product id from data attribute
  var productId = productRecommendationsSection.dataset.productId;
  // Read base URL from data attribute
  var baseUrl = productRecommendationsSection.dataset.baseUrl;
  // Read limit from data attribute
  var limit = productRecommendationsSection.dataset.limit;
  // Build request URL
  var requestUrl = baseUrl + "?section_id=product-recommendations&product_id=" + productId + "&limit=" + limit;
  // Create request and submit it using Ajax
  var request = new XMLHttpRequest();
  request.open("GET", requestUrl);
  request.onload = function() {
    if (request.status >= 200 && request.status < 300) {
      var container = document.createElement("div");
      container.innerHTML = request.response;
      productRecommendationsSection.parentElement.innerHTML = container.querySelector(".product-recommendations").innerHTML;
    }
  };
  request.send();
};

// Listen for changes done in the Theme Editor
document.addEventListener("shopify:section:load", function(event) {
  if (event.detail.sectionId === "product-recommendations") {
    loadProductRecommendationsIntoSection();
  }
});
// Fetching the recommendations on page load
loadProductRecommendationsIntoSection();
</script>
{% endif %}

{% schema %}
{
  "name": "Product Recommendations",
  "tag": "section",
  "class": "product-recommendations-section no-border",
  "settings": [


    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },


    {
      "type": "header",
      "content": "Text"
    },
    {
      "id": "pretitle",
      "type": "richtext",
      "label": "Pre-title"
    },
    {
      "id": "title",
      "type": "richtext",
      "label": "Title"
    },
    {
      "id": "subtitle",
      "type": "richtext",
      "label": "Text"
    },

    {
      "type": "header",
      "content": "button"
    },
    {
      "type": "range",
      "id": "btntop",
      "label": "Top spacing",
      "min": -200,
      "max": 200,
      "step": 5,
      "default": 45
    },
    {
      "id": "btnu",
      "type": "url",
      "label": "Button link"
    },
    {
      "id": "btn",
      "type": "text",
      "label": "Button text",
      "default": "Enter text for button"
    }
  ]
}
{% endschema %}