{% assign set = section.settings %}
{% render 'section-styles', section: section %}

<div data-section-id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="product-main">
    <div class="product-main__container container">
      <div class="product-main__left" data-aos="fade-down" data-aos-easing="ease" data-aos-duration="800" data-aos-once="true">
        {% comment %} Check if product has any product videos {% endcomment %}
        {% for media in product.media %}
          {% if media.media_type == "video" %}
            {% assign video_exist = true %}
          {% endif %}
        {% endfor %}

        {% comment %} Show video play button {% endcomment %}
        {% if video_exist == true %}
        <a href="" class="product__video-control" data-product-video>Video</a>
        <div class="product__video-wrapper hide">
          {% for media in product.media %}
            {% include 'media' %}
          {% endfor %}
        </div>
        {% endif %}

        {% comment %} Show main product image {% endcomment %}
        {% render 'product-images' %}
      </div>
      <div class="product-main__right">
        {% render 'product-info', section: section %}
      </div>
    </div>
  </div>

  
  {% unless product == empty %}
    <script data-product-json type="application/json">
      {{ product | json }}
    </script>
  {% endunless %}
</div>


{% schema %}
{
  "name": "Product Main",
  "tag": "section",
  "class": "product-main-section",
  "settings": [
    {
      "type": "header",
      "content": "Monogram"
    },
    {
      "type": "checkbox",
      "id": "monogramEnable",
      "label": "Enable monogram?",
      "default": true
    },
    {
      "type": "text",
      "id": "monogramText",
      "label": "Monogram text",
      "default": "Personalize with a Monogram"
    },
    {
      "type": "text",
      "id": "monogramInputPlaceholder",
      "label": "Monogram input placeholder",
      "default": "Enter up to two letters"
    },
    {
      "type": "range",
      "id": "monogramInputLength",
      "label": "Monogram input max symbols",
      "min": 1,
      "max": 20,
      "step": 1,
      "default": 2
    },
    {
      "type": "product",
      "id": "monogramProduct",
      "label": "Monogram product"
    },

    {
      "type": "header",
      "content": "NEED HELP?"
    },
    {
      "type": "checkbox",
      "id": "help_show",
      "label": "Enable help info?",
      "default": true
    },
    {
      "type": "text",
      "id": "help_title",
      "label": "Title",
      "default": "NEED HELP?"
    },
    {
      "type": "richtext",
      "id": "help_email",
      "label": "Email text"
    },
    {
      "type": "richtext",
      "id": "help_phone",
      "label": "Phone text"
    },

    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}