

{% assign set = section.settings %}
{% render 'section-styles', section: section %}
{% paginate search.results by 10 %}

{% if search.performed %}
  <div class="{% if settings.collection_type == 'layout2' %}m-layout-2{% endif %}">
    <div class="container">
      <h1 class="title h2 ta-center not-animated">Search results for {{ search.terms }}</h1>
      <div class="section__content pt-5">
        <h2 class="title h3 mb-4 ta-center not-animated">Products</h2>
        <div class="products-grid {% if settings.collection_type == 'layout2' %}m-layout-2{% endif %}">
          {% for item in search.results %}
            {% if item.object_type == 'product' %}
              <div class="product-cell-wrap">
                {% render 'product-cell', { product: item } %}
              </div>
            {% endif %}
          {% endfor %}
        </div> <!-- /.products-grid -->
      </div>
      <div class="section__content pt-5">
        <h2 class="title h3 mb-4 ta-center not-animated">Articles</h2>
        <div class="products-grid">
          {% for item in search.results %}
            {% if item.object_type == 'article' %}
              <div class="product-cell-wrap">
                {% render 'post-cell', article: item %}
              </div>
            {% endif %}
          {% endfor %}
        </div> <!-- /.products-grid -->
      </div>
    </div>
  </div>
{% endif %}

{% endpaginate %}



{% schema %}
{
  "name": "Search",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    }
  ]
}

{% endschema %}