{% if section.settings.show_popup %}
<div class="subscription-popup" data-s-popup>
  <div class="subscription-popup__body">
    {% if section.settings.photo != blank %}
      <div class="subscription-popup__img">
        <img src="{{ section.settings.photo | img_url: 'master' }}"
          srcset="{{ section.settings.photo | img_url: 'master' }} 1x, {{ section.settings.photo | img_url: 'master', scale: 2 }} 2x">
      </div>
    {% endif %} {% comment %} /img-area {% endcomment %}
    <div class="subscription-popup__text">
      <h1>{{ section.settings.title }}</h1>
      {{ section.settings.text }}
      <div class="newsletter-form" id="mc_embed_signup">
        <form action="https://daiwear.us16.list-manage.com/subscribe/post-json?u=dcc7684ff8cf3c2241611e9ee&amp;id=61da4e08d4&c=?" method="post" id="mc-embedded-subscribe-form-3" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="input m-underline" id="mce-EMAIL" placeholder="Email Address" required>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none">Please enter a valid email address</div>
            <div class="response" id="mce-success-response" style="display:none">Thanks! Please check your email to confirm subscription</div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_dcc7684ff8cf3c2241611e9ee_61da4e08d4" tabindex="-1" value=""></div>
          <input type="submit" value="{{ section.settings.btn_text }}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </form>
      </div> {% comment %} /newsletter-form {% endcomment %}
    </div> {% comment %} /text-area {% endcomment %}  
  </div> {% comment %} /subscription-popup-body {% endcomment %}

  <div class="close-btn">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95.939 95.939" class="svg svg--close"><path xmlns="http://www.w3.org/2000/svg" d="M62.819,47.97l32.533-32.534c0.781-0.781,0.781-2.047,0-2.828L83.333,0.586C82.958,0.211,82.448,0,81.919,0   c-0.53,0-1.039,0.211-1.414,0.586L47.97,33.121L15.435,0.586c-0.75-0.75-2.078-0.75-2.828,0L0.587,12.608   c-0.781,0.781-0.781,2.047,0,2.828L33.121,47.97L0.587,80.504c-0.781,0.781-0.781,2.047,0,2.828l12.02,12.021   c0.375,0.375,0.884,0.586,1.414,0.586c0.53,0,1.039-0.211,1.414-0.586L47.97,62.818l32.535,32.535   c0.375,0.375,0.884,0.586,1.414,0.586c0.529,0,1.039-0.211,1.414-0.586l12.02-12.021c0.781-0.781,0.781-2.048,0-2.828L62.819,47.97   z"/></svg>
  </div> {% comment %} /close-btn {% endcomment %}
</div> {% comment %} /subscription-popup {% endcomment %}
<div class="subscription-popup-overlay" data-s-popup-overlay></div>
{% endif %}

{% schema %}
  {
    "name": "Pop Up Subscription",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_popup",
        "label": "Show pop up"
      },
      {
        "type": "image_picker",
        "id": "photo",
        "label": "Photo"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text",
        "default": "I'M IN"
      }
    ]
  }
{% endschema %}
