{% assign set = section.settings %}
{% if set.visible %}
  {% render 'text-intro-content', section: section, set %}
{% endif %}


{% schema %}
{
  "name": "Text intro",
  "tag": "section",
  "class": "section text-intro section-light",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },


    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },


    {
      "type": "header",
      "content": "Text"
    },
    {
      "id": "title",
      "type": "richtext",
      "label": "Title"
    },
    {
      "id": "subtitle",
      "type": "richtext",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Text intro",
      "category": "Text"
    }
  ]
}

{% endschema %}