{% assign set = section.settings %}
{% if set.visible %}
  {% include 'video-content' %}
{% endif %}


{% schema %}
{
  "name": "Video",
  "tag": "section",
  "class": "section video-section no-border",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },


    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },


    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },

    {
      "type": "header",
      "content": "Video Settings"
    },
    {
      "type": "video_url",
      "id": "video_youtube",
      "label": "Youtube link",
      "accept": ["youtube"],
      "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "Aspect ratio",
      "options": [
        {
          "value": "16:9",
          "label": "16:9"
        },
        {
          "value": "4:3",
          "label": "4:3"
        }
      ],
      "default": "16:9"
    },
    {
      "type": "text",
      "id": "video_shopify",
      "label": "MP4/OGV Video URL",
      "info": "You can use [Shopify admin storage](https://shopsweetdefeat.myshopify.com/admin/files) to upload video and get URL"
    },
    {
      "id": "videoimg",
      "type": "image_picker",
      "label": "MP4/OGV Video Placeholder image"
    }
  ],
  "presets": [
    {
      "name": "Video",
      "category": "Media"
    }
  ]
}

{% endschema %}