<div class="section account">
  <div class="container account__container">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="title">{{ 'customer.account.title' | t }}</h1>
      <a href="/account/logout">Logout</a>
    </div>

    <h2 class="subtitle mt-4">{{ 'customer.orders.title' | t }}</h2>

    {% paginate customer.orders by 20 %}
      {% if customer.orders.size != 0 %}
        <table class="responsive-table mt-4">
          <thead>
            <tr>
              <th>{{ 'customer.orders.order_number' | t }}</th>
              <th>{{ 'customer.orders.date' | t }}</th>
              <th>{{ 'customer.orders.payment_status' | t }}</th>
              <th>{{ 'customer.orders.fulfillment_status' | t }}</th>
              <th>{{ 'customer.orders.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for order in customer.orders %}
              <tr class="responsive-table-row">
                <td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
                <td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'abbreviated_date' }}</td>
                <td data-label="{{ 'customer.orders.payment_status' | t }}">{{ order.financial_status_label }}</td>
                <td data-label="{{ 'customer.orders.fulfillment_status' | t }}">{{ order.fulfillment_status_label }}</td>
                <td data-label="{{ 'customer.orders.total' | t }}">{{ order.total_price | money }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{{ 'customer.orders.none' | t }}</p>
      {% endif %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

    {% endpaginate %}

    <h2 class="subtitle mt-4">{{ 'customer.account.details' | t }}</h2>
    {% if customer.metafields.subscriptions.customer_string %}
      <!--BeginRechargeCode-->
      <p>
        <a href="/tools/recurring/customer/{{customer.metafields.subscriptions.customer_string}}/subscriptions/">Manage Subscriptions</a>
      </p>
      <!--EndRechargeCode-->
    {% endif %}<br>

    {{ customer.default_address | format_address }}

    <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }}
      ({{ customer.addresses_count }})</a>

  </div>
</div>