<div class="section account">
  <div class="container account__container">
    <h1>{{ 'customer.activate_account.title' | t }}</h1>
    <p>{{ 'customer.activate_account.subtext' | t }}</p>

    {% form 'activate_customer_password' %}
      {{ form.errors | default_errors }}

      <p>
        <label class="label-hidden" for="CustomerPassword">
          {{ 'customer.activate_account.password' | t }}
        </label>
        <input type="password" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">
      </p>

      <p>
        <label class="label-hidden" for="CustomerPasswordConfirmation">
          {{ 'customer.activate_account.password_confirm' | t }}
        </label>
        <input type="password" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">
      </p>

      <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
      <input type="submit" class="btn btn--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
    {% endform %}

  </div>
</div>