.collection {
  .title {
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  .subtitle {
    max-width: 600px;
  }

  .section__content {
    margin-top: $gutter*2;
    position: relative;
    padding-top: 0;
    @include mobile {
      padding-top: 150px;
      margin-top: 10px;
    }
    @include medium {
      padding-top: $gutter*2;
    }
  }
}


/*========= GLOBO FILTER =========*/
// Globo Filter Layout
.section__content {
  #gf-grid {
    margin-top: 40px;
    position: static;
  }
  #gf-tree {
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
  }
  .gf-sort-wrap {
    position: absolute;
    top: 17px;
    right: 0;
    width: 30%;
    @include medium {
      top: 57px;
    }
    .limit-by {
      display: none;
    }
  }
}

.spf-has-filter .collection  #gf-products {
  &:after {
    @include clearfix();
  }

}

// Globo Filter Option Selector Styles
.gf-top_one {
  .section__content {
    .gf-filter-contents {
      margin: 0 (-$gutter*2);
    }
    .gf-option-block {
      margin: 0 $gutter*2;
      width: auto;
      position: relative;
      &, &.is-collapsed {
        .gf-block-title h3 {
          margin-bottom: 0;
          padding: 0 0 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 0;
          border-bottom: 0;
          font-weight: 600;
          font-size: $fz-6;
          font-family: $ff-3;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          &:after {
            content: "\f0d7";
            font-size: 1.25em;
          }
        }
      }

    }
    .gf-block-content {
      width: 200px;
      left: 0;
      right: 0;
      margin-top: 5px;
    }
    .gf-option-box li {
      width: 100%;
      float: none;
    }
    .globo-selected-items-wrapper {
      margin-bottom: 0;
      margin-top: 15px;
      .selected-item>a.clear-refinements {
        @extend .btn;
        @extend .btn.m-primary;
        padding: 0;
        height: 36px;
        min-width: 0;
      }
      .selected-item>a:not(.clear-refinements) {
        padding: 7px 30px 8px 10px;
        background: #eeeeee;
        .gf-clear {
          right: 10px;
          &:before, &:after {
            height: 2px;
            background: $color-grey-light;
          }
        }
      }
    }
    .globo-selected-items {
      display: flex;
      align-items: center;
    }
    .selected-item.gf-option-label {
      float: none;
    }
  }
}

// Globo Filter Sorting Styles
.section__content {
  .sort-by {
    padding: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-bottom: 0;
    font-weight: 600;
    font-size: $fz-6;
    font-family: $ff-3;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background: none;
    &:before {
      display: none;
      width: auto;
      content: "\f0d7";
      font-size: 1.25em;
      background: none;
    }
  }
  .sort-by-toggle {
    display: none;
    padding: 0;
    height: auto;
    line-height: 1;
  }
  select.sortby-select {
    width: auto;
    padding: 0 20px 0 10px !important;
    height: auto !important;
    text-transform: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}

#changeSortBy+.select2 {
  min-width: 200px;
  width: auto !important;
  .select2-selection__rendered, .select2-results {
    text-align: left;
    color: inherit;
  }
  .select2-selection__rendered {
    padding-right: 5px;
    @include mobile() {
      padding-left: 0;
    }
  }
  .select2-selection--single {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    outline: none;
    @include mobile() {
      justify-content: flex-start;
    }
  }
  .select2-selection--single .select2-selection__arrow {
    width: auto;
    position: static;
    b {
      width: auto;
      border: none;
      display: inline-block;
      margin-top: 4px;
      margin-left: 0;
      position: static;
      &:after {
        display: inline-block;
        font: normal normal normal 1em/1.2 FontAwesome;
        content: "\f0d7";
        font-size: 1.25em;
      }
    }
  }
}
#select2-changeSortBy-results {
  padding: 15px;
  max-height: 300px;
  .select2-results__option {
    padding: 6px 0;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    color: inherit;
  }
}
.select2-dropdown {
  border: 1px solid #e3e3e3 !important;
  border-radius: 0;
}


@include mobile {
  .section__content .gf-sort-wrap {
    width: 100%;
  }
  .section__content .sort-by {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
  }
}

@include medium {
  .section__content .sort-by {
    border: none;
    width: auto;
  }
}


/*========= END GLOBO FILTER =========*/