.featured-items {

}
.featured-item {
  height: 100%;
  display: block;
  padding-bottom: 50px;
  text-decoration: none;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  .title {
    margin-top: 50px;
  }
}