.site-footer-container {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  @include mobile {
    display: block;
    position: static;
  }
}

.site-footer {
  padding-top: $gutter*4;
  color: $color-footer;
  background: $color-footer-bg;
  @include mobile {
    text-align: center;
  }

  .footer-cta-hidden & {
    margin-top: 0;
    padding-top: $gutter*4;
  }
  .title {
    color: inherit;
    letter-spacing: $ls-1;
  }

  .nav__link {
    color: inherit;
    font-size: $fz-6;
    &:hover {
      text-decoration: underline;
    }
  }
  .newsletter {
    background: transparent;
    padding: 0;
    .form-field {
      margin-top: 30px;
      width: 100%;
    }
    .form-field, .input {
      background: transparent;
    }
    .btn, .input {
      color: $color-white;
    }
    .btn {
      font-size: $fz-2;
      position: absolute;
      right: 0;
      top: 0;
    }
    .input {
      height: auto;
      padding-bottom: 15px;
      padding-right: $gutter*2;
      font-size: $fz-5;
      border-bottom: 2px solid $color-white;
      @include placeholder {
        color: $color-grey-light;
      }
    }
  }

}

.site-footer__top {
  .title {
    display: flex;
    white-space: nowrap;
    text-transform: uppercase;
    @include mobile {
      justify-content: center;
    }
  }
}

.site-footer__logo {
  img, svg {
    width: auto;
    max-height: 27px;
  }
  path,
  polygon {
    fill: currentColor !important;
  }
}
.site-footer__info {
  line-height: 1.6;
  font-size: 13px;
  position: relative;
  top: -0.32em;
  p {
    margin-bottom: 0;
  }
}

.site-footer__nav {
  .nav__col {
    +.nav__col {
      margin-left: $gutter*4;
      @include mobile {
        margin-left: 0;
      }
    }
    &:last-child {
      margin-left: auto;
    }
  }
  .nav__link {
    padding: 0.25em 0!important;
    white-space: nowrap;
    font-weight: 300;
    font-size: $fz-5;
    color: $color-grey-light;
  }
  .nav__items {
    margin-top: 30px;
    @include mobile {
      margin-top: 0;
    }
  }
  .social-links {
    margin: 0 (-30px) 0;

    @include mobile {
      margin-top: $gutter;
    }
    .nav__items {
      flex-direction: row;
    }
    .nav__item {
      margin-left: 25px;
    }
    .nav__link {
      padding: 5px;
      font-size: 31px;
      color: $color-white;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.site-footer__bottom {
  margin-top: $gutter*3;
  padding: $gutter*2 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-footer__bottom-menu {
  .nav__item {
    line-height: 1;
  }
  .nav__item + .nav__item {
    margin-left: $gutter;
  }
  .nav__link {
    padding: 0;
    color: $color-grey-dark;
  }
}
.site-footer__copy {
  font-size: $fz-5;
  font-weight: 300;
  p {
    margin-bottom: 0;
  }
  p+p {
    margin-top: 1em;
  }
  span {
    margin: 0 5px;
    vertical-align: middle;
    color: $color-red;
    font-size: 1.25em;
  }
}

@include mobile {
  .site-footer {
    padding-top: $gutter*2;
    .nav.m-flex {
      display: block;
      @include mobile {
        margin-top: 30px;
      }
    }
    .nav__col {
      margin-top: $gutter;
      @include mobile {
        margin-top: 0;
        border-top: 1px solid #000;
        #newsletter_form {
          padding: 30px 0 0;
          .form-field {
            width: 80%;
            margin: 20px auto;
            background: transparent;
            .input {
              background: transparent;
            }
          }
        }
        .title {
          margin: 0;
          padding: 15px 0;
        }
      }
      .nav__items {
        display: none;
      }
    }
    .nav__title {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0;
      padding-bottom: $gutter;
      border-bottom: 1px solid $color-brown-light;
      &.is-open {
        i {
          transform: rotate(-180deg);
        }
      }
      i {
        display: inline-block;
        font-size: 9px;
        color: $color-brown-light;
        transition: $transition-time;
      }
    }
  }
  .site-footer__logo {
    text-align: center;
  }
  .site-footer__info {
    margin-top: 25px;
    font-size: 14px;
  }
  .site-footer__top {
    padding-right: 0;
  }
  .site-footer__bottom {
    margin-top: 0;
    padding: $gutter 0;
    display: block;
    border: 0;
    text-align: center;
    .nav__items {
      flex: 1;
      justify-content: center;
    }
  }

  .site-footer__copy {
    max-width: 100%;
    margin: 0 auto;
    margin-top: $gutter;
    @include mobile {
      margin-top: 0;
    }
  }
  .site-footer__bottom-menu {
    margin-top: $gutter;
  }
}