.gallery-items {
  @include clearfix();
  margin: 50px (-$gutter) 0;
}

.gallery-item {
  display: block;
  float: left;
  width: 25%;
  padding: $gutter;
  position: relative;
  @include mobile {
    padding: 0;
    width: 50%;
  }
  &.m-large {
    width: 50%;
    @include mobile {
      width: 100%;
    }
  }
  &:hover {
    .gallery-item__overlay {
      opacity: 1;
    }
  }
}

.gallery-item__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: $gutter;
  left: $gutter;
  right: $gutter;
  bottom: $gutter;
  background: rgba(0, 0, 0, 0.5);
  color: $color-white;
  opacity: 0;
  transition: $transition-time;
  h3 {
    color: #fff;
  }
}

.block-image {
  @include mobile {
    margin-top: 30px;
  }
}

@include mobile {
  .section.gallery:after {
    display: none;
  }
}

.gallery.section {
  .container {
    p {
      max-width: 500px;
      margin: 0 auto;
    }
  }
}