
.site-header-container {
  position: fixed;
  z-index: 997;
  left: 0;
  right: 0;
  top: 0;
  transition: $transition-time;
  &:not(.m-transparent) {
    background: $color-header-bg;
  }
  &.is-scrolled {
    background: $color-header-bg;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  
    .site-header {
      color: $color-body;
      .site-header__logo {
        filter: invert(0);
        // @include mobile {
        //   height: auto;
        // }
      }
      & > .container {
        height: $header-height-compressed;
        @include mobile {
          height: 55px;
        }
      }
    }
  }


  .site-header__logo {
    height: 27px;
  }
}
.site-header {
  background: $color-header-bg;
  position: relative;
  font-size: $fz-header;
  // transition: $transition-time;
  &.m-transparent {
    background: none;
    color: $color-white;
    &.is-active {
      background: $color-header-bg;
      color: $color-body;
      .site-header__logo {
        filter: invert(0);
      }
      >.container {
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: #fff;
        }
      }
    }
    body.is-menu-open & {
      color: $color-body;
      background: $color-white;
    }
    .site-header__logo {
      transition: all 0.3s ease;
      filter: invert(1);
    }
  }

  body.is-menu-open & {
    color: $color-body;

  }

  >.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    transition: height 0.3s ease;
    position: relative;

    @include large-down {
      max-width: 100%;
    }
  }
  .nav__link {
    font-size: inherit;
    color: inherit;
    // letter-spacing: $ls-1;

    &.m-cart {
      position: relative;
      .cart-count {
        position: absolute;
        top: 12px;
        right: 10px;
        font-family: $ff-3;
        padding-top: 2px;
        padding-left: 0px;
      }
    }
  }
}



.site-header__logo {
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  img, svg {
    width: auto;
    height: 27px;
  }
}

.site-header__nav {
  margin: 0 auto;
  margin-left: -50px;
  flex: 1;
  font-size: $fz-5;
  .nav__item {
    &.m-level-1 {
      margin-left: 30px;
      position: relative;
    }
    &.m-level-1:first-child {
      margin-left: 50px;
      @include mobile {
        margin-left: 70px;
      }
    }
  }
  .nav__link.m-level-1 {
    white-space: nowrap;
    font-weight: 500;
    text-transform: uppercase;
    font-family: $ff-title;
    font-size: $fz-5;
  }

}
.site-header__tools {
  margin-left: $gutter*2;
  margin-right: -$gutter;
  justify-content: flex-end;
  font-size: $fz-3;
  position: relative;
  .nav__link {
    padding: $gutter/2 $gutter;
    position: relative;
    top: -5px;
    @include mobile {
      padding: 10px;
    }
  }
}



.cart-count {
  display: inline-flex;
  min-width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  background: $color-cart-count-bg;
  color: $color-cart-count;
  font-size: 10px;
  font-weight: normal;
  border-radius: 50%;
}

.site-header__toggle {
  display: block;
  font-size: $fz-5;
  font-weight: 500;
  span {
    display: block;
    width: 18px;
    height: 2px;
    background: currentColor;
    transition: $transition-time transform;
    opacity: 1;
    position: relative;
    +span {
      margin-top: 3px;
    }
    &:nth-child(2) {
      transition: none;
    }
  }
}


@include mobile {
  .topbar {
    position: relative;
    z-index: 2;
    .topbar__text {
      margin: 0;
      flex: 1;
      text-align: center;
      font-size: 14px;
      font-weight: normal;
      color: $color-body;
    }
  }
  .site-header {
    position: relative;
    z-index: 999;
    .container {
      height: 55px;
    }
  }
  .site-header__toggle {
    body.is-menu-open & {
      span {
        &:nth-child(1) {
          transform: rotate(-45deg);
          top: 5px;
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(45deg);
          top: -5px;
        }
      }
    }
  }
  .site-header__logo {
    text-align: center;
    img, svg {
      height: 23px;
    }
  }
  .site-header__tools {
    .nav__items {
      justify-content: flex-end;
    }
    .nav__link {
      font-size: 20px;
    }
  }
}