.skim_stor_addres {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: #f5f5f5;
    margin: 40px 0;
    .skim_stor_add_part {
        width: 33%;
        padding: 30px;;
        @include mobile {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}