.hero-container {
  display: flex;
  flex-wrap: wrap;

  &.m-slider {
    display: block;
    font-size: 0;
    .slick-dots {
      position: absolute;
      bottom: $gutter*4;
      button {
        background: $color-white;
      }
    }
    .hero {
      min-width: 0;
      max-width: none;
    }
  }
  &.m-grid {
    flex-wrap: nowrap;
    margin-left: 150px;
    @include mobile {
      flex-wrap: wrap;
      margin-left: 0;
    }
    .hero {
      min-width: 0;
      max-width: none;
      +.hero {
        margin-left: $gutter*2;
        @include mobile {
          margin-left: 0;
        }
      }
    }
    .hero__info {
      padding: $gutter*3;
    }
    .hero__title {
      font-size: $fz-3;
      letter-spacing: $ls-1;
    }
  }
  @include mobile {
    display: block;
  }
}
.hero {
  max-width: 50%;
  min-width: 50%;
  position: relative;
  background: $color-hero-bg;
  &.m-single {
    max-width: 100%;
    min-width: 100%;
  }
}
.hero__container {
  width: 100%;
  position: relative;
}
.hero__overlay {
  opacity: 0.26;
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.hero__info-wrap {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
.hero__info {
  padding: $gutter 0;
  z-index: 1;
  color: $color-hero;
  .pretitle {
    color: $color-brown;
    margin-bottom: 0;
  }
  &.m-white {
    color: $color-white;
    .pretitle {
      color: $color-white
    }
  }
}

.hero__title,
.hero__text {
  color: inherit;
}
.hero__title {
  color: inherit;
  .pretitle + & {
    margin-top: 0;
  }
  +.subtitle {
    margin-top: $gutter;
  }
}
.hero__text {
  margin-top: 1.5em;
  font-size: 1.75vw;
  line-height: 1.25;
  p {
    margin-bottom: 0;
  }
  p+p {
    margin-top: 0;
  }
}

.hero__img {
  height: 80vh;
  text-align: right;
  position: relative;
  margin-left: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
  @include mobile {
    height: 65vh;
    .hide--mobile {

    }
  }
}

.slick-slide {
  .hero__img {
    height: 120vh;
  }
}



.hero.m-blog {
  min-height: 0;
  height: auto;
  .hero__img {
    padding: 0;
  }
  .hero__title {
    font-size: $fz-title;
  }
  .hero__info {
    display: block;
    height: auto;
    position: static;
    text-align: center;
    transform: none;
  }
}



@include mobile {
  .hero {
    
  }
  .hero__info {
    width: 100%;
    white-space: initial;
    .subtitle {
      font-size: $fz-6;
      max-width: 100%;
    }
  }
  .hero__title {
    font-size: $fz-2;
  }


  .hero.m-blog {
    .hero__title {
      font-size: 24px;
    }
    .hero__img {
      padding: 0 $gutter;
    }
  }
}

/** Text Animation **/

@-webkit-keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpSD {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpSD {
  -webkit-animation-name: fadeInUpSD;
  animation-name: fadeInUpSD;
}

.slick-active .hero__info {
  animation-name: fadeInUpSD;
  animation-duration: 1s;
  opacity: 1;
}
