.image-with-text {
  .block-text {
    &.m-right { padding-left: $gutter*4; }
    &.m-left { 
      padding-right: $gutter*4; 
      @include mobile {
        padding-right: 0;
      }
    }
  }
}