.info-slider {
  .slider.m-custom-controls {
    .slider-arrow {
      padding: 0;
      display: flex;
      align-items: center;
      top: auto;
      bottom: $gutter*2;
      transform: none;
      font-size: $fz-6;
      letter-spacing: $ls-1;
      font-weight: bold;
      opacity: 1;
      &.slider-prev {
        left: $gutter*4;
      }
      &.slider-next {
        right: $gutter*4;
      }
      &:hover {
        opacity: 0.4;
      }
      i {
        top: 2px;
        font-size: 2em;
      }
      p {
        margin: 0 $gutter;
        display: inline-block;
      }
    }
  }
}

.info-slider__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 120px 50px;
  height: 100%;
  background: #f5f5f5;
  position: relative;
  @include mobile {
    padding: 50px;
  }
  .title {
    font-size: 18px;
  }
  p+p {
    margin-top: 2em;
  }

}