.lookbook-image-wrapper {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.3rem;
    @include medium {
        height: 340px;
    }
    @include mobile {
        height: 450px;
        margin-bottom: 15px;
    }
    .image-overlay {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        z-index: 1;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.6!important;
        }
    }
    .text-over {
        position: absolute;
        z-index: 2;
        text-align: center;
        .title, p  {
            color: #fff;
            margin: 0;
        }
        p {
            display: inline-block;
            position: relative;
            margin-top: 10px;
            &:after {
                content: '';
                height: 1px;
                background: #fff;
                width: 100%; 
                position: absolute;
                bottom: -5px;
                left: 0;
            }
        }
    }
}

.lookbook-gallery {
    display: none;
}