.newsletter {
  padding: $gutter*2 0;
  background: $color-newsletter-bg;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pretitle {
    margin: 10px 0 0 0;
    letter-spacing: 0.05em;
    @include mobile {
      text-transform: none;
      font-stretch: normal;
      font-weight: 100;
      letter-spacing: initial;
      font-size: $fz-6;
    }
  }
  .subtitle {
    margin-top: $gutter;
    line-height: 1.6;
    font-size: 13px;
  }
  .form-field {
    width: 215px;
    margin-top: $gutter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: $color-newsletter-input-bg;
    border-bottom: 2px solid $color-black;
  }
  .input {
    height: 30px;
    flex: 1;
    padding: 0;
    background: $color-newsletter-input-bg;
    border: 0;
    border-radius: 0;
    font-size: 13px;

    @include placeholder {
      color: rgba(102, 102, 102, 0.28);;
    }
  }
  .btn {
    height: 30px;
    padding: 0;
    min-width: 15px;
    max-width: 15px;
    font-size: 14px;
    font-stretch: normal;
  }
}


@include mobile {
  .newsletter {
    .container {
      display: block;
    }
    .form-field {
      justify-content: space-between;
      margin-top: 20px;
    }
    .input {
      width: auto;
      flex: 1;
      font-size: 14px;
    }
    .btn {
      letter-spacing: initial;
    }
  }
}