.page__validation-wrapper {
    .validation__message {
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 5px;
    }
    .validation__error {
        background: #EBA9BB;
        color: #8E2643;
    }
    .validation__success {
        background: #A9EBC8;
        color: #165D37;
    }
    .text__block {
        padding: 0 !important;
    }
}