.product-recommendations-section {
  .section__content {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      text-align: center;
      .products-grid {
        margin: 0 auto;
      }
      .product-cell-wrap {
      padding: 0;
        &:first-child {
          margin-top: 50px;
        }
      }
    }
  }
  .products-grid {
    min-width: 75%;
    max-width: 75%;
    @include mobile {
      max-width: 100%;
      max-width: 100%;
    }
  }
  // .btn {
  //   min-width: 180px;
  // }
}