.sidenav {
  width: 100%;
  padding: $gutter 0 0;
  transform: translate(0, -105%);
  transition: $transition-time;
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  background: $color-white;
  z-index: 996;
  opacity: 0;
  overflow: auto;
  body.is-menu-open & {
    transform: translate(0%, 0);
    opacity: 1;
  }
  .nav__items {
    padding: 0 $gutter;
    align-items: flex-start;
    flex-direction: column;
  }
  .nav__item {
    margin-top: -1px;
    width: 100%;
    flex: 1;
    border-top: 1px solid $color-grey-light;
    border-bottom: 1px solid $color-grey-light;
    &:first-child {
      border-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .nav__link {
    padding: $gutter 0;
    display: block;
    font-size: $fz-6;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: $ls-1;
    &.accordion__title {
      display: flex;
    }
    &.m-level-2 {
      padding: $gutter/2 0;
      text-transform: none;
      font-weight: 300;
      letter-spacing: normal;
      font-size: $fz-5;
    }
  }
  .accordion__content {
    padding: 0;
    .nav__item {
      margin-top: 0;
      border: 0;
    }
  }
}

.sidenav__banners {
  margin: $gutter 0 0;
  display: flex;
  .banner {
    .pretitle {
      font-size: $fz-5;
    }
    .title {
      font-size: 19px;
    }
  }
  .banner__content {
    top: 60%;
  }
}

.sidenav-bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  opacity: 0;
  transition: $transition-time;
  display: none;
  @include mobile {
    display: block;
  }
  body.is-menu-open & {
    opacity: 1;
    z-index: 995;
  }
}
