.text-intro {
  .container {
    max-width: $container-m;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include mobile {
      display: block;
      text-align: center;
    }
  }
  .pretitle {
    min-width: 60%;
    max-width: 60%;
    line-height: 1.6;
    @include mobile {
      min-width: 0;
      max-width: none;
      line-height: 1.25;
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
  .subtitle {
    line-height: 1.9;
  }
}