
.login {
  margin: $gutter*2 0;
  transition: $transition-time transform ease-in;
  @include mobile {
   margin: $gutter*2 0;
   .title.ta-center {
      text-align: left;
    }
  }
  &.is-hidden {
    margin: 0;
    transform: translate(-100%, 0%);
    height: 0;
    min-height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  .container {
    max-width: $container-m;
  }
}

.login__wrap {
  margin-top: $gutter*2;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
  background: $color-white;
  @include mobile {
    margin-top: 0;
    display: block;
    background: transparent;
  }
  .title + .subtitle {
    margin-top: $gutter;
  }
  .btn.m-black {
    width: 100%;
  }
  .btn.m-underline {
    margin-top: $gutter*2;
  }
}
.login__content {
  max-width: 100%;
  @include mobile {
    max-width: 100%;
  }
}
.login__form {
  flex: 1;
  @include mobile {
    padding: $gutter 0;
  }
  .label {
    font-stretch: condensed;
    font-size: $fz-5;
    font-weight: 500;
    text-transform: uppercase;
    @include mobile {
      font-size: 14px;
    }
  }
  .form__input {
    width: 100%;
    //max-width: 250px;
    height: 30px;
    border-color: transparent;
    background: #f5f5f5;
    color: $color-body;
    @include mobile {
      max-width: none;
      width: 100%;
    }
    &.textarea {
      height: 100px;
    }
  }
  .form__field {
    margin-top: $gutter*2;
    @include mobile {
      margin-top: $gutter;
    }
    .form__link {
      margin-top: 0.5em;
    }
    .label.m-secondary {
      margin-bottom: 0;
      margin-top: $gutter;
      font-size: 14px;
    }
    .radio {
      .label.m-secondary {
        margin-top: 0;
        font-size: 16px;
        @include mobile {
          font-size: 14px;
        }
      }
    }
  }
  .field-group {
    margin: 0 -20px;
    @include mobile {
      margin: 0;
    }
    .form__field {
      margin: $gutter*2 0 0 0;
      padding: 0 20px;
      min-width: 50%;
      max-width: 50%;
      @include mobile {
        padding: 0;
        margin-top: $gutter;
        min-width: 100%;
        max-width: 100%;
      }
    }
    .form__field+.form__field {
      margin: $gutter*2 0 0 0;
      @include mobile {
        margin-top: $gutter;
      }
    }
  }
}

.login__right {
  padding-left: $gutter*7;
  margin-left: $gutter*7;
  flex: 1;
  border-left: 1px solid $color-button;
  @include mobile {
    padding: 0;
    margin: $gutter*2 0 0;
    border: 0;
    .btn {
      margin-top: $gutter*2;
    }
  }
}


.login__image {
  min-width: 50%;
  max-width: 50%;
  @include mobile {
    display: none;
  }
}

// Login with image 
.login.has-image {
  margin: 0;
  align-items: flex-start;
  .login__wrap {
    margin-top: 0;
  }
  .login__content {
    max-width: 100%;
    @include mobile {
      max-width: 100%;
      padding: 0 $gutter;
      .btn {
        margin-top: $gutter*2;
      }
    }
  }
  .login__form {
    @include mobile {
      margin-top: 0;
      padding: $gutter*2 0;
    }
  }
  .login__buttons {
    .btn.m-underline {
      margin-top: 0;
    }
  }
  .form__link {
    margin-bottom: 20px;
    margin-top: $gutter*2;
    font-size: $fz-6;
    color: $color-body;
    font-weight: 500;
    font-stretch: condensed;
    span {
      margin-right: 0.5em;
    }
  }
}

.login.page-contact {
  .login__wrap .btn.m-black {
    min-width: 160px;
    height: 40px;
  }
  .login__form {
    .form__input {
      width: 100%;
      max-width: 100%;
      height: 40px;
      &.textarea {
        height: 100px;
      }
    }
    .label {
      text-transform: none;
    }
  }
  .form__field {
    &.m-select {
      padding-right: 20px;
      max-width: 50%;
      @include mobile {
        padding-right: 0;
        max-width: none;
      }
    }
  }
  
}