<!doctype html>
<html lang="en">

<head>
  {{ content_for_header }}
  {% include 'head' %}
</head>

<body class="template-{{ template.name }} {% if settings.animations_on %} animations-on {% endif %}">
  {% section 'popup-customizer' %}
  {% section 'subscription-popup' %}
  {% render 'header' %}
  {{ content_for_layout }}
  <div class="site-footer-container" data-site-footer>
    {% section 'footer' %}
  </div>

  {% include 'end' %}
  <!-- End of the body -->

  {% include 'globo.filter.action' %}
</body>
</html>