.accordion {
  border-bottom: 1px solid #555;
  border-top: 1px solid #555;
  font-size: $fz-6;
  &+.accordion {
    border-top: 0;
  }
  .accordion__title {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    padding: 20px 0;
    font-weight: bold;
    font-size: inherit;
    font-family: $ff-3;
    letter-spacing: $ls-1;
    position: relative;
    cursor: pointer;

    i {
      font-size: 10px;
    }
    .icon-minus {
      display: none;
    }
    &.is-open {
      .icon-plus {
        display: none;
      }
      .icon-minus {
        display: inline-block;
      }
    }
  }
  .accordion__content {
    font-size: $fz-5;
    display: none;
    margin-bottom: 20px;
  }
}