.banner {
  display: block;
  flex: 1;
  position: relative;
  &.m-white {
    color: $color-white;
    .title, .pretitle {
      color: inherit;
    }
  }
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
  .btn {
    margin-top: $gutter*2;
  }
}
.banner__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .pretitle {
    font-size: $fz-3;
  }
  .title {
    font-size: $fz-3;
  }
}