.currency-selector {
  padding: 10px 20px;
  @include mobile {
    padding: 10px;
  }
}
.currency-selector__dropdown {
  display: none;
}
.site-header {
  .select2-selection__arrow {
    display: none;
  }

  .select2-container {
    width: auto !important;
    vertical-align: top;
  }

  .select2-container--default .select2-selection--single {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30px;
    min-width: 30px;
    height: 30px;
    position: relative;
    border-radius: 0% !important;
    color: $color-black;
    background: transparent;
    border: none;
    outline: none;
  }

  .select2-container--default .select-lang {
    width: 80px;
    justify-content: flex-start;
    border-radius: 25px !important;
    border: 2px solid #000;
    background: transparent;
  }
}

.select2-selection__rendered,
.select2-results {
  text-align: center;

  .icon-flag {
    max-width: 22px;
  }
}

#select2-CurrencySelector-container {
  padding: 0;
  text-align: center;
  color: inherit;
}

#select2-weglot-lang-container {
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 0;

  +.select2-selection__arrow {
    display: block;
    width: 10px;
    height: 7px;
    background-size: contain;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);

    b {
      display: none;
    }
  }
}

.site-header.m-index {
  .select2-container--default .select-lang {
    border-color: $color-white;
    box-shadow: none;
  }
}

.currency-icon {
  width: 100%;
  min-height: 30px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  font-size: 0;
}
.currency-icon-eur {
  background-image: url('../images/flag-eur.svg');
}
.currency-icon-gbp {
  background-image: url('../images/flag-gbp.svg');
}
.currency-icon-usd {
  background-image: url('../images/flag-usd.svg');
}