.minicart-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  opacity: 0;
  z-index: -1;
  transition: $transition-time opacity;
  @include mobile {
    display: none;
  }
  .minicart.is-open + & {
    opacity: 1;
    z-index: 998;
  }
}
.minicart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 340px;
  padding: 30px 35px; 
  opacity: 0;  
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: $color-white;
  transform: translate(105%, 0);
  transition: $transition-time;
  @include mobile {
    top: 50px;
    width: 100%;
  }
  &.is-open {
    opacity: 1;  
    transform: translate(0%, 0);
  }
}

.minicart__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.minicart__close.btn.m-icon-only {
  padding: 0;
  letter-spacing: normal;
  font-size: 14px;
}

.minicart__body,
.minicart__footer  {
  text-transform: initial;
}




.minicart__items {
  margin-top: $gutter;
  padding-right: $gutter;
  margin-right: -$gutter;
  overflow: hidden;
  position: relative;
  flex: 1;
  .btn {
    font-size: $fz-7;
    font-weight: normal;
  }
}

.minicart__item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  &+& {
    margin-top: 25px;
  }
  &.is-monogram {
    .minicart__item-image {
      display: none;
    }
  }
  .btn {
    margin-top: $gutter;
  }
}

.minicart__item-image {
  display: block;
  width: 100%;
  padding: 0;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #666;
    opacity: 0.1;
    z-index: 1;
    filter: opacity(0.5);
  }
}

.minicart__item-info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  width: 100%;
  font-size: 13px;
}

.minicart__item-vendor {
  margin: 0 0 5px 0;
}

.minicart__item-title {
  min-width: 100%;
  max-width: 100%;
  margin: 0 0 $gutter;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: inherit;
  a {
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.minicart__item-price {
  min-width: 100%;
  max-width: 100%;
}

.minicart__item-options {
  min-width: 50%;
  max-width: 50%;
  +.minicart__item-price {
    min-width: 50%;
    max-width: 50%;
    text-align: right;
  }
}


.minicart__subtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-size: 13px;
  span {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: $fz-6;
  }
}

.minicart__buttons {
  .btn {
    width: 100%;
  }
}

.minicart__footer {

}





