.nav {
  display: flex;
}
.nav.m-vertical {
  display: block;
  .nav__items {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav__link {
    padding: $gutter/2 0;
  }
}
.nav.m-flex {
  display: flex;
  justify-content: space-between;
}
.nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  &.m-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.nav__link {
  display: inline-block;
  padding: $gutter;
  font-size: $fz-body;
  color: $color-header-link;

  &:hover {
    text-decoration: none;
  }
}
.nav__link.m-icon {
  padding: 10px;
  &.is-open {
    .icon-caret-down {
      transform: rotate(-180deg);
    }
  }
  .icon,
  i {
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
  }
}

.nav__title {
  font-size: $fz-3;
  font-weight: 600;
}

// Dropdown
.nav-dropdown {
  min-width: 200px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: -100%;
  left: 0;
  background: $color-dropdown-bg;
  pointer-events: none;
  transition: $transition-time transform ease;
  z-index: -1;
  opacity: 0;
  transform: translate(0, -105%);
  .nav__item.is-open & {
    pointer-events: auto;
    top: 100%;
    transform: translate(0, 0);
    opacity: 1;
  }
  .nav__items, .nav__item {
    width: 100%;
    display: block;
    .btn {
      margin-top: 20px;
    }
  }
  .nav__link {
    display: block;
    padding: 5px 0;
  }
}



