.option {
  border-color: transparent;
  &:focus {
    outline: none;
  }
  &.m-color {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: #ccc;
    border: 1px solid #fff;
    position: relative;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border: 2px solid transparent;
    }
    &.is-active {
      border-color: #999;
      &:after {
        border-color: #fff;
      }
    }
    &+& {
      margin-left: 10px;
    }
  }
  &.m-size {

  }
  &.m-soldout {
    color: $color-grey-dark;
  }
}
