.page-header {
    height: 600px;
    position: relative;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        display: block;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
    @include mobile {
        height: 480px;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .title {
        z-index: 1;
        padding: 0 20px;
        text-align: center;
    }
}