.pagination {
  display: inline-flex;
  align-items: center;
  font-size: $fz-5;
  font-stretch: condensed;
  font-weight: 500;
  text-transform: uppercase;
  .btn {
    margin: 0;
    &:disabled {
      opacity: 0.3;
    }
    i {
      font-size: 0.75em;
    }
  }
  .pagination-next {
    i {
      transform: rotate(180deg);
    }
  }
}
.pagination__of {
  margin: 0 1em;
}
.pagination-buttons,
.pagination-list {
  display: flex;
  align-items: center;
}

.pagination-list {
  justify-content: center;
  margin: 0 $gutter;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
  }
}
.pagination-link {
  display: block;
  margin: 5px;
  height: 3px;
  width: 40px;
  text-indent: -99999px;
  text-decoration: none;
  background: $color-blue;
  opacity: 0.3;
  &.is-current {
    opacity: 1;
  }
}