.page-text-image-blocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @include mobile {
        flex-direction: column;
    }
    & > div {
        width: 50%;
        @include mobile {
            width: 100%;
        }
    }
    .image-side {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        display: block;
        @include mobile {
            min-height: 300px;
        }
        @include mobile {
            order: 1;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            display: block;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: center;
            object-position: center;
        }
        &:before {
            content: '';
            display: block;
            padding-bottom: 80%;
        }
    }
    .text-side {
        @include mobile {
            order: 2;
        }
        .text-wrapper {
            max-width: 460px;
            margin: 0 auto;
            padding: 50px;
            @include mobile {
                max-width: 100%;
                padding: 30px 0;
            }
            .title {
                margin-bottom: 0;
            }
            .subtitle {
                color: #999;
                margin-top: 0;
            }
            hr {
                background: #000;
                opacity: 0.1;
                margin: 20px 0;
            }
            .block-text {
                @include mobile {
                    .btn {
                        margin-top: 30px;
                    }
                }
                strong {
                    font-family: $ff-title;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }
            }
        }
    }
    &.reverse-blocks {
        flex-direction: row-reverse;
        @include mobile {
            flex-direction: column;
        }
    }
}

.full-width-text-block {
    .pretitle {
        p {
            font-size: $fz-2;
        }
    }
}

.image-block-wrapper {
    height: 600px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        display: block;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
    @include mobile {
        height: 480px;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.button-block-wrapper {
    text-align: center;
    @include mobile {
        margin-top: 0 !important;
        .customize-btn {
            margin: 0;
        }
    }
}