

.popup {
  max-height: 100%;
  position: fixed;
  z-index: 999;
  &.is-hidden {
    display: none;
  }
}

.popup-bg,
.popup-window {
  position: absolute;
}

.popup,
.popup-bg {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.popup-bg {
  z-index: 998;
  background: black;
  opacity: 0.4;
}

.popup-window {
  max-height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  overflow-y: auto;
  background: $color-white;
}

.close {
  position: absolute;
  top: $gutter;
  right: $gutter;
  font-size: $fz-3;
  opacity: 1;
  background: none;
  border: none;
  &:hover {
    opacity: .5;
  }
}


@include mobile {
  .popup-window {
    width: 90%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    top: 5%;
    transform: none;
  }
  .close {
    width: 20px;
    height: 20px;
    right: 15px;
    top: 15px;
  }
}