.products-grid {
  @include row($gutter);
  @include mobile {
    @include row($gutter);
  }
}

.product-cell-wrap {
  @include cell(3, 0 $gutter);
  &:nth-child(n+4) {
    margin-top: $gutter*2;
    @include mobile {
      margin-top: 0;
    }
  }
  &.m-featured {
    @include cell(3/2, 0 $gutter);
    .product-cell {
      height: 100%;
      position: relative;
      padding-top: 82%;
    }
    .product-cell__img {
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .product-cell__bottom {
      position: absolute;
      left: 40px;
      bottom: 40px;
    }
    .product-cell__variants {
      display: none;
    }
    .product-cell__title {
      color: #fff;
      font-size: $fz-2;
    }
    .product-cell__price {
      color: #fff;
      font-size: $fz-2;
    }
  }
  @include mobile {
    @include cell(1, 0 $gutter);
  }
  @include medium {
    @include cell(2, 0 $gutter);
  }
}

.product-cell {
  text-align: left;

}
.product-cell__img {
  display: block;

  a {
    display: block;
  }
  .img {
    padding-top: (1/(700/467)*100%);
    position: relative;
    &.has-hover {
      img:nth-child(2) { display: none; }
      &:hover {
        img:nth-child(1) { display: none; }
        img:nth-child(2) { display: block; }
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.product-cell__bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  @include mobile {
    margin-bottom: 20px;
  }
  &.m-top-colors {
    display: block;
    .product-cell__info {
      margin-top: 10px;
    }
  }
}

.product-cell__info {
  font-size: $fz-4;
}

.product-cell__title {
  margin: 0;
  font-weight: 500;
  font-size: $fz-5;
  a {
    color: inherit;
    text-decoration: none;
  }
}
.product-cell__variants {
}
.product-cell__price {
  margin-top: 5px;
  margin-left: auto;
  margin-bottom: 0;
  color: #999999;
  font-size: $fz-5;
  .was-price {
    font-size: 1em;
    font-weight: 300;
    color: $color-grey-light;
  }
}



