.rimage {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;

  .no-js & {
    display: none;
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &:focus {
      outline-offset: -4px;
    }
  }
}

.rimage--full-height {
  height: 100%;
}