.search__wrapper {
    display: none;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    &.is-open {
        display: block;
        opacity: 1;
        visibility: visible;
    }
    .search__wrapper-bar {
        background: #fff;
        width: 100%;
        input:focus, textarea:focus, select:focus{
            outline: none;
        }
        .search__input {
            width: 100%;
            padding: 24px 40px 24px;
            border: none;
            font-weight: 300;
            font-size: 18px;
            @include placeholder {
                color: #ccc;
                font-weight: 300;
            }
        }
        .close {
            font-size: 17px;
            top: 25px;
            right: 40px;
        }
    }
    .hidden {
        display: none;
    }
}