.slick-dots,
.slider-dots {
  margin: -3px 0 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;

  li {
    margin: 0;
  }
  button {
    margin: 0 10px;
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    border: 5px solid $color-brown-light;
    background: $color-brown-light;
    opacity: 1;
    outline: none;
    text-indent: -9999px;
    position: relative;
    transition: $transition-time;
    @include mobile {
      width: 10px;
      height: 10px;
      border-width: 3px;
    }
  }

  .slick-active button,
  button.is-active {
    opacity: 1;
    border: 5px solid $color-brown;
    background: $color-brown;

  }
}
.slick-slide {
  img {
    display: inline-block;
  }
}

.slick-slider.m-vertical-dots,
.slider.m-vertical-dots {
  .slick-dots,
  .slider-dots {
    margin: 0;
    display: block;
    position: absolute;
    z-index: 20;
    right: -$gutter*3;
    top: 50%;
    transform: translate(0%, -50%);
    @include mobile {
      right: $gutter;
    }
    li:not(:first-child) {
      margin-top: $gutter/2;
    }
  }
  &.m-left-dots {
    .slick-dots,
    .slider-dots {
      right: auto;
      left: -$gutter*3;
    }
  }
}

.slick-slider.m-line-dots {
  .slick-dots,
  .slider-dots {
    width: 100%;
    margin: $gutter 0 0;
    li {
      cursor: pointer;
      &.slick-active button {
        opacity: 1;
      }
    }
    button {
      margin: 5px;
      height: 3px;
      width: 40px;
      border: none;
      border-radius: 0;
      background: $color-black;
      opacity: 0.3;
      &::before {
        display: none;
      }
      @include mobile {
        height: 2px;
        width: 20px;
      }
    }
  }
}

.slider-controls {
  display: flex;
  justify-content: center;
  position: relative;
  visibility: hidden;
  &.m-mounted {
    visibility: visible;
  }
  &.m-centered {
    margin-left: auto;
    margin-right: auto;
    max-width: $container-sm;
    align-items: center;
    .slick-arrow {
      margin-top: 0;
      position: static;
    }
    .slider-dots {
      margin: 0 $gutter;
      button {
        transform: translate(0, -25%);
      }
    }
  }
}

.slider-arrow2 {
  padding: 0;
  background: transparent;
  border: none;
  color: $color-brown-light;
  &:focus,
  &:active,
  &:hover {
    color: $color-brown;
    outline: none;
  }
}

.slick-arrow {
  margin-top: -15px;
  width: 10px;
  height: 30px;
  border: none;
  font-size: 0;
  text-indent: -9999px;
  // background: url('../images/slider-arrow-right.svg') no-repeat 0 0;
  background-size: contain;
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0.4;
  z-index: 1;
  &.slick-prev,
  &.slider-prev {
    right: auto;
    left: 0;
    transform: rotate(-180deg) translate(0, 10%);
  }
  &.m-icon {
    width: auto;
    height: auto;
    background: none;
    text-indent: 0;
    font-size: $fz-3;
    &.slick-prev,
    &.slider-prev {
      transform: none;
    }
  }
  &:focus,
  &:active,
  &:hover {
    outline: none;
  }
  &:hover {
    opacity: 1;
  }
  &.slick-disabled {
    visibility: hidden;
  }
  img {
    max-width: 12px;
  }
}




.slider.m-custom-controls {
  position: relative;
  @include mobile {
    padding: 0;
  }
  .slider-controls {
    position: static;
  }
  .slider-dots {
    margin-top: $gutter*2;
  }
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .slider-prev {
    left: 0;
  }
  .slider-next {
    right: 0;
  }
}

// Gallery
.slider.m-gallery {
  padding: 0 $gutter*3;
  @include mobile {
    padding: 0;
  }
}
