// Pop up subscription
.subscription-popup-overlay {
  display: none;
  background-color: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease;
  &.show {
    z-index: 998;
    opacity: 1;
    display: block;
  }
}
.subscription-popup {
  width: 640px;
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: -1;
  color: inherit;
  font-weight: 400;
  opacity: 0;
  transition: all 0.3s ease;
  h1 {
    margin-top: 0;
    font-size: 2.1em;
    line-height: 1.15;
  }
  p {
    font-weight: inherit;
  }
  .newsletter-form {
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.5);
    .input {
      width: 100%;
      margin-bottom: 15px;
      height: 30px;
      flex: 1;
      padding: 0;
      background: #fff;
      border: 0;
      border-bottom: 2px solid #000000;
      border-radius: 0;
      font-size: 13px;
      @include placeholder {
        color: rgba(102, 102, 102, 0.28);;
      }
    }
    .btn {
      height: 30px;
      width: 100%;
    }
  }
  &.show {
    visibility: visible;
    opacity: 1;
    z-index: 999;
  }
  .close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
    font-size: 14px;
    z-index: 999;
    cursor: pointer;
    svg {
      width: auto;
      height: 1em;
    }
    path {
      fill: currentColor;
    }
  }
}
.subscription-popup__body {
  display: flex;
  align-items: center;
  text-align: center;
}

.subscription-popup__img {
  min-width: 50%;
  max-width: 50%;
  img {
    display: block;
  }
}

.subscription-popup__logo {
  img {
    max-width: 60px;
  }
}

.subscription-popup__text {
  padding: 30px;
}

.error {
  font-size: 12px;
  font-weight: bold;
  color: #ff0000;
  padding-bottom: 10px;
  display: block;
}


@include mobile {
  .subscription-popup {
    padding: 30px;
    width: auto;
    max-height: none;
    left: 15px;
    right: 15px;
    overflow-y: auto;
    transform: translate(0, -50%);
    .close-btn {
      right: 10px;
      top: 10px;
      position: fixed;
    }
  }
  .subscription-popup__body {
    display: block;
    padding: 0;
  }
  .subscription-popup__img {
    display: none;
    max-width: 100%;
    img {
      display: inline-block;
    }
  }
  .subscription-popup__text {
    padding-left: 0;
    padding-right: 0;
  }
}