.vertical-slider-section {
  @include mobile {
    padding: 0 !important;
    background: $color-white !important;
  }
}
.vertical-slider {
  top: $header-height;
  position: -webkit-sticky;
  position: sticky;
  @include mobile {
    top: 50px;
  }
  .container {
    padding-left: 115px;
    position: relative;
    @include mobile {
      padding: 0;
    }
  }

  .s4__image + .s4__text {
    padding-right: 115px;
    @include mobile {
      padding: 40px 25px 25px 40px;
    }
  }
  &.m-vertical-dots.m-left-dots {
    .slider-controls {
      display: block;
      visibility: visible;
      position: absolute;
      left: $gutter;
      margin-top: 0;
      top: 52%;
      transform: translate(0, -50%);
      transition: $transition-time;
      @include mobile {
        top: 62%;
        left: 40px;
      }
    }
    .slider-dots {
      transform: none;
      position: static;
    }
    li {
      margin: $gutter*2 0;
      display: flex;
      align-items: center;
      @include mobile {
        margin: $gutter 0;
      }
      button {
        margin: 0;
        @include mobile {
          width: 6px;
          height: 6px;
          &.is-active {
            border-width: 3px;
          }
        }
        &.is-active + .dots-line {
          opacity: 1;
        }
      }
    }
    .dots-line {
      display: block;
      width: $gutter*6;
      height: 2px;
      background: $color-brown;
      opacity: 0;
      transition: $transition-time;
      @include mobile {
        display: none;
      }
    }

    .slider-arrow2 {
      @include mobile {
        transform: translate(-20%, 0);
      }
    }
  }
  &.is-fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &.is-hidden {
    display: none;
  }

}

.vertical-slide {
  position: relative;

  @include mobile {
    height: calc(100vh - 50px);
  }
}