.video {
  position: relative;
  height: 100%;
  button {
    width: 90px;
    height: 90px;
    border: none;
    background: url('../images/player.png') no-repeat center;
    color: #fff;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    cursor: pointer;
    outline: none;
  }
  video {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
  }
}
.video__player {
  height: 100%;
}
.video__text {
  color: #293d56;
  font-size: $fz-4;
}

.video--youtube {
  position: relative;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }