@keyframes bounce1 {
  0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px)
  }

  12.5% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px)
  }

  25% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }
}

@keyframes bounce2 {
  0%, 25% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px)
  }

  37.5% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px)
  }

  50% {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }
}