html {
  font-size: $fz-body;
}
body {
  min-height: 100vh;
  color: $color-body;
  font-family: $ff-body;
  font-size: $fz-body;
  font-weight: 100;
  position: relative;
  overflow-x: hidden;

}
img {
  max-width: 100%;
}

.no-js {
  display: none;
}

.hide {
  display: none !important;
}

.desktop--hide,
.hide--desktop {
  display: none !important;
}

@include mobile {
  body {
    padding-top: 60px;
  }
  .small--hide,
  .hide--mobile {
    display: none !important;
  }
  .desktop--hide,
  .hide--desktop {
    display: block !important;
  }

}