.form--search {
  width: 400px;
  margin-left: auto;
  margin-top: $gutter*2;
  .form__input {
    padding: $gutter/2 $gutter;
    width: 100%;
    border-width: 1px;
    border-radius: 5px;
  }
}

.form__error {
  color: $color-error;
}
.form__errors {
  margin-top: $gutter;
  color: $color-error;
  font-size: $fz-4;
  ul {
    list-style: none;
  }
}

.field-group {
  margin-top: $gutter;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  .field,
  .form__field {
    margin-top: 0;
  }
  .field+.field,
  .form__field+.form__field {
    margin-left: 10px;
  }
}

.form__input,
.input,
.select,
.textarea,
select.form-control {
  padding: 0;
  height: 40px;
  border: 2px solid $color-button;
  outline: none;
  background-color: $color-white;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: 0px;
  &.m-transparent {
    background-color: transparent;
  }
  &.m-underline {
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid currentColor;
  }
  &:focus {
    border-color: $color-black;
  }
}
.select,
select.form-control {
  padding-right: 5%;
  padding-left: 0;
  padding-bottom: 16px;
  background-image: url('../images/select.svg');
  background-position: right 5% top 50%;
  background-repeat: no-repeat;
  background-size: 8px auto;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  border: 0;

}
.textarea {
  height: 150px;
  padding: 0 10px;
}

.form__label-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__label,
.label {
  margin-bottom: 0;
  font-size: 14px;
  &.m-group {
    display: block;
    width: 100%;
  }
  &.m-secondary {
    opacity: 0.8;
  }
}
.label__info {
  color: #9f9f9f;
}

.form__field,
.field {
  display: flex;
  flex-direction: column;
  margin-top: $gutter;
  &.m-row {
    flex-direction: row;
  }
  &.m-centered {
    align-items: center;
  }
  &.m-select {
    position: relative;
    i {
      position: absolute;
      bottom: 20px;
      right: $gutter*2;
      transform: translate(0%, 50%);
      color: $color-button;
      font-size: 7px;
      @include mobile {
        right: $gutter;
      }
    }
  }
}

.floating-label {
  position: relative;
  &.is-focused {
    .label {
      margin-top: -20px;
      font-size: 14px;
    }
  }
  .label {
    position: absolute;
    top: 0;
    left: 0;
    transition: $transition-time;
  }
}

.form__buttons,
.buttons {
  margin-top: $gutter*2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .btn {
    margin-top: 0;
  }
}

.form__link {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  a {
    // color: $color-blue;
    // font-size: $fz-3;
    // font-weight: bold;
    svg {
      height: 0.6em;
    }
    path {
      fill: currentColor;
    }
  }
}

.radio, .checkbox {
  input {
    display: none !important;
    &:checked + .label {
      &:before {
        background: #000;
        box-shadow: 0 0 0 0.3em #fff inset;
      }
    }
  }
  .label {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: inline-block;
      margin-right: 1em;
      width: 25px;
      height: 25px;
      border: 2px solid currentColor;
      background: $color-white;
      border-radius: 50%;
      position: relative;
    }
  }
}
.checkbox {
  input {
    &:checked + .label {

    }
  }
  .label {
    &:before {
      border-radius: 0;
    }
  }
}

@include mobile {
  .form__label,
  .label {
    font-weight: bold;
  }
  .form--search {
    margin-top: $gutter;
    width: 100%;
  }
}