.image-cover-block {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        display: block;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
    }
}