.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: $color-body;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0 2em;
  transition: $btn-transition;
  min-width: 145px;
  border-radius: 0px;
  line-height: 1.15;
  font-weight: bold;
  font-size: $fz-button;
  font-family: $ff-3;
  letter-spacing: $ls-1;
  outline: none;
  text-transform: uppercase;

  &:hover {
    color: $color-body;
  }

  &.m-small {
    padding: 0 0.5em;
    min-width: 100px;
    height: 30px;
    font-size: $fz-6;
  }
  &.m-white {
    background: $color-white;
    border-color: $color-white;
    color: $color-black;
    &:hover {
      background: $color-black;
      border-color: $color-black;
      color: $color-white;
    }
  }
  &.m-black {
    background: $color-black;
    border-color: $color-black;
    color: $color-white;
    &:hover {
      background: $color-white;
      border-color: $color-black;
      color: $color-black;
    }
  }
  &.m-underline {
    padding: 0 0 0.85em 0;
    min-width: 0;
    height: auto;
    border: 0;
    border-bottom: 3px solid currentColor;
    color: $color-black;
    border-radius: 0;
    &.m-black, &.m-white {
      background: transparent;
      &:hover {
        border-color: currentColor;
      }
    }
    &.m-black {
      color: $color-black;
    }
    &.m-white {
      color: $color-white;
    }
  }
  &.m-animated {
    @include smoothShow(0, -25px);
  }
  &.m-icon-only {
    height: auto;
    padding: 1em;
    min-width: 0;
    background: none;
    color: $color-body;
  }
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: $color-black;
  text-decoration: none;
}

.btn:focus,
.btn.focus,
.btn:active,
.btn.active, 
.btn.is-active {
  outline: 0;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.3;
  pointer-events: none;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn--primary,
.btn.m-primary,
.btn.btn-primary {
  background-color: $color-button;
  color: $color-white;
  &:hover {
    background-color: $color-white;
    color: $color-button;
    border-color: $color-button;
  }
}
.btn--outline,
.btn.m-outline {
  background-color: $color-white;
  color: $color-button;
  border-color: $color-button;
  &:hover {
    background-color: $color-button;
    color: $color-white;
  }
  &.m-white {
    border-color: $color-white;
    color: $color-white;
    &:hover {
      color: $color-button;
      border-color: $color-button;
    }
  }
}
.btn--transparent,
.btn.m-transparent {
  background-color: transparent;
  color: $color-button;
  border-color: $color-button;
  &:hover {
    border-color: $color-white;
    background-color: $color-white;
  }
  &.m-white {
    border-color: $color-white;
    color: $color-white;
    &:hover {
      border-color: $color-button;
      background-color: $color-button;
    }
  }
}
.btn--secondary,
.btn.m-secondary {
  color: $color-white;
  background-color: $color-blue;
  border-color: $color-blue;
  &:hover {
    color: $color-blue;
    background-color: $color-white;
  }
  &:disabled:hover {
    color: $color-white;
    background-color: $color-blue;
  }
}

.link {
  display: inline-block;
  padding-bottom: 0.5em;
  font-weight: inherit;
  color: $color-button;
  font-size: inherit;
  font-stretch: condensed;
  transition: $btn-transition;
 
}
.link--small {
  font-size: $fz-6;
  padding-bottom: 0.1em;
  letter-spacing: 0.01em;
}