.sections-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.section {
  font-size: $fz-section;
  position: relative;
  z-index: 2;
  &:not(.no-border):after {
    content: "";
    display: block;
    height: 1px;
    max-width: calc(#{$container-xl} - #{$gutter*4});
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: $gutter*2;
    right: $gutter*2;
    background: #ccc;
  }
  @include mobile {
    &:not(.has-sticky) {
      overflow: hidden;
    }
  }
  p, li:not(.nav__item) {
    margin: 1em 0 0;
    line-height: 1.7;
  }

  .title,
  .subtitle,
  .pretitle {
    p {
      margin: 0;
      line-height: inherit;
    }
  }
  .list {
    margin-top: $gutter*4;
    @include mobile {
      margin-top: $gutter*2;
    }
  }
  .btn {
    margin-top: $gutter*3;
  }
}
.section__content {
  padding-top: $gutter*5;
  @include mobile {
    padding-top: $gutter*2;
  }
  &.m-spacing-2 {
    padding-top: $gutter;
  }
}
.section__bgimage {
  position: absolute;
  top: 0;
}

