.bmbs {
  padding: $gutter 0;
  border-bottom: 2px solid $color-blue;
  font-size: $fz-4;
  font-weight: 600;
  @include mobile {
    padding: $gutter/2 0;
    font-size: 14px;
  }
  a {
    color: inherit;
  }
  .circle-dot {
    margin: 0 0.5em;
    font-size: 1.5em;
    background-color: currentColor;
  }
}

.article-header {
  padding-top: $gutter*3;
  @include mobile {
    padding-top: $gutter;
  }
  .pretitle {
    text-transform: uppercase;
  }
}
.article-header__meta {
  margin-top: $gutter;
  font-size: $fz-5;
  font-weight: 500;
  font-stretch: condensed;
}
.article-header__image {
  min-width: 50%;
  max-width: 50%;
  @include mobile {
    min-width: 0;
    max-width: none;
  }
}
.article-header__text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: $gutter*2 $gutter*5;
}

.article {
  margin-top: $gutter;
}
.article__container {
  display: flex;
  align-items: flex-start;
}


.article__sidebar {
  width: 200px;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: $header-height;
  .product-cell {
    margin-top: 20px;
    @include mobile {
      max-width: 200px;
      margin: 20px auto 0;
    }
  }
  .product-cell__title {
    margin-top: 5px;
    font-size: $fz-5;
    font-family: $ff-body;
    font-weight: 500;
    font-stretch: condensed;
  }
  .product-cell__info {
    flex-direction: column;
  }
  .product-cell__info-left {
    order: 1;
  }
  .product-cell__info-right {
    order: 0;
  }
}


.article__content-wrap {
  flex: 1;
  padding-left: $gutter*2;
  @include mobile {
    padding-left: 0;
  }
  .pagination-buttons {
    margin: $gutter*8 0;
  }
}

.article__content-bottom {
  margin-top: $gutter*2;
  padding: $gutter 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $color-button;
  font-weight: bold;
  .pagination .btn {
    padding: 0;
    color: $color-button;
  }
}
.article__share {
  display: flex;
  align-items: center;
  .social-links {
    margin: 0 0 0 $gutter/2;
  }
  .nav__item {
    margin-top: 0;
  }
  .nav__link {
    color: $color-button;
    font-size: $fz-5;
  }
}


.article__content {
  margin-top: 20px;
  @include mobile {
    font-size: 14px;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 2em 0 1em;
    font-weight: bold;
  }
  h1 {
    font-size: 40px;
    @include mobile {
      font-size: 29px;
    }
  }
  h2 {
    font-size: 29px;
    @include mobile {
      font-size: 24px;
    }
  }
  h3 {
    font-size: 24px;
    @include mobile {
      font-size: 19px;
    }
  }
  h4 {
    font-size: 19px;
    @include mobile {
      font-size: 16px;
    }
  }
  h5 {
    font-size: 16px;
    @include mobile {
      font-size: 14px;
    }
  }
  h6 {
    font-size: 14px;
    @include mobile {
      font-size: 11px;
    }
  }
}
.article__row {
  display: flex;
  align-items: center;
}

@include media-query(small) {
  .article__container {
    flex-wrap: wrap;
  }
  .article__sidebar {
    margin-top: $gutter*2;
    order: 1;
    width: 100%;
    position: static;
  }
}

.post-cell__content {
  padding: 30px 0;
}

.posts--related {
  .post-cell {
    flex-direction: row;
    align-items: center;
  }
  .post-cell__image {
    width: 50%;
  }
  // .post-cell__content {
  //   padding-left: 30px;
  // }
}

// .template-article {
//   .posts__grid [class^=col]:nth-child(even) {
//     margin-top: $gutter*3;
//   }
// }

.post-cell__more {
  margin-top: 30px!important;
}