.blog-header {
  padding-top: $gutter*3;
  @include mobile {
    padding-top: $gutter;
  }
}

.blog-menu { 
  margin-top: $gutter*3;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  @include mobile {
    margin-top: $gutter;
  }
  .container {
    max-width: $container-s;
    flex: 1;
  }
  .nav__items {
    flex: 1;
    justify-content: center;
    @include mobile {
      display: block;
    }
  }
  .nav__item:not(:first-child) {
    margin-left: 10%;
    @include mobile {
      margin-left: 0;
    }
  }
  .nav__link {
    min-width: 90px;
    padding: 5px $gutter;
    text-transform: uppercase;
    font-weight: 500;
    font-size: $fz-5;
    line-height: 1;
    &.is-active {
      background: $color-brown-light;
    }
  }
}

