.cart-table {
  margin-top: $gutter*4;
  width: 100%;
  border: none;
  table-layout: fixed;

  th, td {
    width: 20%;
    vertical-align: middle;
    &:last-child {
      text-align: right;
    }
    &.m-image {
      width: 150px;
    }
    &.m-long {
      width: 65%;
    }
    &.m-variants {
      width: 25%;
      position: relative;
    }
    &.m-price {
      width: 15%;
    }
  }

  th {
    text-align: left;
    font-weight: 500;
    font-size: $fz-5;
    text-transform: uppercase;
    border-bottom: 2px solid #e4e4e4;
    letter-spacing: 0.01em;
  }

  td {
    padding: $gutter*3 0;
  }
  
  .field {
    margin-top: 0;
    position: relative;
  }
  .label {
    font-weight: 600;
    position: absolute;
    top: -25px;
    i {
      font-size: 0.8em;
    }
  }
  .select,
  .input {
    width: 200px;
    font-weight: 100;
  }
  .product-summary {
    .product-variant-text {
      margin: 0;
      font-size: $fz-4;
      color: $color-grey-dark;
      letter-spacing: 0.05em;
    }
  }
  .cart-product-image {
    display: block;
    text-align: center;
    img {
      display: block;
      max-width: 150px;
    }
  }
  .cart-remove-link {
    margin-top: $gutter;
  }
  .select {
    letter-spacing: 0.1em;

  }
}

.cart-price {
  letter-spacing: 0.01em;
  font-weight: 500;
  font-stretch: condensed;
  font-size: $fz-4;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
  margin-top: $gutter*3;
  .subtitle {
    max-width: 370px;
  }
}

.order-summary-box {
  text-align: right;
  .link {
    margin-top: 0.5em;
    font-size: $fz-5;
    font-weight: bold;
    font-stretch: normal;
    i {
      margin-right: 10px;
      display: inline-block;
      font-size: 0.75em;
    }
  }
  .btn {
    margin-top: 0;
    margin-left: $gutter;
  }
}
.order-summary-box__prices {
  text-align: left;
  p {
    font-size: $fz-4;
  }
  svg {
    height: 1em;
    color: #717171;
    fill: currentColor;
  }
}
.prices-summary {
  display: flex;
  justify-content: space-between;
  width: 315px;
  margin-left: auto;
  margin-bottom: $gutter*3;
  font-size: $fz-3;
  font-weight: 500;
}