/*================ Media Query Mixin ================*/
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false {
    @warn 'Breakpoint "#{$media-query}" does not exist';
  }
}

// Smooth appearing:
@mixin smoothShow($xShift: 0, $yShift: 0, $delay: 0, $items: 0, $bodyIn: false) {
  .animations-on & {
    opacity: 0;
    transform: translate($xShift, $yShift);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    @if $items == 0 and $delay != 0 {
      transition-delay: #{$delay}s;
    } 
  }

  @if $bodyIn == false {
    .animations-on .section-in & {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }
  } 
  @else {
    .animations-on .body-in & {
      opacity: 1;
      transform: translateX(0) translateY(0);
    }
  }
  @if $items > 0  {
    @for $i from 1 through $items {
      .animations-on &:nth-child(#{$i}) {
        transition-delay: #{$i * $delay}s;
      }
    }
  }
}

@mixin smoothZoom($initZoom: 0, $time: 1, $delay: 0, $bodyIn: false) {
  opacity: 0;
  transform: scale($initZoom);
  transition: all #{$time}s cubic-bezier(0.165, 0.84, 0.44, 1);
  @if $bodyIn == false {
    .section-in & {
      opacity: 1;
      transform: scale(1);
    }
  } 
  @else {
    .body-in & {
      opacity: 1;
      transform: scale(1);
    }
  }
  @if $delay != 0 {
    transition-delay: #{$delay}s;
  } 
}


@mixin placeholder {
  $placeholders: ":-moz" ":-webkit-input" "-moz" "-ms-input";

  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

@mixin mobile {
  @include media-query('mobile') {
    @content;
  }
}

@mixin medium {
  @include media-query('medium') {
    @content;
  }
}

@mixin medium-up {
  @include media-query('medium-up') {
    @content;
  }
}

@mixin large {
  @include media-query('large') {
    @content;
  }
}

@mixin large-up {
  @include media-query('large-up') {
    @content;
  }
}

@mixin large-down {
  @include media-query('large-down') {
    @content;
  }
}

@mixin widescreen {
  @include media-query('widescreen') {
    @content;
  }
}

@mixin row($margin) {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$margin};
}

@mixin cell($divider, $padding: 0 $gutter) {
  min-width: percentage(1 / $divider);
  max-width: percentage(1 / $divider);
  padding: $padding;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}