// ============== COLORS ==============
$color-black: #000000;
$color-black-light: #666;
$color-grey-dark: #999;
$color-grey-light: #bebebe;
$color-blue: #163b66;
$color-blue-grey: #8f9cb2;
$color-orange: #ff7f50;
$color-yellow: #fbc100;
$color-red: #ee2622;
$color-pink: #da4e82;
$color-pink-light: #fef7f1;
$color-green: #8ccc00;
$color-brown: #b88b4e;
$color-brown-light: #f1d9b2;
$color-white: #ffffff;

// Main colors
$color-body: $color-black;
$color-primary: $color-black;
// Buttons
$color-button: $color-black;
// Title
$color-title: $color-black;
$color-title-accent: $color-black;
// Link
$color-link-hover: $color-body;
$color-link: $color-body;
// Hero
$color-hero: $color-black;
$color-hero-bg: $color-black;
// Cart count
$color-cart-count: $color-white;
$color-cart-count-bg: $color-black;
// Header
$color-header-bg: $color-white;
$color-header-link: $color-black;
$color-dropdown-bg: $color-white;
// Footer
$color-newsletter-bg: $color-white;
$color-newsletter-input-bg: $color-white;
$color-footer: $color-white;
$color-footer-bg: $color-black;
$color-error: $color-red;
// Product
$color-add-to-cart-bg: $color-black;
$color-add-to-cart: $color-white;
// Product cell:
$color-product-cell-bg: #E7E7E7;
$color-product-cell-price: $color-grey-dark;

// ============== FONTS ==============
$fz-1: 36px;
$fz-2: 26px;
$fz-3: 21px;
$fz-4: 18px;
$fz-5: 16px;
$fz-6: 13px;
$fz-7: 12px;
$fz-title: $fz-1;
$fz-section: $fz-5;
$fz-body: $fz-5;
$fz-header: $fz-6;
$fz-header-dropdown: 13px;
// Product cell
$fz-product-cell-title: $fz-5;
$fz-product-cell-price: $fz-5;
$fz-product-cell-descr: $fz-5;
// Button
$fz-button: $fz-6;
$fz-button-large: $fz-5;

$ff-1: 'futura-pt', sans-serif;;
$ff-2: 'Times', serif;
$ff-3: 'forma-djr-banner', sans-serif;
$ff-body: $ff-1;
$ff-cursive: $ff-3;
$ff-title: 'Cormorant Garamond', sans-serif;

// Letter spacing
$ls-1: 0.2em;
$ls-2: 0.05em;

// ============== LAYOUT ==============
$container-xl: 1600px;
$container-l: 1200px;
$container-m: 1000px;
$container-s: 720px;
$container-sm: 540px;
$gutter: 20px;

$header-height: 100px;
$header-height-compressed: 75px;

/*============================================================================
  Grid Breakpoints and Class Names
    - Do not change the variable names
==============================================================================*/
$grid-medium: 768px;
$grid-large: 990px;
$grid-widescreen: 1400px;
$grid-xlarge: 1601px;
$grid-gutter: 30px;

$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$mobile: 'mobile';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';
$xlarge: 'xlarge';

// The `$breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $mobile '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})',
  $xlarge '(min-width: #{$grid-xlarge})',
);

// ============== ANIMATION ==============
$transition-time: 0.33s;
$btn-transition: 
  color $transition-time ease-in-out, 
  background-color $transition-time ease-in-out, 
  border-color $transition-time ease-in-out, 
  box-shadow $transition-time ease-in-out;
$animation-x: 50px;
$animation-y: 50px;

$icomoon-font-path: 'vendor/icomoon/fonts';