@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u6nex0');
  src:  url('fonts/icomoon.eot?u6nex0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u6nex0') format('truetype'),
    url('fonts/icomoon.woff?u6nex0') format('woff'),
    url('fonts/icomoon.svg?u6nex0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e909";
}
.icon-minus:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-sg:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e904";
}
