.shopify-challenge__container {
  padding: $gutter*10 0;
  .btn {
    background: $color-black;
    border-color: $color-black;
    color: $color-white;
    &:hover {
      background: $color-white;
      border-color: $color-black;
      color: $color-black;
    }
  }
}
.go-to-top {
  display: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: fixed;
  background: $color-white;
  right: 25px;
  bottom: $gutter*8;
  border: 1px solid $color-blue;
  img {
    width: 11px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.scroll-next {
  position: absolute;
  bottom: $gutter;
  left: 50%;
  transform: translate(0, -50%);
  img {
    width: $fz-body;
  }
}


.circle-dot {
  display: inline-block;
  position: relative;
  top: -0.06em;
  vertical-align: middle;
  margin: 0 1em;
  width: 0.25em;
  height: 0.25em;
  border-radius: 50%;
  background: $color-black;
}

.line-delimiter {
  margin: 0 auto;
  width: 100%;
  height: 4px;
  background: $color-blue;
  border-radius: 5px;
  &.is-tiny {
    width: 80px;
  }
}

.bulk-content {
  @include mobile {
    .btn {
      width: 100%;
    }
  }
}

.section.m-cta {
  @include mobile {
    .title {
      max-width: 200px;
      margin: 0 auto;
    }
  }
}

.map-responsive{
  overflow:hidden;
  padding-bottom: 90%;
  position:relative;
  height:0;
  @include mobile {
    margin-top: 20px;
  }
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}